.questionnaire-form__title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 40px
}

@media (max-width:767px) {
  .questionnaire-form__title {
    font-size: 18px;
    margin-bottom: 32px
  }
}

@media (max-width:479px) {
  .questionnaire-form__title {
    margin-bottom: 24px
  }
}

.questionnaire-form__wrapper {
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px
}

@media (max-width:767px) {
  .questionnaire-form__wrapper {
    margin: 0 -15px
  }
}

.questionnaire-form__name {
  color: #f90;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 32px
}

.questionnaire-form__part {
  border-bottom: 1px solid #222;
  padding: 24px 24px 40px
}

@media (max-width:767px) {
  .questionnaire-form__part {
    padding: 24px 15px
  }

  .questionnaire-form__part:first-child {
    padding-top: 32px
  }
}

.questionnaire-form__part:last-child {
  border-bottom: none
}

.questionnaire-form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 24px
}

@media (max-width:767px) {
  .questionnaire-form__group {
    display: block
  }
}

.questionnaire-form__group:last-child {
  margin-bottom: 0
}

.questionnaire-form__group--align {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}

.questionnaire-form__group--align .questionnaire-form__place--width {
  margin-bottom: 8px
}

.questionnaire-form__label {
  margin-bottom: 10px
}

.questionnaire-form__checkbox--icon {
  margin-right: 10px
}

@media (max-width:767px) {
  .questionnaire-form__checkbox--icon {
    margin-right: 3px
  }
}

@media (max-width:479px) {
  .questionnaire-form__checkbox--icon {
    margin-bottom: 8px
  }

  .questionnaire-form__checkbox--icon:last-child {
    margin-bottom: 0
  }
}

.questionnaire-form__checkbox--icon:last-child {
  margin-right: 0
}

.questionnaire-form__checkbox--icon label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #222;
  border-radius: 4px
}

.questionnaire-form__checkbox--icon label:before {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -2;
  order: -2
}

.questionnaire-form__checkbox--icon label:after {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  order: -1;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/images/viber-icon-d0866745.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 7px
}

.questionnaire-form__checkbox--whatsapp label:after {
  background-image: url(/images/whatsapp-icon-d3eb40c9.svg)
}

.questionnaire-form__checkbox--telegram label:after {
  background-image: url(/images/telegram-icon-7c7d5b7c.svg)
}

.questionnaire-form__place {
  width: 100%
}

@media (max-width:767px) {
  .questionnaire-form__place {
    margin-bottom: 24px
  }

  .questionnaire-form__place:last-child {
    margin-bottom: 0
  }
}

.questionnaire-form__place--width {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 33.3%;
  padding-right: 16px
}

@media (max-width:767px) {
  .questionnaire-form__place--width {
    width: 100%;
    padding-right: 0
  }
}

.questionnaire-form__clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width:410px) {
  .questionnaire-form__clock .questionnaire-form__checkbox {
    padding-top: 16px
  }
}

.questionnaire-form__input {
  margin-right: 16px
}

.questionnaire-form__input:last-child {
  margin-right: 0
}

.questionnaire-form__input label {
  color: #5c5c5c;
  margin-right: 10px
}

.questionnaire-form__clock-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px
}

.questionnaire-form__clock-group label {
  color: #5c5c5c;
  margin-right: 10px
}

.questionnaire-form__clock-group .questionnaire-form__input-time {
  width: 64px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  text-align: center
}

@media (max-width:485px) {
  .questionnaire-form__clock-group .questionnaire-form__input-time {
    width: 46px;
    height: 46px;
    padding: 0 10px
  }
}

.questionnaire-form__clock-group .questionnaire-form__input-time--hours {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none
}

.questionnaire-form__clock-group .questionnaire-form__input-time--minutes {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.questionnaire-form__selects {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px
}

.questionnaire-form__selects .questionnaire-form__place--width {
  padding: 0 8px;
  margin-bottom: 24px
}

.questionnaire-form__selects .questionnaire-form__place--width:nth-last-child(-n+3) {
  margin-bottom: 0
}

@media (max-width:767px) {
  .questionnaire-form__selects .questionnaire-form__place--width:nth-last-child(-n+3) {
    margin-bottom: 24px
  }
}

.questionnaire-form__params {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1023px) {
  .questionnaire-form__params {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.questionnaire-form__parameter {
  width: 33.3%;
  margin-bottom: 24px
}

@media (max-width:1023px) {
  .questionnaire-form__parameter:first-child {
    width: 100%
  }
}

@media (max-width:767px) {
  .questionnaire-form__parameter {
    width: 100%
  }

  .questionnaire-form__parameter .questionnaire-form__place {
    margin-bottom: 0
  }
}

.questionnaire-form__parameter:last-child {
  margin-bottom: 0
}

@media (max-width:767px) {
  .questionnaire-form__parameter:last-child {
    margin-bottom: 24px
  }
}

.questionnaire-form__parameter--inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.questionnaire-form__parameter--inputs .questionnaire-form__place {
  width: 54px;
  margin-right: 16px
}

.questionnaire-form__parameter--inputs .questionnaire-form__place:last-child {
  margin-right: 0
}

.questionnaire-form__parameter--inputs .input__control {
  height: 46px;
  text-align: center;
  color: #fff;
  padding: 0 10px
}

.questionnaire-form__radios {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.questionnaire-form__radio label {
  position: relative;
  display: block;
  border: 1px solid #222;
  padding: 11.6px 22px;
  border-right: .5px;
  cursor: pointer;
  -webkit-transition: background-color .3s, color .3s, border .3s;
  transition: background-color .3s, color .3s, border .3s
}

@media (max-width:479px) {
  .questionnaire-form__radio {
    width: 50%;
    text-align: center
  }
}

.questionnaire-form__radio:first-child label {
  border-radius: 4px 0 0 4px
}

.questionnaire-form__radio:last-child label {
  border-right: 1px solid #222;
  border-radius: 0 4px 4px 0
}

.questionnaire-form__radios--size .questionnaire-form__radio label {
  width: 55px;
  text-align: center;
  padding: 11.6px 5px
}

@media (max-width:479px) {
  .questionnaire-form__radios--size .questionnaire-form__radio {
    width: auto
  }
}

.questionnaire-form__radio-input {
  position: absolute;
  opacity: 0
}

.questionnaire-form__radio-input:checked+label {
  color: #171717;
  background-color: #f90;
  border-color: #171717
}

.questionnaire-form__radio-input:disabled+label {
  background-color: #222;
  opacity: .5
}

.questionnaire-form__selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .questionnaire-form__selects .questionnaire-form__place:last-child {
    margin-bottom: 0
  }
}

.questionnaire-form__place--checkboxes .questionnaire-form__checkbox {
  margin-bottom: 8px
}

.questionnaire-form__place--checkboxes .questionnaire-form__checkbox:last-child {
  margin-bottom: 0
}

.questionnaire-form__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 24px
}

@media (max-width:767px) {
  .questionnaire-form__list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.questionnaire-form__item {
  width: 33.3%
}

@media (max-width:767px) {
  .questionnaire-form__item {
    width: 100%;
    margin-bottom: 24px
  }

  .questionnaire-form__item:last-child {
    margin-bottom: 0
  }
}

.questionnaire-form__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 22px
}

.questionnaire-form__elem:last-child {
  margin-bottom: 0
}

.questionnaire-form__elem .input {
  width: 88px;
  margin-right: 16px
}

.questionnaire-form__elem .input .input__control {
  color: #fff;
  padding: 0 10px;
  text-align: center
}

.questionnaire-form__elem .questionnaire-form__checkbox {
  padding-bottom: 11px
}

.questionnaire-form__elem-input label {
  color: #5c5c5c
}

.questionnaire-form__elem-input input:disabled {
  background-color: #222
}

.questionnaire-form__checkboxes .questionnaire-form__checkbox {
  margin-bottom: 8px
}

.questionnaire-form__textarea {
  width: 100%;
  min-height: 128px;
  color: #fff;
  font: 400 16px Arial, sans-serif;
  padding: 16px;
  background: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  resize: none;
  margin-bottom: 9px;
  overflow: auto
}

@media (max-width:767px) {
  .questionnaire-form__textarea {
    min-height: 138px
  }
}

.questionnaire-form__text {
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1;
  text-align: right
}

.questionnaire-form__option {
  margin-bottom: 16px
}

.questionnaire-form__option:last-child {
  margin-bottom: 0
}

.questionnaire-form__option--width {
  max-width: 242px
}

@media (max-width:479px) {
  .questionnaire-form__option--width {
    display: none
  }
}

.questionnaire-form__option--margin {
  margin-bottom: 24px
}

.questionnaire-form__option-text {
  padding-left: 22px;
  margin-bottom: 8px
}

.questionnaire-form__option-text:last-child {
  margin-bottom: 0
}

.questionnaire-form__option-text p {
  color: #5c5c5c
}

.questionnaire-form__option-text p span {
  color: #fff
}

.questionnaire-form__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .questionnaire-form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:479px) {
  .questionnaire-form__inner .questionnaire-form__radios {
    margin-bottom: 24px
  }
}

@media (max-width:479px) {
  .questionnaire-form__inner .questionnaire-form__radio-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 41px;
    height: 36px;
    padding: 0
  }
}

.questionnaire-form__status {
  margin-left: 24px
}

@media (max-width:767px) {
  .questionnaire-form__status {
    margin-left: 0
  }
}

.questionnaire-form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .questionnaire-form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:767px) {
  .questionnaire-form__bottom-part {
    margin-bottom: 24px
  }

  .questionnaire-form__bottom-part:last-child {
    margin-bottom: 0
  }
}

@media (max-width:767px) {
  .questionnaire-form__bottom-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.questionnaire-form__btn-clear {
  color: #5c5c5c;
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 24px 0 0;
  cursor: pointer
}

@media (max-width:767px) {
  .questionnaire-form__btn-clear {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin: 0
  }
}

@media (max-width:767px) {
  .questionnaire-form__btn-submit {
    margin-bottom: 24px
  }
}

.questionnaire-form__bottom-text {
  font-size: 18px
}

@media (max-width:767px) {
  .questionnaire-form__bottom-text {
    font-size: 16px;
    margin-bottom: 16px
  }
}

@media (max-width:479px) {
  .questionnaire-form__bottom-text {
    margin-bottom: 8px
  }
}

.questionnaire-form__bottom-price {
  color: #f90;
  font-size: 18px
}

.questionnaire-form__bottom-price span {
  font-size: 14px;
  color: #fff
}

.questionnaire-form__radios--disabled .questionnaire-form__radio {
  pointer-events: none
}