.params__tables {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 24px
}

@media (max-width:767px) {
  .params__tables {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.params__part {
  max-width: 334px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

@media (max-width:1260px) {
  .params__part {
    max-width: 100%;
    width: 50%
  }
}

@media (max-width:767px) {
  .params__part {
    width: 100%
  }
}

.params__part:first-child {
  margin-right: 24px
}

@media (max-width:1260px) {
  .params__part:first-child {
    margin-right: 8px
  }
}

@media (max-width:767px) {
  .params__part:first-child {
    margin-right: 0;
    margin-bottom: 24px
  }
}

.params__table {
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 16px 16px 8px
}

.params__table table {
  width: 100%
}

.params__table table td {
  border-bottom: 1px solid #222
}

.params__table table tr td {
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 0
}

.params__table table tr td:first-child {
  width: 45%;
  color: #5c5c5c
}

.params__table table tr td:nth-child(2) {
  padding-left: 17px
}

.params__table table tr:last-child td {
  border-bottom: none
}

.params__about-wrap {
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 16px
}