.questionnaire-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:1260px) {
  .questionnaire-price {
    padding-right: 123px
  }
}

@media (max-width:767px) {
  .questionnaire-price {
    padding-right: 0
  }
}

.questionnaire-price__tiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-right: -4px
}

@media (max-width:767px) {
  .questionnaire-price__tiles {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0
  }
}

.questionnaire-price__tile {
  width: 130px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding: 12px 16px;
  border: 1px solid #121212;
  border-radius: 4px;
  margin: 0 4px
}

@media (max-width:767px) {
  .questionnaire-price__tile {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    max-width: 40%;
    width: 100%;
    margin: 0
  }

  .questionnaire-price__tile:nth-child(odd) {
    margin-right: 42px
  }
}

@media (max-width:767px) and (max-width:360px) {
  .questionnaire-price__tile:nth-child(odd) {
    margin-right: 8px
  }
}

@media (max-width:767px) {

  .questionnaire-price__tile:first-child,
  .questionnaire-price__tile:nth-child(2) {
    margin-bottom: 16px
  }
}

@media (max-width:767px) and (max-width:540px) {
  .questionnaire-price__tile {
    width: 130px
  }
}

@media (max-width:360px) {
  .questionnaire-price__tile {
    max-width: 50%
  }
}

.questionnaire-price__tile--title {
  width: 150px;
  color: #f90;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 25px 0 0;
  border: none
}

@media (max-width:1260px) {
  .questionnaire-price__tile--title {
    max-width: 150px;
    width: 100%;
    margin-right: 54px
  }
}

.questionnaire-price__tile--title span {
  display: block;
  color: #fff;
  font-size: 15px
}

.questionnaire-price__time {
  color: #f90;
  font-size: 14px;
  line-height: 1
}

.questionnaire-price__money {
  font-size: 18px
}