.reviews__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 40px
}

@media (max-width:767px) {
  .reviews__title {
    font-size: 18px
  }
}

@media (max-width:360px) {
  .reviews__title {
    margin-bottom: 32px
  }
}

.reviews__title sup {
  -webkit-align-self: baseline;
  align-self: baseline;
  color: #5c5c5c;
  font-size: 12px;
  margin-left: 7px;
  margin-top: -8px
}

@media (max-width:767px) {
  .reviews__title sup {
    display: none
  }
}

.reviews__title:before {
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(/images/msg-icon-7c665380.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 8px
}

@media (max-width:1260px) {
  .reviews__title:before {
    content: none
  }
}

.reviews__title--second {
  margin-bottom: 0
}

@media (max-width:360px) {
  .reviews__title--second {
    margin-bottom: 8px
  }
}

.reviews__title--second:before {
  background-image: url(/images/reviews-icon-3adeba54.svg)
}

@media (max-width:1260px) {
  .reviews__title--second:before {
    content: "";
    background-size: 90%
  }
}

.reviews__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -12px 160px
}

@media (max-width:1260px) {
  .reviews__form {
    margin: 0 0 120px
  }
}

@media (max-width:767px) {
  .reviews__form {
    padding-right: 32px;
    margin: 0 0 60px
  }
}

@media (max-width:479px) {
  .reviews__form {
    padding-right: 0
  }
}

.reviews__inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 866px;
  padding: 0 12px;
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .reviews__inputs {
    width: 100%;
    padding: 0
  }
}

@media (max-width:767px) {
  .reviews__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.reviews__place {
  position: relative;
  width: 31.3%
}

@media (max-width:767px) {
  .reviews__place {
    width: 100%;
    margin-bottom: 24px
  }

  .reviews__place:last-child {
    margin-bottom: 0
  }
}

.reviews__place--position {
  padding-top: 30px
}

@media (max-width:767px) {
  .reviews__place--position {
    padding-top: 0
  }
}

.reviews__cover {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 0 12px
}

@media (max-width:1260px) {
  .reviews__cover {
    padding: 0 16px 0 0
  }
}

@media (max-width:767px) {
  .reviews__cover {
    width: 100%;
    padding: 0
  }
}

.reviews__textarea-wrap {
  margin-bottom: 8px
}

.reviews__textarea-label {
  display: block;
  margin-bottom: 8px
}

.reviews__textarea {
  width: 100%;
  height: 262px;
  color: #f90;
  font: 400 16px Arial, sans-serif;
  padding: 16px;
  background: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s
}

.reviews__textarea:focus {
  border-color: #f90;
  color: #fff
}

.reviews__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .reviews__buttons {
    position: absolute;
    bottom: 76px;
    width: 100%
  }
}

.reviews__buttons-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:767px) {
  .reviews__buttons-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: -webkit-calc(100% - 32px);
    width: calc(100% - 32px)
  }
}

.reviews__field {
  position: relative
}

@media (max-width:767px) {
  .reviews__field {
    width: 100%
  }
}

.reviews__radio {
  position: absolute;
  opacity: 0
}

.reviews__radio:checked+.reviews__radio-label {
  background-color: #222
}

.reviews__radio-label {
  cursor: pointer
}

.reviews__rating {
  max-width: 334px;
  width: 100%;
  padding: 0 12px 65px
}

@media (max-width:1260px) {
  .reviews__rating {
    max-width: 294px;
    padding: 0
  }
}

@media (max-width:767px) {
  .reviews__rating {
    max-width: 100%
  }
}

.reviews__rating-title {
  margin-bottom: 8px
}

.reviews__rating-wrap {
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 12.7px 24px
}

@media (max-width:1260px) {
  .reviews__rating-wrap {
    padding: 10.5px 24px
  }
}

.reviews__rating-places {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1260px) {
  .reviews__sumbit {
    display: none
  }
}

.reviews__sumbit--mobile {
  display: none
}

@media (max-width:1260px) {
  .reviews__sumbit--mobile {
    display: block;
    margin-top: 17px
  }
}

@media (max-width:767px) {
  .reviews__sumbit--mobile {
    width: 100%;
    margin-top: 144px
  }
}

.reviews__rating-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #222;
  padding: 8px 0
}

.reviews__rating-line:last-child {
  border-bottom: none
}

.reviews__rating-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #121212;
  border-radius: 4px;
  overflow: hidden
}

.reviews__rating-field {
  position: relative
}

.reviews__rating-radio {
  position: absolute;
  opacity: 0
}

.reviews__rating-radio:checked+.reviews__rating-label {
  color: #f90;
  background-color: #222
}

.reviews__rating-label {
  display: block;
  padding: 6px 11px;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s
}

.reviews__rating-place {
  position: relative
}

.reviews__rating-checkbox {
  position: absolute;
  opacity: 0
}

.reviews__rating-checkbox:checked+.reviews__checkbox-label {
  background-image: url(/images/gold-star-6b93fb4a.svg)
}

.reviews__checkbox-label {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(/images/star-c0441c6f.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 4px
}

.reviews__checkbox-label:last-child {
  margin-right: 0
}

.reviews__list-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px
}

@media (max-width:360px) {
  .reviews__list-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.reviews__list-likes {
  padding-left: 24px
}

@media (max-width:767px) {
  .reviews__list-likes {
    padding-left: 10px
  }
}

@media (max-width:360px) {
  .reviews__list-likes {
    padding-left: 0
  }
}

.reviews__list-like {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #1aa520;
  font-size: 12px;
  background-color: #222;
  padding: 3px 12px;
  border-radius: 12px
}

.reviews__list-like:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(/images/like-b850f28c.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  margin-right: 4px
}

.reviews__list--dislike {
  color: #d22c27
}

.reviews__list--dislike:before {
  background-image: url(/images/dislike-ef95ae06.svg)
}

.reviews__item {
  margin-bottom: 24px
}

.reviews__item:last-child {
  margin-bottom: 0
}