.questionnaire-services__heading {
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .questionnaire-services__tables {
    padding-right: 123px
  }
}

@media (max-width:767px) {
  .questionnaire-services__tables {
    padding-right: 0
  }
}

.questionnaire-services__table {
  margin-bottom: 24px
}

.questionnaire-services__table:last-child {
  margin-bottom: 0
}

.questionnaire-services__table table {
  width: 406px;
  background: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 0 0 auto
}

@media (max-width:767px) {
  .questionnaire-services__table table {
    width: 100%;
    padding: 8px
  }
}

.questionnaire-services__table table tr:last-child td {
  border-bottom: none
}

.questionnaire-services__table table tr:last-child td:before {
  content: none
}

.questionnaire-services__table table caption {
  color: #f90;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px
}

.questionnaire-services__table table td {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .questionnaire-services__table table td {
    padding: 8px 3px
  }
}

.questionnaire-services__table table td:first-child {
  width: 45%
}

@media (max-width:767px) {
  .questionnaire-services__table table td:first-child {
    font-size: 14px;
    width: 50%
  }
}

.questionnaire-services__table table td:first-child:before {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -1px;
  width: 10px;
  height: 1px;
  background-color: #222
}

.questionnaire-services__table table td:nth-child(2) {
  color: #f90
}

.questionnaire-services__table table td.questionnaire-services__text-price {
  color: #1aa520
}

.questionnaire-services__table table .questionnaire-services__text-disabled {
  color: #5c5c5c
}