.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 640px
}

.slider__thumbs {
  max-width: 95px;
  width: 100%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 8px
}

@media (max-width:767px) {
  .slider__thumbs {
    display: none
  }
}

.slider__thumbs .swiper-slide-thumb-active {
  border: 2px solid #f90
}

.slider__thumbs-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 122px !important;
  border: 2px solid transparent
}

.slider__thumbs-slide:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .7);
  background-image: url(/images/play-57af39da.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 50%
}

.slider__thumbs-slide video {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%
}

.slider__thumbs-slide img {
  position: relative
}

.slider__gallery-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 642px;
  overflow: hidden
}

.slider__gallery-slide:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: hsla(0, 0%, 100%, .7);
  background-image: url(/images/play-57af39da.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer
}

.slider__gallery-slide img,
.slider__gallery-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.slider__gallery-slide img {
  position: relative;
  display: block
}

.slider__gallery-slide--play:before {
  opacity: 0;
  z-index: -10
}

.slider__gallery-bottom {
  z-index: 1000;
  position: absolute;
  bottom: 26px;
  left: 18px
}

.slider__gallery-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-weight: 700
}

.slider__gallery-count {
  color: #f90
}

@media (max-width:767px) {

  .slider__gallery-next,
  .slider__gallery-prev {
    display: none
  }
}