.slider-gift {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .slider-gift {
    margin-bottom: 16px
  }
}

.slider-gift__cover {
  position: relative;
  max-width: 420px;
  width: 100%;
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 8px 58px;
  margin-right: 16px
}

@media (max-width:1260px) {
  .slider-gift__cover {
    max-width: 580px;
    margin-right: 6px
  }
}

@media (max-width:767px) {
  .slider-gift__cover {
    max-width: 320px;
    padding: 8px 72px;
    margin: 0 auto
  }
}

@media (max-width:360px) {
  .slider-gift__cover {
    padding: 8px 56px
  }
}

.slider-gift__container {
  height: 96px
}

@media (max-width:1260px) {
  .slider-gift__container {
    height: 80px
  }
}

.slider-gift__slide {
  border-radius: 4px;
  overflow: hidden
}

@media (max-width:767px) {
  .slider-gift__slide a {
    height: 80px
  }
}

@media (max-width:767px) and (max-width:360px) {
  .slider-gift__slide a {
    width: 80px
  }
}

.slider-gift__next,
.slider-gift__prev {
  position: absolute;
  top: 50%;
  right: 8px;
  width: 26px;
  height: 13px;
  background-image: url(/images/arrow-slider-a1766362.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.slider-gift__prev {
  left: 8px;
  -webkit-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%)
}