@import './select-basic-theme';
@import './select-language-theme';
@import './select-navigation-theme';
@import './select-white-theme';
@import './select-multiple';

@import './select2-filter';
@import './select2-price';
@import './select2-sort-by';
@import './select2-country';

.select {}

.select__label {
  display: inline-block;
  margin-bottom: 10px;
}