.select2-nav .select2-selection {
  height: 50px;
  border: none;
  background-color: #121212
}

.select2-nav .select2-selection .select2-selection__rendered {
  padding-right: 24px;
  color: #fff;
  font-weight: 700
}

.select2-nav .select2-selection__rendered {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%
}

.select2-nav .select2-selection__rendered span {
  color: #f90;
  font-size: 12px
}

.select2-nav .select2-selection .select2-selection__arrow {
  margin-right: 17px;
  background-image: url(/images/arrow-solid-5adfd6a9.svg)
}

.select2-nav .select2-dropdown {
  background-color: #121212
}

.select2-nav .select2-results__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.select2-nav .select2-results__option span {
  color: #fff;
  font-size: 12px
}