.select2-container--default .select2-selection--multiple:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/arrow-0e7210e4.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: -8px
}

.select2-container--default.select2-container--focus .select2-selection--multiple:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  border-color: #222
}

.select2-container--default.select2-container--focus .select2-selection--multiple .select2-search__field,
.select2-container--default .select2-selection--multiple .select2-search__field {
  font-weight: "Arial", sans-serif;
  color: #fff
}

.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  background-color: transparent;
  border: none;
  color: #f90;
  margin: 0;
  padding: 0
}

.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered .select2-selection__choice:after,
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice:after {
  content: ", "
}

.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  display: none
}