
.select2 .select2-selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  padding: 0 24px;
  border: 1px solid #222;
  border-radius: 4px;
  background: #151515
}

.select2 .select2-selection:focus {
  outline: none
}

.select2-container--open .select2-selection {
  background-color: #222
}

.select2 .select2-selection .select2-selection__rendered {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10px 0 0;
  font: 300 14px/1.2 Arial, sans-serif
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #f90
}

.select2 .select2-selection .select2-selection__arrow {
  height: 100%;
  margin-right: 16px;
  background: url(/images/arrow-0e7210e4.svg) no-repeat 50%
}

.select2 .select2-selection .select2-selection__arrow b {
  display: none
}

.select2.select2-container--open .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.select2-results__options {
  padding: 4px 0;
  border-top: 1px solid #151515
}

.select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
  background-color: #272727
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #222;
  color: #f90
}

.select2-results__option {
  padding: 16px 24px;
  font: 300 14px Arial, sans-serif;
  -webkit-transition: background .3s;
  transition: background .3s
}

.select2-dropdown {
  border-color: #222;
  background-color: #222
}

.select2-search--dropdown {
  padding: 6px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 44px;
  padding: 0 16px;
  border-color: #151515;
  border-radius: 4px;
  background-color: transparent;
  color: #fff
}

.select2-container--disabled .select2-selection {
  background-color: #222 !important;
  border-color: #222
}

.select2-container--disabled .select2-selection__arrow {
  opacity: .5
}

.select2-container--disabled .select2-selection__rendered {
  opacity: 0
}

.select__label {
  display: inline-block;
  margin-bottom: 10px
}
