.select2-lang {
  min-width: 152px
}

.select2-lang [data-lang=en],
.select2-lang [data-lang=ru] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.select2-lang [data-lang=en]:before,
.select2-lang [data-lang=ru]:before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-repeat: no-repeat
}

.select2-lang [data-lang=ru]:before {
  background-image: url(/images/russia-1e891847.svg)
}

.select2-lang [data-lang=en]:before {
  background-image: url(/images/english-63bcfd9d.svg)
}

.select2-lang .select2-selection {
  height: 50px;
  padding-right: 20px;
  padding-left: 16px;
  background: #0c0c0c
}

.select2-lang .select2-selection .select2-selection__rendered {
  color: #fff;
  font-size: 14px
}

.select2-lang .select2-selection .select2-selection__arrow {
  margin-right: 12px;
  background-image: url(/images/arrow-sm-36a8e48a.svg)
}

.select2-lang .select2-dropdown,
.select2-lang .select2-results__option[aria-selected=true] {
  background: #0c0c0c
}

.select2-lang .select2-results__options {
  padding: 0
}

.select2-lang .select2-results__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 16px;
  font-size: 14px
}

.select2-lang .select2-results__option span {
  padding-top: 2px
}