.select2-white-theme .select2-selection {
  height: 50px
}

.select2-white-theme .select2-selection--single .select2-selection__rendered {
  color: #f90
}

.select2-white-theme .select2-selection--single .select2-selection__placeholder {
  color: #fff
}