.account-dropdown {
  position: relative
}

.account-dropdown__selection {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  border: 1px solid #171717;
  border-radius: 4px;
  cursor: pointer
}

.account-dropdown__avatar {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%
}

.account-dropdown__name {
  color: #fff;
  font-weight: 700;
  font-size: 14px
}

.account-dropdown__arrow {
  position: absolute;
  top: 50%;
  right: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 8px;
  height: 5px;
  margin-top: -2px;
  background-image: url(/images/arrow-6312c77a.svg);
  background-repeat: no-repeat
}

.account-dropdown--open .account-dropdown__arrow {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}

.account-dropdown__list {
  position: absolute;
  z-index: 15;
  top: 100%;
  right: 0;
  display: none;
  min-width: 270px;
  margin-top: 7px;
  padding: 4px 0;
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px
}

@media (max-width:767px) {
  .account-dropdown__list {
    position: relative;
    min-width: 100%
  }
}

.account-dropdown__item:nth-last-child(3) {
  margin-top: 3px;
  padding-top: 5px;
  border-top: 1px solid #121212
}

.account-dropdown__item:last-child {
  margin-top: 6px;
  padding-top: 2px;
  border-top: 1px solid #121212
}

.account-dropdown__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 50px;
  padding: 0 24px;
  color: #fff;
  -webkit-transition: background .3s;
  transition: background .3s
}

.account-dropdown__link:hover {
  background-color: #121212;
  text-decoration: none
}

.account-dropdown__link:hover .account-dropdown__label {
  color: #f90
}

.account-dropdown__label {
  font-size: 14px;
  -webkit-transition: color .3s;
  transition: color .3s
}

.account-dropdown__value {
  font-weight: 700;
  font-size: 12px
}

@media (max-width:1023px) {
  .account-dropdown--convert .account-dropdown__selection {
    height: auto;
    padding: 0;
    border: none
  }
}

@media (max-width:1023px) {
  .account-dropdown--convert .account-dropdown__avatar {
    width: 50px;
    height: 50px;
    margin: 0
  }
}

@media (max-width:1023px) {

  .account-dropdown--convert .account-dropdown__arrow,
  .account-dropdown--convert .account-dropdown__name {
    display: none
  }
}