
.add-favorites {
  cursor: pointer
}

.add-favorites .path-empty,
.add-favorites .path-full {
  fill: #f90
}

.add-favorites--active .path-empty,
.add-favorites .path-full {
  display: none
}

.add-favorites--active .path-full {
  display: block
}