
.app-store {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 0
}

@media (max-width:767px) {
  .app-store {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.app-store__item:not(:last-child) {
  margin-right: 8px
}

@media (max-width:767px) {
  .app-store__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px
  }
}

.app-store__img {
  border-radius: 5px
}