.articles-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 21px 0;
  color: #fff
}

@media (max-width:1260px) {
  .articles-item {
    padding: 17px 0
  }
}

@media (max-width:1023px) {
  .articles-item {
    padding: 21px 0
  }
}

@media (max-width:767px) {
  .articles-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 19px 0
  }
}

@media (max-width:479px) {
  .articles-item {
    padding: 22px 0 23px
  }
}

.articles-item:hover {
  text-decoration: none
}

.articles-item:hover .articles-item__title {
  color: #f90
}

.articles-item:hover .articles-item__arrow path {
  fill: #f90
}

.articles-item__aside {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 310px;
  padding-right: 20px
}

@media (max-width:1260px) {
  .articles-item__aside {
    width: 260px
  }
}

@media (max-width:767px) {
  .articles-item__aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    padding-right: 0
  }
}

@media (max-width:479px) {
  .articles-item__aside {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 12px
  }
}

.articles-item__rubric {
  margin-bottom: 10px;
  color: #f90
}

@media (max-width:767px) {
  .articles-item__rubric {
    margin-bottom: 0;
    font-size: 12px
  }
}

.articles-item__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:479px) {
  .articles-item__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

.articles-item__date,
.articles-item__views {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {

  .articles-item__date,
  .articles-item__views {
    font-size: 12px
  }
}

.articles-item__date:before,
.articles-item__views:before {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 100%
}

@media (max-width:767px) {

  .articles-item__date:before,
  .articles-item__views:before {
    width: 12px;
    height: 12px;
    margin-top: 0;
    margin-right: 6px
  }
}

.articles-item__date {
  margin-right: 16px
}

@media (max-width:767px) {
  .articles-item__date {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 16px
  }
}

@media (max-width:479px) {
  .articles-item__date {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0
  }
}

.articles-item__date:before {
  background-image: url(/images/calendar-dbacc86c.svg)
}

.articles-item__views:before {
  background-image: url(/images/views-faf2b4ba.svg)
}

.articles-item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.articles-item__title {
  font-size: 24px;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:479px) {
  .articles-item__title {
    line-height: 1
  }
}

.articles-item__arrow {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:767px) {
  .articles-item__arrow {
    width: 24px;
    height: 12px
  }
}

.articles-item__arrow path {
  -webkit-transition: fill .3s;
  transition: fill .3s
}