.article-aside__name {
  font-size: 18px;
  padding-bottom: 24px
}

.article-aside__item,
.article-aside__name {
  border-bottom: 1px solid #222;
  margin-bottom: 16px
}

.article-aside__item {
  padding-bottom: 16px
}

.article-aside__link {
  color: #fff
}

@media (max-width:1260px) {
  .article-aside__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

@media (max-width:767px) {
  .article-aside__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.article-aside__link span {
  display: block;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 16px
}

@media (max-width:1260px) {
  .article-aside__link span {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-bottom: 0
  }
}

.article-aside__link:hover {
  text-decoration: none
}

.article-aside__link:hover span {
  text-decoration: underline
}

@media (max-width:1260px) {
  .article-aside__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-right: 80px
  }
}

@media (max-width:767px) {
  .article-aside__info {
    margin-right: 0;
    margin-bottom: 16px
  }
}

.article-aside__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1260px) {
  .article-aside__wrap {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-bottom: 4px
  }
}

.article-aside__rubric {
  color: #f90;
  margin-bottom: 4px
}

@media (max-width:1260px) {
  .article-aside__rubric {
    margin-bottom: 0
  }
}

.article-aside__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px
}

.article-aside__text:last-child {
  margin-right: 0
}

.article-aside__text:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/images/calendar-6ce3715b.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 8px
}

.article-aside__text--eye:before {
  width: 16px;
  height: 12px;
  background-image: url(/images/eye-505b30cf.svg)
}

.article-aside__more {
  font-weight: 700
}