
#autoComplete {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 16px 0 37px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #0c0c0c;
  background-image: url(/images/map-02fb85e2.svg);
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: 16px 50%;
  color: #fff;
  font: 400 14px Arial, sans-serif;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

#autoComplete::-webkit-input-placeholder {
  color: #fff
}

#autoComplete:-ms-input-placeholder {
  color: #fff
}

#autoComplete::-ms-input-placeholder {
  color: #fff
}

#autoComplete::placeholder {
  color: #fff
}

#autoComplete::-moz-placeholder {
  color: #fff
}

#autoComplete:hover {
  color: #fff
}

#autoComplete:hover::-webkit-input-placeholder {
  color: #fff
}

#autoComplete:hover::-moz-placeholder {
  color: #fff
}

#autoComplete:hover:-ms-input-placeholder {
  color: #fff
}

#autoComplete:hover::-ms-input-placeholder {
  color: #fff
}

#autoComplete:hover::placeholder {
  color: #fff
}

#autoComplete:focus {
  border: 1px solid #f90;
  color: #fff
}

#autoComplete:focus::-webkit-input-placeholder {
  padding: 0;
  color: #fff;
  font-size: 14px
}

#autoComplete:focus::-moz-placeholder {
  padding: 0;
  color: #fff;
  font-size: 14px
}

#autoComplete:focus:-ms-input-placeholder {
  padding: 0;
  color: #fff;
  font-size: 14px
}

#autoComplete:focus::-ms-input-placeholder {
  padding: 0;
  color: #fff;
  font-size: 14px
}

#autoComplete:focus::placeholder {
  padding: 0;
  color: #fff;
  font-size: 14px
}

#autoComplete_list {
  padding: 8px;
  border: 1px solid #171717;
  border-radius: 4px;
  background-color: #0c0c0c;
  box-shadow: none
}

.autoComplete_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 5px 0;
  padding: 8px 16px;
  background-color: transparent;
  color: #fff;
  font: 400 14px Arial, sans-serif
}

.autoComplete_result:hover {
  background-color: #171717
}

.autoComplete_result.no_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-weight: 100
}

.autoComplete_result_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.autoComplete_result_key {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase
}

.autoComplete_highlighted {
  color: #f90
}