
.bottom-banner {
  margin-top: auto
}

.bottom-banner--transparent .bottom-banner__wrap {
  border-top: none
}

.bottom-banner__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #171717;
  padding: 64px 15px 62px;
  border-top: 1px solid #f90
}

@media (max-width:479px) {
  .bottom-banner__wrap {
    padding-top: 68px
  }
}

.bottom-banner__title {
  font-size: 24px;
  line-height: 1;
  text-align: center
}

@media (max-width:1260px) {
  .bottom-banner__title {
    font-size: 18px
  }
}

.bottom-banner__link {
  display: inline-block;
  text-decoration: underline;
  margin-left: 24px
}

@media (max-width:767px) {
  .bottom-banner__link {
    display: block;
    margin-left: 0;
    margin-top: 16px
  }
}