
.breadcrumbs__wrap {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.breadcrumbs__list,
.breadcrumbs__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.breadcrumbs__list {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.breadcrumbs__item:before {
  content: "";
  display: block;
  width: 20px;
  height: 6px;
  background-image: url(/images/arrow-3f8e17b8.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 8px
}

.breadcrumbs__item:first-child:before {
  display: none
}

.breadcrumbs__link {
  color: #5c5c5c;
  font-size: 12px;
  margin-right: 8px
}

.breadcrumbs__item--back {
  margin-right: 16px
}

.breadcrumbs__item--back:after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #5c5c5c;
  margin-left: 16px
}

.breadcrumbs__item--back .breadcrumbs__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  margin-right: 0
}

.breadcrumbs__item--back .breadcrumbs__link img {
  width: 6px;
  height: 9px;
  margin-right: 6px
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #fff
}