.checkbox {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer
}

.checkbox:hover .checkbox__label {
  color: #fff
}

.checkbox__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  color: #5c5c5c;
  line-height: 1;
  word-break: break-word;
  -webkit-transition: color .3s;
  transition: color .3s
}

.checkbox__label:before {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  margin-right: 8px;
  background-color: #222;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 2px
}

.checkbox__input {
  display: none
}

.checkbox__input:checked+.checkbox__label {
  color: #fff
}

.checkbox__input:checked+.checkbox__label:before {
  background-image: url(/images/check-c219d005.svg)
}