.content h1 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 48px
}

@media (max-width:1260px) {
  .content h1 {
    margin-bottom: 40px
  }
}

@media (max-width:767px) {
  .content h1 {
    font-size: 24px
  }
}

.content h2 {
  font-size: 24px;
  margin-bottom: 40px
}

@media (max-width:1260px) {
  .content h2 {
    margin-bottom: 35px
  }
}

@media (max-width:767px) {
  .content h2 {
    margin-bottom: 20px
  }
}

@media (max-width:479px) {
  .content h2 {
    line-height: 1
  }
}

.content ol {
  color: #f90;
  font-weight: 700;
  counter-reset: item1
}

.content ol li {
  margin-bottom: 24px
}

.content ol li:last-child {
  margin-bottom: 0
}

.content ol li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.content ol li span:before {
  content: counter(item1) ".";
  counter-increment: item1;
  margin-right: 3px
}

.content ol li ol {
  color: #fff;
  font-weight: 400;
  counter-reset: item2;
  padding: 8px 0
}

.content ol li ol li {
  margin-bottom: 10px
}

.content ol li ol li:last-child {
  margin-bottom: 0
}

.content ol li ol li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.content ol li ol li span:before {
  display: inline-block;
  content: counter(item1) "."counter(item2) " ";
  counter-increment: item2;
  margin-right: 16px
}

.content ol li ol ol {
  counter-reset: item3;
  padding: 8px 0 8px 35px
}

.content ol li ol ol li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.content ol li ol ol li span:before {
  content: counter(item1) "."counter(item2) "."counter(item3);
  counter-increment: item3
}

.content__info {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .content__info {
    margin-bottom: 32px
  }
}

.content__info p {
  margin-bottom: 26px
}

.content__formula {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 80px
}

@media (max-width:767px) {
  .content__formula {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px
  }
}

.content__formula-wrap {
  max-width: 310px;
  width: 100%;
  padding-right: 40px
}

@media (max-width:767px) {
  .content__formula-wrap {
    max-width: 288px;
    padding-right: 0
  }
}

.content__card {
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 22px 24px
}

@media (max-width:767px) {
  .content__card {
    margin-bottom: 16px
  }
}

.content__card-title {
  color: #f90;
  font-weight: 700;
  margin-bottom: 8px
}

.content__card-text--fsize {
  font-size: 18px
}

.content__formula-text {
  display: block;
  margin-bottom: 5px
}

.content__formula-desc ul {
  list-style: disc;
  padding: 16px 0 0 16px
}

.content__formula-desc ul li {
  margin-bottom: 8px
}

.content__formula-desc ul li span {
  display: block;
  opacity: .3
}

.content__card--width {
  max-width: 580px
}

@media (max-width:1260px) {
  .content__card--width {
    max-width: 100%
  }
}

@media (max-width:767px) {
  .content__card--width {
    margin-bottom: 0
  }
}

.content__filter {
  margin-bottom: 46px
}

@media (max-width:1260px) {
  .content__filter {
    margin-bottom: 38px
  }
}

@media (max-width:1023px) {
  .content__filter {
    margin-bottom: 24px
  }
}

@media (max-width:767px) {
  .content__filter {
    display: inline-block;
    width: 100%;
    margin-top: 24px
  }
}

@media (max-width:479px) {
  .content__filter {
    margin-top: 0;
    margin-bottom: 22px
  }
}

.content__table {
  width: 100%;
  border-collapse: collapse
}

.content__table thead th {
  vertical-align: top;
  height: 50px;
  padding-right: 10px;
  border-bottom: 1px solid #222;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px;
  line-height: 1
}

@media (max-width:1260px) {
  .content__table thead th {
    height: 42px
  }
}

@media (max-width:1023px) {
  .content__table thead th {
    height: auto;
    padding-right: 40px;
    padding-bottom: 16px
  }
}

@media (max-width:767px) {
  .content__table thead th {
    padding-right: 20px
  }
}

@media (max-width:1260px) {
  .content__table thead th:nth-child(2) {
    display: none
  }
}

@media (max-width:479px) {
  .content__table thead th:nth-child(4) {
    display: none
  }
}

.content__table thead th:last-child {
  padding-right: 0
}

@media (max-width:767px) {
  .content__table thead th:last-child {
    display: none
  }
}

.content__table tbody td {
  height: 47px;
  border-bottom: 1px solid #222
}

@media (max-width:1260px) {
  .content__table tbody td {
    width: 260px !important
  }
}

@media (max-width:1023px) {
  .content__table tbody td {
    width: 195px !important
  }
}

.content__table tbody td:first-child {
  width: 176px
}

.content__table tbody td:nth-child(2) {
  width: 230px
}

@media (max-width:1260px) {
  .content__table tbody td:nth-child(2) {
    display: none
  }
}

.content__table tbody td:nth-child(3) {
  width: 164px
}

.content__table tbody td:nth-child(4) {
  width: 216px
}

@media (max-width:479px) {
  .content__table tbody td:nth-child(4) {
    display: none
  }
}

.content__table tbody td:last-child {
  width: 105px
}

@media (max-width:1260px) {
  .content__table tbody td:last-child {
    width: 220px !important
  }
}

@media (max-width:1023px) {
  .content__table tbody td:last-child {
    width: 156px !important
  }
}

@media (max-width:767px) {
  .content__table tbody td:last-child {
    display: none
  }
}

.content__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 80px 0
}

@media (max-width:1260px) {
  .content__pagination {
    margin: 62px 0
  }
}

@media (max-width:1023px) {
  .content__pagination {
    margin: 40px 0
  }
}

@media (max-width:479px) {
  .content__pagination {
    margin: 38px 0
  }
}

.content__calculator {
  display: inline-block;
  margin-top: 72px
}

@media (max-width:1260px) {
  .content__calculator {
    margin-top: 52px
  }
}

@media (max-width:1023px) {
  .content__calculator {
    margin-top: 72px
  }
}

@media (max-width:767px) {
  .content__calculator {
    width: 100%
  }
}

@media (max-width:479px) {
  .content__calculator {
    margin-top: 42px
  }
}

@media (max-width:1260px) {
  .content__price-calculator {
    max-width: 735px
  }
}

@media (max-width:767px) {
  .content__price-calculator {
    max-width: 322px;
    margin: 0 auto;
    padding-top: 7px
  }
}

@media (max-width:479px) {
  .content__price-calculator {
    padding-top: 14px
  }
}