.details {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding: 5px 9px;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:767px) {
  .details {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    max-width: 170px;
    padding: 0;
    border: none
  }
}

.details__text {
  margin-right: 11px;
  padding-right: 11px;
  border-right: 1px solid #5c5c5c;
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .37px
}

@media (max-width:767px) {
  .details__text {
    margin-right: 4px;
    padding-right: 4px;
    font-size: 10px
  }
}

.details__text:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none
}