.exchange-rates__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border: 1px solid #121212;
  border-radius: 4px
}

.exchange-rates__title {
  color: #f90;
  font-weight: 700;
  line-height: 1;
  padding: 14.5px 24px;
  background-color: #151515;
  border: 1px solid #121212
}

.exchange-rates__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 11.5px 0
}

.exchange-rates__item {
  line-height: 1;
  font-weight: 700;
  padding: 0 24px;
  border-right: 1px solid #222
}

.exchange-rates__item:last-child {
  border-right: 0
}

.exchange-rates__item--color {
  color: #5c5c5c
}