
.filter {
  position: relative;
  z-index: 12;
  background-color: #121212;
  border-radius: 4px
}

.filter--open .filter__title-expand {
  display: none
}

.filter--open .filter__title-collapse {
  display: block
}

.filter__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 72px;
  padding: 16px 24px
}

@media (max-width:767px) {
  .filter__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-right: 12px;
    padding-left: 12px
  }
}

.filter__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer
}

@media (max-width:767px) {
  .filter__title {
    margin-bottom: 0
  }
}

.filter__title:after {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url(/images/arrow-circle-700fa443.svg);
  background-repeat: no-repeat
}

.filter--open .filter__title:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.filter__title-collapse {
  display: none
}

.filter__sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .filter__sort {
    width: 100%;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #171717
  }
}

@media (max-width:479px) {
  .filter__sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.filter__button {
  margin-right: 20px;
  color: #5c5c5c;
  font-weight: 700;
  text-decoration: none
}

.filter__button:hover {
  text-decoration: underline
}

@media (max-width:810px) {
  .filter__button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-top: 22px;
    margin-right: 0
  }
}

@media (max-width:575px) {
  .filter__button-favorites {
    max-width: 264px;
    width: 100%
  }
}

@media (max-width:575px) {
  .filter__button-submit {
    width: 100%
  }
}

.filter__button--show .filter__button-show {
  display: none
}

.filter__button--show .filter__button-hidden {
  display: block
}

.filter__button-hidden {
  display: none
}

.filter__body {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  padding: 0 14px;
  background-color: #121212
}

@media (max-width:767px) {
  .filter__body {
    padding: 0 6px
  }
}

.filter__options {
  display: none
}

@media (max-width:479px) {
  .filter__options .filter__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row
  }
}

@media (max-width:1023px) {
  .filter__options .filter__col:not(.filter__col--extra) {
    width: 25%
  }
}

@media (max-width:767px) {
  .filter__options .filter__col:not(.filter__col--extra) {
    width: 50%
  }
}

.filter__row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 21px 0 27px
}

@media (max-width:479px) {
  .filter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.filter__row:after,
.filter__row:before {
  content: "";
  display: block;
  position: absolute;
  right: 10px;
  left: 10px;
  height: 1px;
  background-color: #171717
}

.filter__row:before {
  top: 0;
  bottom: auto;
  display: none
}

.filter__row:after {
  bottom: 0
}

.filter__row:first-child:before {
  display: block
}

.filter__col {
  width: 25%;
  margin: 12px 0;
  padding: 0 12px
}

@media (max-width:1023px) {
  .filter__col {
    width: 50%
  }
}

@media (max-width:767px) {
  .filter__col {
    padding: 0 6px
  }
}

@media (max-width:479px) {
  .filter__col {
    width: 100%
  }
}

.filter__col--extra {
  width: 100%;
  margin: 0 0 32px
}

@media (max-width:1023px) {
  .filter__col--extra {
    margin: 22px 0 14px
  }
}

.filter__col--extra .filter__checkbox {
  max-width: 230px
}

@media (max-width:767px) {
  .filter__col--extra .filter__checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:479px) {
  .filter__col--extra .filter__checkbox {
    max-width: 100%
  }
}

.filter__col--extra .filter__checkbox:not(:first-child) {
  margin-left: 36px
}

@media (max-width:767px) {
  .filter__col--extra .filter__checkbox:not(:first-child) {
    margin-left: 0
  }
}

.filter__head {
  margin-top: 33px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1
}

@media (max-width:767px) {
  .filter__head {
    margin-bottom: 14px
  }
}

.filter__head:first-child {
  margin-top: 0
}

.filter__label {
  color: #5c5c5c
}

.filter__range {
  padding-top: 7px
}

@media (max-width:767px) {
  .filter__range {
    padding-top: 0
  }
}

.filter__choice {
  margin-right: 8px
}

@media (max-width:479px) {
  .filter__choice {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px
  }
}

.filter__choice:last-child {
  margin-right: 0
}

@media (max-width:479px) {
  .filter__choice:last-child {
    margin-bottom: 0
  }
}

.filter__choice .filter__choice-placeholder {
  height: 40px
}

.filter__choice-box {
  display: none;
  width: 100%
}

.filter__choice--price {
  min-width: 140px
}

.filter__choice--sort {
  min-width: 234px
}

.filter__checkboxs,
.filter__choice--sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.filter__checkboxs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding-top: 8px
}

.filter__checkbox {
  margin-bottom: 13px
}

.filter__checkbox:last-child {
  margin-bottom: 0
}

.filter__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 24px 10px
}

@media (max-width:810px) {
  .filter__footer {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:575px) {
  .filter__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center
  }
}

@media (max-width:479px) {
  .filter__footer {
    padding-right: 8px;
    padding-left: 8px
  }
}

.filter__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:575px) {
  .filter__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:810px) {
  .filter__footer-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

@media (max-width:575px) {
  .filter__footer-actions {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 264px;
    width: 100%;
    margin-top: 16px
  }
}

button.filter__reset {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 8px;
  padding: 0
}

@media (max-width:575px) {
  button.filter__reset {
    width: 100%;
    margin-left: 0;
    margin-top: 22px
  }
}

button.filter__reset svg {
  margin-right: 0
}
