.form-search {
  width: 890px;
  border: 1px solid #171717;
  border-radius: 4px;
  background-color: #0c0c0c
}

@media (max-width:1023px) {
  .form-search {
    width: 736px
  }
}

@media (max-width:767px) {
  .form-search {
    width: 100vw
  }
}

.form-search__header {
  padding: 20px 22px 24px;
  border-bottom: 1px solid #171717
}

@media (max-width:767px) {
  .form-search__header {
    padding: 21px 16px 0;
    border-bottom: none
  }
}

@media (max-width:767px) {
  .form-search__header-container {
    max-width: 340px;
    margin: 0 auto
  }
}

.form-search__body {
  padding: 24px 22px 18px
}

@media (max-width:767px) {
  .form-search__body {
    padding: 0 16px 24px
  }
}

.form-search__title {
  margin-bottom: 20px;
  font-size: 18px
}

@media (max-width:767px) {
  .form-search__title {
    margin-bottom: 12px;
    font-size: 14px
  }
}

.form-search__cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .form-search__cols {
    display: block
  }
}

.form-search__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .form-search__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.form-search__select {
  min-width: 192px
}

@media (max-width:1023px) {
  .form-search__select {
    min-width: 212px
  }
}

@media (max-width:767px) {
  .form-search__select {
    width: 100%;
    margin-bottom: 22px
  }
}

.form-search__input {
  display: none
}

@media (max-width:767px) {
  .form-search__input {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 24px
  }
}

.form-search__region {
  display: none;
  margin-left: 24px;
  font-size: 14px
}

@media (max-width:767px) {
  .form-search__region {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    margin-left: 0
  }
}

.form-search__region-cancel {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-left: 17px;
  background-image: url(/images/cancel-7660360b.svg);
  background-repeat: no-repeat;
  cursor: pointer
}

@media (max-width:767px) {
  .form-search__region-cancel {
    position: absolute;
    right: 0;
    margin-left: 0
  }
}

.form-search__whole-area {
  display: none;
  margin-right: 42px;
  color: #f90;
  font-size: 14px;
  cursor: pointer
}

@media (max-width:1023px) {
  .form-search__whole-area {
    margin-right: 62px
  }
}

@media (max-width:767px) {
  .form-search__whole-area {
    margin-right: 0;
    margin-bottom: 16px
  }
}

.form-search__whole-area:hover {
  text-decoration: underline
}

.form-search__back {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #171717;
  font-size: 18px;
  cursor: pointer
}

@media (max-width:767px) {
  .form-search__back {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }
}

.form-search__back:before {
  content: "";
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 70px;
  height: 67px;
  margin-right: 24px;
  border-right: 1px solid #222;
  background-image: url(/images/arrow-b718ca3a.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 22px 12px
}

.form-search__city {
  display: none
}

.form-search__list {
  -webkit-columns: 190px 4;
  -moz-columns: 190px 4;
  columns: 190px 4;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px
}

@media (max-width:767px) {
  .form-search__list {
    -webkit-columns: auto;
    -moz-columns: auto;
    -webkit-columns: initial;
    -moz-columns: initial;
    columns: initial;
    grid-column-gap: normal;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    max-width: 340px;
    margin: 0 auto
  }
}

.form-search__item {
  position: relative;
  margin-bottom: 17px;
  padding-right: 20px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:767px) {
  .form-search__item {
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 8px;
    border-bottom: 1px solid #171717
  }
}

.form-search__item:hover {
  color: #f90
}

.form-search__item:hover .form-search__item-arrow {
  border-color: inherit
}

@media (max-width:767px) {
  .form-search__item:first-child {
    border-top: 1px solid #171717
  }
}

.form-search__item-arrow {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  margin-top: -1px;
  padding: 3px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transition: border-color .3s;
  transition: border-color .3s
}