.heading {
  color: #f90;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 17px 12px;
  border-bottom: 1px solid #222;
  text-align: left;
  margin: 0 -16px 8px
}

@media (max-width:1260px) {
  .heading {
    padding: 0 17px 8px
  }
}

.heading:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/images/line-a9a334f8.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 8px;
  margin-bottom: -3px
}

.heading--marker:before {
  background-image: url(/images/marker-b4e77adf.svg)
}

.heading--about {
  margin-bottom: 16px
}

.heading--about:before {
  background-image: url(/images/about-icon-e29bae68.svg)
}

.heading--background {
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  padding-top: 16px;
  margin: 0
}

.heading--background:before {
  background-image: url(/images/gender-1ba34274.svg)
}