.input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.input,
.input--icon .input__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.input--icon .input__field {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.input__icon {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-repeat: no-repeat;
  cursor: pointer
}

@media (max-width:767px) {
  .input__icon {
    margin-left: 16px
  }
}

.input__label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px
}

.input[focus-within]:not(.input--error) .input__label {
  color: #f90;
}

.input:focus-within:not(.input--error) .input__label {
  color: #f90;
}

.input--error .input__label {
  color: #a61a1a
}

.input__label-icon {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background-repeat: no-repeat
}

.input__field {
  position: relative;
  width: 100%
}

.input--error .input__control {
  border-color: #a61a1a;
  color: #fff
}

.input__error {
  margin-top: 8px;
  color: #a61a1a;
  font-size: 12px
}

.input__error:first-letter {
  text-transform: uppercase
}

.input__eye {
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-image: url(/images/eye-ff7ddc09.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  cursor: pointer
}

.input__eye--visible {
  background-image: url(/images/eye-visibility-a0a681c8.svg)
}

input[type=color],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
  width: 100%;
  height: 50px;
  font: 400 16px Arial, sans-serif;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #151515;
  color: #f90;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

input[type=color]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder {
  color: #5c5c5c
}

input[type=color]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder {
  color: #5c5c5c
}

input[type=color]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=text]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder {
  color: #5c5c5c
}

input[type=color]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=text]::placeholder,
input[type=url]::placeholder {
  color: #5c5c5c
}

input[type=color]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=url]::-moz-placeholder {
  color: #5c5c5c
}

.input[focus-within]:not(.input--error) input[type=color],
.input[focus-within]:not(.input--error) input[type=email],
.input[focus-within]:not(.input--error) input[type=number],
.input[focus-within]:not(.input--error) input[type=password],
.input[focus-within]:not(.input--error) input[type=tel],
.input[focus-within]:not(.input--error) input[type=text],
.input[focus-within]:not(.input--error) input[type=url] {
  border-color: #f90;
  color: #fff
}

.input:focus-within:not(.input--error) input[type=color],
.input:focus-within:not(.input--error) input[type=email],
.input:focus-within:not(.input--error) input[type=number],
.input:focus-within:not(.input--error) input[type=password],
.input:focus-within:not(.input--error) input[type=tel],
.input:focus-within:not(.input--error) input[type=text],
.input:focus-within:not(.input--error) input[type=url] {
  border-color: #f90;
  color: #fff;

  &:focus {
    outline: none;
  }
}

input[type=password] {
  padding-right: 40px
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}