.irs--round {
  height: auto;
  padding: 8px 0
}

.irs--round .irs-line {
  top: 0;
  height: 2px;
  background-color: #5c5c5c
}

.irs--round .irs-bar {
  height: 2px;
  background-color: #f90
}

.irs--round .irs-bar,
.irs--round .irs-handle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.irs--round .irs-handle {
  width: 16px;
  height: 16px;
  border: 2px solid #f90;
  cursor: pointer
}

.irs--round .irs-handle,
.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #121212
}