.like {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #1aa520;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 24px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}

@media (max-width:767px) {
  .like {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
}

.like:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/like-b850f28c.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 10px
}

.like--dislike {
  color: #a61a1a
}

.like--dislike:before {
  background-image: url(/images/dislike-ef95ae06.svg)
}

@media (max-width:767px) {
  .reviews-response {
    border: 1px solid #121212;
    border-radius: 4px;
    box-shadow: 0 0 16px hsla(0, 0%, 100%, .25)
  }
}