
.login {
  max-width: 400px;
  width: 100%;
  margin: 80px auto 56px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #121212
}

@media (max-width:767px) {
  .login {
    overflow: hidden;
    max-width: 100%;
    margin: 0
  }
}

.login__tabs {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .login__tabs {
    max-width: 320px;
    margin: 0 auto
  }
}

.login__tabs:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .login__tabs:after {
    width: 1000px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

.login__tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  height: 66px;
  padding: 10px;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.login__tab--active {
  color: #f90;
  border-color: inherit
}

.login__item {
  display: none
}

.login__item--active {
  display: block
}

.login__content {
  padding: 37px 24px 24px
}

@media (max-width:767px) {
  .login__content {
    max-width: 350px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px
  }
}

.login__input {
  margin-bottom: 21px
}

.login__input:last-child {
  margin-bottom: 0
}

.login__input .input__label {
  margin-bottom: 6px
}

.login__captcha {
  margin-top: 24px
}

@media (max-width:767px) {
  .login__captcha {
    margin-top: 15px
  }
}

.login__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 14px
}

@media (max-width:767px) {
  .login__actions {
    padding-right: 32px
  }
}

@media (max-width:479px) {
  .login__actions {
    padding-right: 0
  }
}

.login__button {
  width: 100%;
  margin-top: 20px
}

.login__bottom {
  padding: 24px 15px;
  border-top: 1px solid #222
}

.login__agree {
  color: #fff;
  font-size: 12px;
  text-align: center
}

@media (max-width:767px) {
  .login__agree {
    max-width: 320px;
    margin: 0 auto
  }
}

.login__recovery {
  display: none
}

.login-recovery__header {
  border-bottom: 1px solid #222
}

.login-recovery__back {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 66px;
  cursor: pointer
}

.login-recovery__arrow {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 70px;
  border-right: 1px solid #222;
  background-image: url(/images/arrow-5868eb92.svg);
  background-repeat: no-repeat;
  background-position: 50%
}

.login-recovery__title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 12px 0 24px;
  font-size: 18px
}

.login-recovery__body {
  padding: 36px 24px 24px
}

@media (max-width:767px) {
  .login-recovery__body {
    max-width: 350px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px
  }
}

.login-recovery__input .input__label {
  margin-bottom: 6px
}

.login-recovery__button {
  width: 100%;
  margin-top: 24px
}