.logo {
  max-width: 246px
}

@media (max-width:1260px) {
  .logo {
    max-width: 177px
  }
}

@media (max-width:767px) {
  .logo {
    max-width: 118px
  }
}

.logo__img {
  width: 100%;
  height: 100%
}