.menu {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}

.menu,
.menu__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.menu__link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 24px 16px;
  border-bottom: 1px solid transparent
}

.menu__link:hover {
  text-decoration: none
}

.menu__link--active {
  border-bottom-color: inherit;
  color: #f90
}

.menu__name,
.menu__value {
  -webkit-transition: color .3s;
  transition: color .3s
}

.menu__link:hover:not(.menu__link--active) .menu__name,
.menu__link:hover:not(.menu__link--active) .menu__value {
  color: #cc8f00
}

.menu__link--active .menu__name,
.menu__link--active .menu__value {
  color: #f90
}

.menu__value {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

.menu__name {
  color: #fff;
  font-size: 18px;
  line-height: 1
}