.pagination__list,
.pagination__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.pagination__list {
  padding: 0 8px
}

.pagination__item {
  margin-right: 8px
}

.pagination__item:last-child {
  margin-right: 0
}

.pagination__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  background-color: #222;
  padding: 10px 5px;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s
}

@media (max-width:767px) {
  .pagination__link {
    width: 36px;
    padding: 7.5px 5px
  }
}

.pagination__link:hover {
  color: #171717;
  background-color: #f90;
  text-decoration: none
}

.pagination__link--dot {
  background-color: transparent
}

.pagination__link--dot:hover {
  background-color: transparent;
  color: #fff;
  cursor: auto
}

.pagination__item--active .pagination__link {
  color: #171717;
  background-color: #f90
}

.pagination__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #f90;
  background-color: transparent;
  border: 1px solid #f90;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer
}

@media (max-width:767px) {
  .pagination__button {
    font-size: 0;
    padding: 10px 13.5px
  }
}

.pagination__button svg {
  margin-left: 12px
}

@media (max-width:767px) {
  .pagination__button svg {
    margin-left: 0
  }
}

.pagination__button svg path {
  stroke: #f90
}

.pagination__button--back svg {
  margin-left: 0;
  margin-right: 12px
}

@media (max-width:767px) {
  .pagination__button--back svg {
    margin-right: 0
  }
}

.pagination__button--disabled {
  color: #5c5c5c;
  border: 1px solid #5c5c5c;
  pointer-events: none
}

.pagination__button--disabled svg path {
  stroke: #5c5c5c
}