.popup {
  max-width: 638px;
  width: 100%;
  max-height: 638px;
  margin: 0 auto
}

@media (max-width:767px) {
  .popup {
    max-width: 288px;
    max-height: 800px
  }
}

.popup__content {
  background-color: #121212;
  border: 1px solid #222;
  border-radius: 4px
}

.popup__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #222;
  padding: 22px 24px
}

@media (max-width:767px) {
  .popup__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 16px
  }
}

.popup__header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .popup__header-left {
    -webkit-box-align: start;
    -webkit-align-items: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%
  }
}

@media (max-width:767px) {
  .popup__header-rigth {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    border-bottom: 1px solid #222;
    padding-bottom: 16px;
    margin-bottom: 16px
  }
}

.popup__header-gifts {
  position: relative;
  color: #f90;
  font-size: 18px;
  border-right: 1px solid #222;
  padding-right: 24px;
  margin-right: 24px
}

@media (max-width:767px) {
  .popup__header-gifts {
    width: 100%;
    margin: 0 0 14px;
    padding: 0 0 14px;
    border: none;
    border-bottom: 1px solid #222
  }
}

.popup__header-gifts span {
  position: absolute;
  top: -12px;
  right: 24px;
  font-size: 12px
}

@media (max-width:767px) {
  .popup__header-gifts span {
    right: auto;
    left: 24.4%
  }
}

.popup__header-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #f90;
  font-size: 14px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer
}

.popup__header-btn svg {
  width: 20px;
  height: 20px;
  margin-left: 10px
}

.popup__header-close {
  position: static;
  width: 24px;
  height: 24px;
  background-image: url(/images/close-1f9be060.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0;
  opacity: 1;
  cursor: pointer
}

@media (max-width:767px) {
  .popup__header-close {
    width: 22px;
    height: 22px;
    margin-left: auto
  }
}

.popup__body {
  max-height: 548px;
  padding: 0 16px 8px;
  overflow: auto;
  margin: 16px 8px 0
}

@media (max-width:767px) {
  .popup__body {
    padding: 0 8px
  }
}

.popup__body::-webkit-scrollbar {
  width: 2px;
  height: 2px
}

.popup__body::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 4px
}

.popup__title {
  margin-bottom: 16px;
  color: #f90;
  font-size: 18px
}

.popup__description {
  font-size: 14px
}

.popup__description span {
  display: block
}

.popup__gift {
  border-bottom: 1px solid #222;
  padding-bottom: 16px;
  margin-bottom: 16px
}

.popup__gift:last-child {
  margin-bottom: 0
}

.popup__gift-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 24px
}

@media (max-width:767px) {
  .popup__gift-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .popup__gift-right {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-bottom: 16px
  }
}

.popup__gift-name {
  color: #5c5c5c;
  font-size: 14px
}

.popup__gift-name span {
  color: #fff;
  margin-left: 10px
}

.popup__gift-info {
  color: #f90;
  font-size: 14px
}

.popup__gift-date {
  color: #5c5c5c;
  font-size: 14px;
  background-image: url(/images/calendar-1b2c6519.svg);
  background-position: 0;
  background-repeat: no-repeat;
  padding-left: 28px
}

.popup__gift-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 280px;
  width: 100%;
  background-color: #f3d7bd;
  border-radius: 4px;
  padding: 34px 0;
  margin: 0 auto;
  overflow: hidden
}

@media (max-width:767px) {
  .popup__gift-img {
    max-width: 256px
  }
}

.popup__gift-img img {
  max-height: 211px;
  display: block
}

@media (max-width:767px) {
  .popup__gift-img img {
    max-height: 194px
  }
}

.popup__line-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #f90;
  margin-bottom: 16px
}

.popup__line {
  padding-bottom: 15px;
  border-bottom: 1px solid #222;
  margin-bottom: 15px
}

.popup__present-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 100px;
  background-color: #f3d7bd;
  border-radius: 4px
}

.popup__present-link img {
  max-width: 55px
}

.popup__present-link:last-child {
  margin-right: 0
}

.popup__header-left--present .popup__header-gifts {
  display: none
}

.popup__header-left--present .popup__header-present {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .popup__header-left--present .popup__header-present {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

.popup__header-present {
  display: none
}

.popup__header-back {
  width: 70px;
  height: 75px;
  background-color: transparent;
  background-image: url(/images/arrow-back-b718ca3a.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-right: 1px solid #222;
  padding: 0 24px;
  margin: -24px 24px -24px -24px
}

@media (max-width:767px) {
  .popup__header-back {
    width: 22px;
    height: 11px;
    border-right: none;
    padding: 0 11px;
    margin: 0 16px 0 0
  }
}

.popup__header-title {
  font-size: 18px;
  color: #f90
}

.popup__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px
}

.popup__item {
  width: 20%;
  padding: 0 8px;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .popup__item {
    width: 50%
  }
}

.popup__item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 5px 0;
  background-color: #f3d7bd;
  border-radius: 4px;
  overflow: hidden
}

.popup__item-wrap img {
  display: block;
  max-width: 55px
}

.popup__present-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column
}

.popup__present-img,
.popup__present-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.popup__present-img {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  height: 280px;
  background-color: #f3d7bd;
  border-radius: 4px;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .popup__present-img {
    max-width: 256px
  }
}

.popup__present-img img {
  max-width: 152px;
  width: 100%
}

@media (max-width:767px) {
  .popup__present-img img {
    max-width: 140px
  }
}

.popup__present-price {
  text-align: center;
  margin-bottom: 24px
}

.popup__present-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #5c5c5c
}

.popup__present-info span {
  color: #f90
}

.popup__back {
  color: #f90;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

.popup__back:hover {
  color: #fff
}

.popup__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-top: 1px solid #222;
  padding: 24px
}

@media (max-width:767px) {
  .popup__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 24px 16px
  }
}

.popup__bottom-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .popup__bottom-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 10px
  }
}

.popup__bottom-actions .popup__reset {
  margin-right: 0;
  margin-bottom: 10px
}

.popup__bottom-actions .popup__submit {
  margin: 0
}

@media (max-width:767px) {
  .popup__submit {
    width: 100%;
    margin-bottom: 24px
  }
}

.popup--dispatch .popup__header-gifts {
  border-right: none
}

@media (max-width:767px) {
  .popup--dispatch .popup__header-gifts {
    border: none;
    margin: 0;
    padding: 0
  }

  .popup--dispatch .popup__header-gifts br {
    display: none
  }
}

.popup__inner--hidden,
.popup__list--hidden {
  display: none
}

.popup--submit .popup__header-gifts {
  margin: 0;
  padding: 0;
  border: none
}

.popup--submit .popup__body {
  margin: 16px 8px 8px
}

@media (max-width:767px) {
  .popup--submit .popup__body {
    padding: 1px 8px
  }
}

.gifts-popup {
  overflow: auto
}

.gifts-popup .mfp-content {
  padding: 15px 0
}

.popup-gallery .popup-gallery__left,
.popup-gallery .popup-gallery__right {
  right: 26px;
  width: 50px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .7);
  background-image: url(/images/arrow-fbd799a2.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #fff;
  border-radius: 50%
}

.popup-gallery .popup-gallery__left:after,
.popup-gallery .popup-gallery__left:before,
.popup-gallery .popup-gallery__right:after,
.popup-gallery .popup-gallery__right:before {
  content: none
}

.popup-gallery .popup-gallery__left {
  left: 16px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.popup__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.popup__user-img {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.popup__user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.popup__user-content {
  padding-left: 8px
}

.popup__user-name {
  margin-bottom: 4px;
  color: #f90;
  font-size: 18px;
  line-height: 1
}

.popup__user-time {
  color: #5c5c5c;
  font-size: 12px
}

.popup__message {
  position: relative;
  margin-bottom: 8px
}

.popup__message textarea {
  resize: none;
  width: 100%;
  height: 160px;
  padding: 16px 40px 16px 16px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #151515;
  color: #fff;
  font: 400 14px/1 Arial, sans-serif
}

.popup__message textarea::-webkit-input-placeholder {
  color: #fff
}

.popup__message textarea::-moz-placeholder {
  color: #fff
}

.popup__message textarea:-ms-input-placeholder {
  color: #fff
}

.popup__message textarea::-ms-input-placeholder {
  color: #fff
}

.popup__message textarea::placeholder {
  color: #fff
}

.popup__smileys {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer
}

.popup__file {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #5c5c5c;
  font-size: 14px;
  cursor: pointer
}

.popup__file:before {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url(/images/file-68cf9518.svg);
  background-repeat: no-repeat
}

.popup__label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px
}

.popup__pay {
  font-size: 14px
}

.popup__pay-value {
  color: #f90;
  margin-left: 4px
}

.popup__reset {
  margin-right: 24px;
  border: 0;
  background-color: transparent;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

.popup__reset:hover {
  color: #f90
}

.popup__balance-payment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  grid-gap: 16px
}

.popup__balance-system {
  position: relative
}

.popup__balance-system input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer
}

.popup__balance-system input:checked+span {
  border-color: #f90;
  color: #f90
}

.popup__balance-system input:checked+span:after {
  opacity: 1
}

.popup__balance-system span {
  display: block;
  padding: 14px 40px 13px 24px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #151515;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s
}

.popup__balance-system span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(/images/check-0f2b1b0f.svg);
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

.popup__select-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  grid-gap: 16px;
  margin-bottom: 32px
}

// Modifiers

.popup--message .popup__submit {
  background-color: #222;
  color: #f90
}

@media (max-width:767px) {
  .popup--message .popup__submit {
    margin: 20px 0 0
  }
}

.popup--message .popup__submit:hover {
  color: #fff
}

.popup--not-auth .popup__body {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 214px;
  margin: 0;
  padding: 40px 20px 20px;
  background-color: #171717;
  text-align: center
}

.popup--not-auth .popup__body:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 280px;
  background-image: url(/images/not-authorized-34813a64.svg);
  background-repeat: no-repeat
}

.popup--not-auth .popup__description {
  max-width: 340px;
  margin: 0 auto
}

.popup--not-auth .popup__bottom {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.popup--not-auth .popup__submit {
  min-width: 195px;
  background-color: #222;
  color: #f90
}

.popup--not-auth .popup__submit:hover {
  color: #fff
}

.popup--balance .popup__body {
  margin: 0;
  padding: 24px;
  background-color: #171717
}

.popup--balance .popup__body .select2-selection--single .select2-selection__rendered {
  color: #fff
}

.popup--balance .popup__bottom-actions .popup__reset {
  margin-right: 10px;
  margin-bottom: 0
}

.popup--tip .popup__select {
  max-width: 270px;
  margin-bottom: 28px
}

.popup--tip .popup__select .select2-white-theme .select2-selection--single .select2-selection__rendered {
  color: #fff
}

.popup--tip .popup__bottom-actions .popup__reset {
  margin-right: 10px;
  margin-bottom: 0
}