.price-calculator {
  border: 1px solid #121212;
  border-radius: 4px;
  background-color: #151515
}

.price-calculator__body {
  padding: 24px 24px 8px
}

@media (max-width:1260px) {
  .price-calculator__body {
    padding-top: 22px
  }
}

@media (max-width:767px) {
  .price-calculator__body {
    padding-right: 16px;
    padding-left: 16px
  }
}

.price-calculator__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px
}

@media (max-width:767px) {
  .price-calculator__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 0
  }
}

.price-calculator__item {
  width: -webkit-calc(33.33% - 16px);
  width: calc(33.33% - 16px);
  margin-left: 16px;
  margin-bottom: 25px
}

@media (max-width:767px) {
  .price-calculator__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 16px
  }
}

.price-calculator__item--col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.price-calculator__item--col .price-calculator__label {
  margin-bottom: 0
}

.price-calculator__item--col .price-calculator__select {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 135px
}

.price-calculator__label {
  margin-bottom: 8px;
  color: #5c5c5c;
  line-height: 1
}

.price-calculator__input input {
  width: 50px;
  text-align: center
}

.price-calculator__footer {
  padding: 20px 23px;
  background-color: #121212
}

@media (max-width:1260px) {
  .price-calculator__footer {
    padding-bottom: 18px
  }
}

@media (max-width:767px) {
  .price-calculator__footer {
    padding-right: 16px;
    padding-left: 16px
  }
}

.price-calculator__total {
  color: #5c5c5c;
  font-size: 18px
}

.price-calculator__value {
  margin-left: 12px;
  color: #f90
}

@media (max-width:767px) {
  .price-calculator__value {
    margin-left: 4px
  }
}