.price-filter__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:1023px) {
  .price-filter__items {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

@media (max-width:767px) {
  .price-filter__items {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-left: -25px
  }
}

@media (max-width:479px) {
  .price-filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 0
  }
}

.price-filter__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:1023px) {
  .price-filter__item {
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .price-filter__item {
    width: -webkit-calc(50% - 25px);
    width: calc(50% - 25px);
    margin-left: 25px !important;
    margin-bottom: 14px
  }
}

@media (max-width:479px) {
  .price-filter__item {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 16px
  }
}

.price-filter__item+.price-filter__item {
  margin-left: 10px
}

@media (max-width:1260px) {
  .price-filter__item+.price-filter__item {
    margin-left: 16px
  }
}

.price-filter__item:last-child {
  margin-left: auto
}

@media (max-width:1023px) {
  .price-filter__item:last-child {
    margin-left: 0
  }
}

@media (max-width:767px) {
  .price-filter__item--currency {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:1260px) {
  .price-filter__item--currency .price-filter__select {
    width: 131px
  }
}

@media (max-width:1023px) {
  .price-filter__item--currency .price-filter__select {
    width: 170px
  }
}

@media (max-width:767px) {
  .price-filter__item--currency .price-filter__select {
    width: 100%
  }
}

.price-filter__title {
  margin-right: 16px;
  color: #5c5c5c
}

@media (max-width:767px) {
  .price-filter__title {
    margin-right: 0;
    margin-bottom: 5px
  }
}

@media (max-width:479px) {
  .price-filter__title {
    margin-bottom: 9px;
    line-height: 1.2
  }
}

.price-filter__select {
  width: 170px
}

@media (max-width:1260px) {
  .price-filter__select {
    width: 218px
  }
}

@media (max-width:1023px) {
  .price-filter__select {
    width: 230px
  }
}

@media (max-width:767px) {
  .price-filter__select {
    width: 100%
  }
}