.radio-button__title {
  margin-bottom: 6px
}

.radio-button__items {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #222
}

.radio-button__item {
  position: relative;
  display: inline-block;
  border-left: 1px solid #222
}

.radio-button__item:first-child {
  border-left: none
}

.radio-button__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0;
  cursor: pointer
}

.radio-button__input:checked+.radio-button__name {
  background-color: #f90;
  color: #171717;
  font-weight: 700
}

.radio-button__name {
  display: inline-block;
  padding: 16px 22px;
  line-height: 1;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s
}