
.range-slider__controls {
  margin-top: 8px
}

.range-slider__control,
.range-slider__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.range-slider__control {
  margin-right: 16px
}

.range-slider__control:last-child {
  margin-right: 0
}

.range-slider__from,
.range-slider__to {
  margin-right: 8px;
  color: #5c5c5c;
  font-size: 14px
}

.range-slider__input input {
  width: 58px;
  height: 30px;
  padding: 0 2px;
  border: 1px solid #222;
  border-radius: 2px;
  background-color: #121212;
  color: #fff;
  font-size: 14px;
  text-align: center
}

.range-slider__input input:focus {
  border-color: #fff
}