.rating-score {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.rating-score__title {
  margin-right: 10px;
  color: #5c5c5c
}

@media (max-width:1260px) {
  .rating-score__title {
    margin-right: 8px
  }
}

.rating-score__item,
.rating-score__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.rating-score__item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 47px;
  height: 24px;
  margin-right: 8px;
  padding: 0 12px;
  background: #222;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer
}

.rating-score__item:before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-repeat: no-repeat
}

.rating-score__item:last-child {
  margin-right: 0
}

.rating-score__item--like {
  color: #1aa520
}

.rating-score__item--like:before {
  background-image: url(/images/like-f720c47f.svg)
}

.rating-score__item--dislike {
  color: #a61a1a
}

.rating-score__item--dislike:before {
  background-image: url(/images/dislike-8d9a0250.svg)
}