.rating-static {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.rating-static--size .rating-static__star {
  width: 16px;
  height: 16px;
  background-size: 100%
}

.rating-static__star {
  width: 12px;
  height: 12px;
  background-image: url(/images/star-c0441c6f.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 4px
}

.rating-static__star:last-child {
  margin-right: 0
}

.rating-static--five .rating-static__star:nth-child(-n+5),
.rating-static--four .rating-static__star:nth-child(-n+4),
.rating-static--one .rating-static__star:first-child,
.rating-static--three .rating-static__star:nth-child(-n+3),
.rating-static--two .rating-static__star:nth-child(-n+2) {
  background-image: url(/images/gold-star-6b93fb4a.svg)
}