.reviews-response__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #121212;
  border-radius: 4px;
  box-shadow: 0 0 16px hsla(0, 0%, 100%, .25);
  margin-left: auto
}

@media (max-width:1260px) {
  .reviews-response__wrap {
    max-width: 696px
  }
}

@media (max-width:767px) {
  .reviews-response__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #121212;
    padding: 13px 0;
    border: none;
    border-radius: 0;
    box-shadow: none
  }
}

.reviews-response__left,
.reviews-response__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.reviews-response__user {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: #121212;
  padding: 16px 24px;
  margin-right: 24px
}

@media (max-width:767px) {
  .reviews-response__user {
    width: 100%;
    padding: 16px 16px 0;
    margin-right: 0
  }
}

.reviews-response__massage {
  padding: 10px 0
}

@media (max-width:767px) {
  .reviews-response__massage {
    display: none
  }
}

.reviews-response__body {
  display: none;
  padding: 16px 25px
}

@media (max-width:767px) {
  .reviews-response__body {
    display: block
  }
}

.reviews-response__body .reviews-response__massage {
  display: block;
  padding: 0
}

.reviews-response__inner {
  position: relative;
  margin-right: 16px
}

.reviews-response__icon {
  border-radius: 30px;
  overflow: hidden
}

.reviews-response__icon img {
  display: block
}

.reviews-response__status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #1aa520
}

.reviews-response__status--offline {
  background-color: #a61a1a
}

.reviews-response__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding: 0 24px;
  border-left: 1px solid #222
}

@media (max-width:767px) {
  .reviews-response__date {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    font-size: 12px;
    border-left: none;
    border-bottom: 1px solid #171717;
    margin: 0;
    padding: 0 16px 16px
  }
}

.reviews-response__date:before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url(/images/calendar-87094635.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 8px
}

@media (max-width:767px) {
  .reviews-response__date:before {
    width: 12px;
    height: 12px;
    background-size: 95%
  }
}