
.reviews-item {
  border: 1px solid #121212;
  border-radius: 4px
}

.reviews-item--like {
  box-shadow: 0 0 16px rgba(26, 165, 32, .25)
}

.reviews-item--dislike {
  box-shadow: 0 0 16px rgba(173, 58, 54, .45)
}

.reviews-item__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #121212
}

@media (max-width:767px) {
  .reviews-item__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 16px 0
  }
}

.reviews-item__button-wrap,
.reviews-item__head-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.reviews-item__button-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 25px;
  margin: -16px 0;
  border-left: 1px solid #171717
}

@media (max-width:767px) {
  .reviews-item__button-wrap {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    border-color: #222;
    padding: 0 14.5px;
    margin: 0
  }
}

.reviews-item__title {
  color: #f90;
  font-weight: 700
}

.reviews-item__answer {
  color: #f90;
  border-color: #222;
  background-color: #222
}

.reviews-item__answer:hover {
  color: #000
}

.reviews-item__button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(/images/delete-a6088a36.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  cursor: pointer
}

.reviews-item__button--edit {
  background-image: url(/images/button-edit-2832521a.svg)
}

.reviews-item__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #f90
}

@media (max-width:767px) {
  .reviews-item__user {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    padding: 16px 16px 0
  }
}

.reviews-item__user-wrap {
  position: relative;
  margin-right: 16px
}

.reviews-item__icon {
  border-radius: 30px;
  overflow: hidden
}

.reviews-item__icon img {
  display: block
}

.reviews-item__status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #1aa520
}

.reviews-item__status--offline {
  background-color: #a61a1a
}

.reviews-item__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 24px;
  margin: -16px 0;
  border-left: 1px solid #171717
}

@media (max-width:767px) {
  .reviews-item__date {
    font-size: 12px;
    border-bottom: 1px solid #171717;
    margin: 0;
    padding: 0 16px 16px
  }
}

.reviews-item__date:before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url(/images/calendar-87094635.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin: -3px 8px 0 0
}

@media (max-width:767px) {
  .reviews-item__date:before {
    width: 12px;
    height: 12px;
    background-size: 95%;
    margin: 0 8px 0 0
  }
}

.reviews-item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 24px
}

@media (max-width:767px) {
  .reviews-item__content {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 16px
  }
}

.reviews-item__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.reviews-item__text {
  margin-bottom: 24px
}

.reviews-item__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-top: 1px solid #222;
  padding-top: 16px
}

@media (max-width:767px) {
  .reviews-item__bottom {
    display: none;
    padding-top: 24px
  }
}

.reviews-item__bottom .reviews-item__like {
  padding: 0
}

.reviews-item__bottom--mobile,
.reviews-item__like--mobile {
  display: none
}

@media (max-width:767px) {
  .reviews-item__bottom--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }
}

.reviews-item__btn {
  font-weight: 700;
  color: #f90;
  border: none;
  background: none;
  cursor: pointer
}

.reviews-item__side {
  min-width: 286px;
  padding-left: 24px
}

@media (max-width:1260px) {
  .reviews-item__side {
    min-width: 278px;
    padding-left: 32px
  }
}

@media (max-width:767px) {
  .reviews-item__side {
    min-width: auto;
    width: 100%;
    padding-left: 0
  }
}

@media (max-width:767px) {
  .reviews-item__list {
    margin-bottom: 24px
  }
}

.reviews-item__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #222
}

.reviews-item__line-title {
  width: 50%
}

@media (max-width:1260px) {
  .reviews-item__line-title {
    width: 53%
  }
}

.reviews-item__line-rating {
  color: #fff
}

.reviews-item__line {
  color: #5c5c5c;
  padding: 8px 0
}

.reviews-item__line:first-child .reviews-item__line-title {
  color: #fff;
  padding-top: 0
}

.reviews-item__line:last-child {
  padding-bottom: 0;
  border-bottom: none
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__head {
    padding: 0 0 14px
  }
}

.reviews-item--get .reviews-item__desc {
  -webkit-box-pack: normal;
  -webkit-justify-content: normal;
  justify-content: normal
}

.reviews-item--get .reviews-item__user {
  margin-bottom: 16px
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__user {
    padding: 0 8px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__title {
    padding: 0 16px
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__head-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    border-bottom: 1px solid #222;
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__date {
    border: none;
    padding: 16px 10px 16px 16px;
    margin: 0
  }
}

.reviews-item--get .reviews-item__text {
  height: 100%;
  background-color: #151515;
  border: 1px solid #222;
  padding: 8px 16px;
  margin-bottom: 0
}

.reviews-item--get .reviews-item__desc {
  margin-right: 8px
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__desc {
    margin-right: 0;
    margin-bottom: 32px
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__list {
    margin-bottom: 6px
  }
}

.reviews-item--get .reviews-item__bottom {
  padding: 16px 25px
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: none;
    padding: 16px 16px 0;
    margin: 0 -16px
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__bottom .reviews-item__like {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 24px
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__btn {
    width: -webkit-calc(100% - 32px);
    width: calc(100% - 32px);
    height: 50px;
    background-color: #222;
    border-radius: 4px;
    margin: 0 auto
  }
}

@media (max-width:767px) {
  .reviews-item--get .reviews-item__place {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 16px;
    border-top: 1px solid #222;
    margin: 0 -16px
  }
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__head {
    padding: 0 0 14px
  }
}

.reviews-item--send .reviews-item__desc {
  -webkit-box-pack: normal;
  -webkit-justify-content: normal;
  justify-content: normal
}

.reviews-item--send .reviews-item__user {
  margin-bottom: 16px
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__user {
    padding: 0 8px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1
  }
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__title {
    padding: 0 16px
  }
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__head-wrap {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    border-bottom: 1px solid #222;
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__date {
    width: 100%;
    border: none;
    padding: 16px 10px 16px 16px;
    margin: 0
  }
}

.reviews-item--send .reviews-item__desc {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__desc {
    margin-bottom: 32px
  }
}

.reviews-item--send .reviews-item__text {
  height: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #151515;
  border: 1px solid #222;
  padding: 8px 16px;
  margin-bottom: 0;
  resize: none
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__text {
    height: 142px
  }
}

@media (max-width:479px) {
  .reviews-item--send .reviews-item__text {
    height: 225px
  }
}

.reviews-item--send .reviews-item__text:focus {
  color: #f90
}

.reviews-item--send .reviews-item__like {
  padding: 16px 0 0
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__like {
    display: none
  }
}

@media (max-width:767px) {
  .reviews-item--send .reviews-item__like--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0
  }
}