::-webkit-scrollbar {
  width: 2px;
  height: 2px
}

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px $color-blue
}

::-webkit-scrollbar-thumb {
  background-color: #222
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c
}