.search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

@media (max-width:767px) {
  .search {
    position: static;
    display: block
  }
}

.search__button,
.search__region {
  margin-left: 15px
}

@media (max-width:1260px) {

  .search__button,
  .search__region {
    margin-left: 7px
  }
}

.search__by {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.search__by input[type=text] {
  padding-left: 39px;
  background-color: #0c0c0c;
  background-image: url(/images/search-yellow-a09885b3.svg);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  color: #fff;
  font-size: 14px
}

.search__by input[type=text]::-webkit-input-placeholder {
  color: #5c5c5c
}

.search__by input[type=text]:-ms-input-placeholder {
  color: #5c5c5c
}

.search__by input[type=text]::-ms-input-placeholder {
  color: #5c5c5c
}

.search__by input[type=text]::placeholder {
  color: #5c5c5c
}

.search__by input[type=text]::-moz-placeholder {
  color: #5c5c5c
}

@media (max-width:767px) {
  .search__by input[type=text] {
    font-size: 12px
  }
}

.search__region {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 347px;
  flex: 0 0 347px
}

@media (max-width:1023px) {
  .search__region {
    -webkit-flex-basis: 225px;
    flex-basis: 225px
  }
}

@media (max-width:767px) {
  .search__region {
    position: relative;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin: 8px 0
  }
}

.search__region input[type=text] {
  padding-left: 37px;
  background-color: #0c0c0c;
  background-image: url(/images/map-02fb85e2.svg);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  color: #fff;
  font-size: 14px
}

.search__region input[type=text]::-webkit-input-placeholder {
  color: #fff
}

.search__region input[type=text]:-ms-input-placeholder {
  color: #fff
}

.search__region input[type=text]::-ms-input-placeholder {
  color: #fff
}

.search__region input[type=text]::placeholder {
  color: #fff
}

.search__region input[type=text]::-moz-placeholder {
  color: #fff
}

@media (max-width:767px) {
  .search__region input[type=text] {
    font-size: 12px
  }
}

.search__button {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:767px) {
  .search__button {
    width: 100%;
    margin-left: 0
  }
}

.search__button:hover {
  color: #171717
}

.search__button:hover svg path {
  stroke: #171717
}

.search__form {
  position: absolute;
  z-index: 15;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-49%);
  transform: translateX(-49%);
  display: none;
  margin-top: 8px
}

@media (max-width:1260px) {
  .search__form {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

@media (max-width:767px) {
  .search__form {
    top: 0;
    margin-top: 0
  }
}