@media (max-width:1023px) {
  .sidebar__wrap {
    border: 1px solid #121212;
    border-radius: 4px;
    padding: 4px;
    overflow: auto
  }

  .sidebar__wrap::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0
  }

  .sidebar__wrap::-webkit-scrollbar-thumb {
    display: none
  }
}

.sidebar__list {
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 4px 0
}

@media (max-width:1260px) {
  .sidebar__list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 4px
  }
}

@media (max-width:1023px) {
  .sidebar__list {
    border: none;
    border-radius: 0;
    padding: 0
  }
}

@media (max-width:767px) {
  .sidebar__list {
    width: 100%
  }
}

.sidebar__item {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:767px) {
  .sidebar__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 50%;
    text-align: center
  }
}

.sidebar__item--active {
  background-color: #121212
}

@media (max-width:1260px) {
  .sidebar__item--active {
    border-radius: 4px
  }
}

.sidebar__item--active .sidebar__link {
  color: #f90
}

.sidebar__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 14.5px 24px;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:767px) {
  .sidebar__link {
    padding: 14px
  }
}

.sidebar__link:hover {
  color: #f90;
  text-decoration: none
}

.sidebar__value {
  margin-left: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 12px
}