.slider-next,
.slider-prev {
  right: 26px;
  width: 50px;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .7);
  background-image: url(/images/arrow-fbd799a2.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #fff;
  border-radius: 50%
}

.slider-next:after,
.slider-prev:after {
  content: none
}

.slider-prev {
  left: 16px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.slider-pagination {
  width: 448px !important;
  top: auto !important;
  bottom: 18px;
  left: 15px !important;
  height: 1px !important;
  background-color: #fff
}

@media (max-width:1260px) {
  .slider-pagination {
    width: 544px !important
  }
}

@media (max-width:767px) {
  .slider-pagination {
    width: -webkit-calc(100% - 32px) !important;
    width: calc(100% - 32px) !important
  }
}

.slider-pagination .swiper-pagination-progressbar-fill {
  background: #f90
}