.tabs {
  overflow: hidden;
  width: 100%
}

.tabs__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-bottom: 1px solid #f90
}

@media (max-width:767px) {
  .tabs__head {
    -webkit-box-pack: normal;
    -webkit-justify-content: normal;
    justify-content: normal;
    padding: 0 16px;
    overflow: auto;
    border-bottom: 1px solid #222
  }
}

.tabs__container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px
}

@media (max-width:1260px) {
  .tabs__container {
    max-width: 100%
  }
}

.tabs__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: -1px
}

@media (max-width:767px) {
  .tabs__btns {
    margin-bottom: 0
  }
}

.tabs__btn {
  position: relative;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  padding: 24px 24px 16px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s
}

.tabs__btn:hover,
.tabs__btn:hover .tabs__count {
  color: #f90
}

.tabs__count {
  position: absolute;
  top: 8px;
  right: 24px;
  color: #5c5c5c;
  font-size: 12px;
  text-align: right;
  -webkit-transition: color .3s;
  transition: color .3s
}

.tabs__btn--active {
  color: #f90;
  background-color: #121212;
  border-color: #f90 #f90 #121212
}

@media (max-width:767px) {
  .tabs__btn--active {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f90
  }
}

.tabs__btn--active span {
  color: #f90
}

.tabs__inner {
  background-color: #121212
}

.tabs__content {
  padding: 77px 0 80px
}

@media (max-width:1260px) {
  .tabs__content {
    margin-right: -20px;
    padding-top: 80px
  }
}

@media (max-width:767px) {
  .tabs__content {
    margin-right: -16px;
    padding: 40px 0
  }
}

.tabs__content--hidden {
  display: none
}

.tabs__slide {
  max-width: 270px;
  width: 100%;
  background-color: #151515;
  border: 1px solid #0c0c0c;
  border-radius: 4px
}

.tabs__slide-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 13px 16px
}

.tabs__slide-name {
  color: #f90;
  font-size: 18px;
  line-height: 1.3
}

.tabs__slide-favorites {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer
}

.tabs__slide-body {
  position: relative;
  overflow: hidden
}

.tabs__slide-body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#404040), to(#404040));
  background-image: linear-gradient(0deg, #404040, #404040);
  opacity: .5;
  background-blend-mode: hard-light, normal
}

.tabs__slide-body img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.tabs__slide-stars {
  z-index: 10;
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 16px
}

.tabs__slide-title {
  color: #f90
}

.tabs__slide-bottom {
  padding: 10px 0 7px
}

.tabs__slide-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #0c0c0c
}

.tabs__slide-line:last-child {
  border-bottom: none
}

.tabs__slide-price span {
  color: #f90
}

.tabs__slider {
  padding-bottom: 17px
}

.tabs__slider .tabs__slider-next,
.tabs__slider .tabs__slider-prev {
  right: 16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px
}

@media (max-width:1260px) {
  .tabs__slider .tabs__slider-next {
    right: 35px
  }
}

@media (max-width:767px) {
  .tabs__slider .tabs__slider-next {
    right: 15px
  }
}

.tabs__slider .tabs__slider-prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}

@media (max-width:479px) {
  .tabs__slider .tabs__slider-prev {
    left: 0
  }
}

.tabs__slider .tabs__slider-pagination {
  width: 100% !important;
  left: 0 !important;
  bottom: 0
}

@media (max-width:1260px) {
  .tabs__slider .tabs__slider-pagination {
    width: 97.9% !important
  }
}