
@media (max-width:767px) {
  .template--new-questionnaire .template__sidebar {
    display: none
  }
}

.template--chat {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.template__breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .template__breadcrumbs {
    margin-bottom: 8px
  }
}

@media (max-width:1260px) {
  .template__exchange-rates {
    display: none
  }
}

.template__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1260px) {
  .template__body {
    display: block
  }
}

.template__sidebar {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 310px;
  width: 100%;
  padding-right: 40px
}

@media (max-width:1260px) {
  .template__sidebar {
    max-width: 100%;
    width: auto;
    padding-right: 0;
    margin-bottom: 40px
  }
}

.template__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px
}

.template__tabs {
  padding-top: 10vw
}

@media (max-width:1260px) {
  .template__tabs {
    padding-top: 120px
  }
}

.template__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 80px 0
}

@media (max-width:1023px) {
  .template__pagination {
    margin: 40px 0
  }
}

.template__messenger-search {
  margin-bottom: 40px
}