.timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, .8)
}

@media (max-width:1260px) {
  .timer {
    padding-bottom: 26px
  }
}

@media (max-width:767px) {
  .timer {
    padding-right: 10px;
    padding-left: 10px
  }
}

.timer__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase
}

@media (max-width:767px) {
  .timer__title {
    margin-bottom: 16px;
    font-size: 12px;
    letter-spacing: 1px
  }
}

.timer__value {
  font-weight: 900;
  font-size: 34px
}

@media (max-width:1260px) {
  .timer__value {
    font-size: 36px
  }
}

@media (max-width:767px) {
  .timer__value {
    font-size: 24px
  }
}