
.card-control__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px
}

.card-control__term {
  font-weight: 700;
  line-height: 1.1
}

.card-control__amount {
  margin: 0 8px;
  color: #f90;
  font-weight: 400;
  font-size: 24px;
  font-family: Times New Roman
}

.card-control__extend {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline
}

.card-control__extend:hover {
  text-decoration: none
}

.card-control__item+.card-control__item {
  margin-top: 8px
}

.card-control__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #222;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s
}

.card-control__link:hover {
  background-color: #f90;
  color: #171717;
  text-decoration: none
}

.card-control__link:hover .card-control__icon svg g,
.card-control__link:hover .card-control__icon svg path {
  fill: #171717
}

.card-control__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.card-control__name {
  padding-left: 16px;
  font-weight: 700
}