
.banner-card {
  border: 1px solid #121212;
  border-radius: 4px;
  background: #151515
}

.banner-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 62px;
  padding-left: 24px;
  background-color: #121212
}

@media (max-width:767px) {
  .banner-card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 13px 32px 11px
  }
}

@media (max-width:479px) {
  .banner-card__header {
    padding-right: 16px;
    padding-left: 16px
  }
}

.banner-card__name {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #f90;
  font-weight: 700
}

.banner-card__data,
.banner-card__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .banner-card__data {
    margin-top: 11px;
    padding-top: 14px;
    border-top: 1px solid #171717
  }
}

.banner-card__date,
.banner-card__views {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 24px;
  border-left: 1px solid #171717
}

@media (max-width:767px) {

  .banner-card__date,
  .banner-card__views {
    padding: 0;
    border-left: none
  }
}

.banner-card__date:before,
.banner-card__views:before {
  content: "";
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: cover
}

.banner-card__views:before {
  background-image: url(/images/eye-e972c9fb.svg)
}

@media (max-width:767px) {
  .banner-card__date {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-right: 16px
  }
}

.banner-card__date:before {
  background-image: url(/images/calendar-dbacc86c.svg)
}

.banner-card__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 24px 24px 22px
}

@media (max-width:767px) {
  .banner-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 18px 31px 15px
  }
}

@media (max-width:479px) {
  .banner-card__body {
    padding-right: 16px;
    padding-left: 16px
  }
}

.banner-card__picture {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 246px;
  height: 200px
}

@media (max-width:1023px) {
  .banner-card__picture {
    width: 180px;
    height: 146px
  }
}

@media (max-width:767px) {
  .banner-card__picture {
    width: 100%;
    height: 208px;
    margin-bottom: 24px
  }
}

.banner-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.banner-card__details {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 0 40px
}

@media (max-width:1023px) {
  .banner-card__details {
    padding: 0 24px
  }
}

@media (max-width:767px) {
  .banner-card__details {
    width: 100%;
    margin-bottom: 33px;
    padding: 0
  }
}

.banner-card__table {
  width: 100%;
  border-collapse: collapse
}

.banner-card__table tbody tr:first-child td {
  border-top: 1px solid #222
}

.banner-card__table tbody td {
  padding: 8px 0;
  border-bottom: 1px solid #222
}

.banner-card__table tbody td:first-child {
  color: #5c5c5c
}

.banner-card__table tbody td:last-child {
  text-align: right
}

.banner-card__aside {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 246px
}

@media (max-width:767px) {
  .banner-card__aside {
    width: 100%
  }
}

.banner-card__control {
  margin-top: -8px
}

@media (max-width:767px) {
  .banner-card__control {
    margin-top: 0
  }
}