.card {
  overflow: hidden;
  border: 1px solid #121212;
  border-radius: 4px;
  background-color: #151515
}

.card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 12px 23px 10px 24px;
  background-color: #121212
}

@media (max-width:479px) {
  .card__header {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (max-width:1023px) {
  .card__info {
    padding-top: 1px
  }
}

.card__body {
  padding: 16px 24px 24px
}

@media (max-width:1023px) {
  .card__body {
    padding-top: 17px
  }
}

@media (max-width:479px) {
  .card__body {
    padding: 16px
  }
}

.card__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:479px) {
  .card__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.card__section {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 190px
}

@media (max-width:479px) {
  .card__section {
    width: 100%
  }
}

.card__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 8px;
  padding-top: 16px;
  border-top: 1px solid #222
}

.card__block {
  padding-top: 2px;
  text-align: right
}

.card__elems {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 16px
}

@media (max-width:767px) {
  .card__elems {
    padding-left: 40px
  }
}

@media (max-width:479px) {
  .card__elems {
    padding-left: 0
  }
}

.card__elem {
  padding: 8px 0;
  border-bottom: 1px solid #222
}

.card__elem:first-child {
  padding-top: 0
}

@media (max-width:479px) {
  .card__elem:first-child {
    padding-top: 16px;
    border-top: 1px solid #222
  }
}

.card__elem:last-child {
  border-bottom: none
}

.card__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 4px
}

.card__item:last-child {
  margin-bottom: 0
}

.card__legend {
  color: #5c5c5c
}

.card__elem--price .card__legend {
  color: #f90
}

.card__classification {
  margin-bottom: 19px;
  color: #f90;
  font-weight: 700
}

@media (max-width:479px) {
  .card__classification {
    margin-bottom: 22px;
    font-size: 12px
  }
}

.card__name {
  color: #f90;
  font-size: 18px
}

.card__rating .rating-static {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.card__voted {
  margin-top: 2px;
  color: #5c5c5c;
  font-size: 10px
}

.card__labels {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 1px
}

@media (max-width:479px) {
  .card__labels {
    margin-top: 8px
  }
}

.card__label {
  width: 30px;
  height: 30px;
  margin-right: 8px
}

@media (max-width:479px) {
  .card__label {
    width: 24px;
    height: 24px
  }
}

.card__label:last-child {
  margin-right: 0
}

.card__rating-score {
  margin-top: 16px
}

@media (max-width:479px) {
  .card__rating-score {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px
  }
}

.card__rating-score .rating-score__title {
  margin-right: 8px
}

.card__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 3px;
  font-size: 12px
}

.card__date:before {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-image: url(/images/calendar-4b32fa18.svg);
  background-repeat: no-repeat
}

.card__favicons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

// Card Slider

.card__slider {
  font-size: 0
}

.card__slider .swiper-pagination {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 8px
}

.card__slider .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px 0 0
}

.card__slider .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0
}

.card__slider .swiper-pagination-bullet {
  width: 10.5%;
  height: 2px;
  border-radius: 0;
  background: #5c5c5c;
  opacity: 1;
  -webkit-transition: background .3s;
  transition: background .3s
}

.card__slider .swiper-pagination-bullet-active {
  background: #f90
}

.card__slider .swiper-slide {
  height: 254px
}

@media (max-width:479px) {
  .card__slider .swiper-slide {
    height: 342px
  }
}

.card__slider .swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}