
.main-card__slider .swiper-pagination-progressbar {
  position: relative;
  margin-top: 7px;
  background: #222
}

.main-card__slider .swiper-container-horizontal>.swiper-pagination-progressbar,
.main-card__slider .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 1px
}

.main-card__slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #f90
}

.main-card__slider .swiper-slide {
  width: 190px;
  height: auto;
  font-size: 0
}

.main-card__slider .swiper-slide__video {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.main-card__slider .swiper-slide__video:after,
.main-card__slider .swiper-slide__video:before {
  content: "";
  position: absolute;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: none
}

.main-card__slider .swiper-slide__video--play:after,
.main-card__slider .swiper-slide__video--play:before {
  opacity: 0
}

.main-card__slider .swiper-slide__video:before {
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, .7);
  background-image: url(/images/play-639415b3.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 8px;
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px)
}

.main-card__slider .swiper-slide__video:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 9%, .5)), to(hsla(0, 0%, 9%, .5)));
  background: linear-gradient(0deg, hsla(0, 0%, 9%, .5), hsla(0, 0%, 9%, .5));
  background-blend-mode: hard-light, normal
}

.main-card__slider .swiper-slide__img,
.main-card__slider .swiper-slide__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.main-card__slider .swiper-slide__img {
  display: block
}

.main-card__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.main-card__navigation .swiper-button-next,
.main-card__navigation .swiper-button-prev {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 24px;
  height: 12px;
  margin: 0;
  background-repeat: no-repeat
}

.main-card__navigation .swiper-button-next:after,
.main-card__navigation .swiper-button-prev:after {
  display: none
}

.main-card__navigation .swiper-button-next.swiper-button-disabled,
.main-card__navigation .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-position: 0
}

.main-card__navigation .swiper-button-next {
  background-image: url(/images/arrow-next-36493594.png);
  background-position: 100%
}

.main-card__navigation .swiper-button-prev {
  margin-right: 16px;
  background-image: url(/images/arrow-prev-79be8dfd.png);
  background-position: 100%
}

.main-card {
  border: 1px solid #f90;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(255, 178, 0, .35);
  background-color: #121212
}

@media (max-width:1023px) {
  .main-card {
    box-shadow: 0 0 15px rgba(255, 178, 0, .35)
  }
}

.main-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 60px;
  padding: 13px 22px;
  border: 1px solid #222;
  border-radius: 4px 4px 0 0;
  background-color: #0c0c0c
}

@media (max-width:1023px) {
  .main-card__header {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 11px
  }
}

@media (max-width:767px) {
  .main-card__header {
    padding: 14px
  }
}

@media (max-width:479px) {
  .main-card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.main-card__alert {
  display: none;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 24px;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #f90;
  color: #171717;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  cursor: default
}

@media (max-width:1023px) {
  .main-card__alert {
    margin-right: 18px
  }
}

@media (max-width:767px) {
  .main-card__alert {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px
  }
}

@media (max-width:479px) {
  .main-card__alert {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px
  }
}

.main-card__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 16px 24px 24px
}

@media (max-width:1023px) {
  .main-card__body {
    padding-top: 17px;
    padding-bottom: 23px
  }
}

@media (max-width:767px) {
  .main-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 16px 16px 15px
  }
}

.main-card__content,
.main-card__info {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-right: 40px
}

@media (max-width:1023px) {

  .main-card__content,
  .main-card__info {
    padding-right: 24px
  }
}

@media (max-width:767px) {

  .main-card__content,
  .main-card__info {
    padding-right: 0
  }
}

@media (max-width:767px) {
  .main-card__content {
    margin-bottom: 24px
  }
}

.main-card__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:1023px) {
  .main-card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-top: 4px
  }
}

@media (max-width:767px) {
  .main-card__info {
    padding-top: 0
  }
}

.main-card__personal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:1023px) {
  .main-card__personal {
    margin-bottom: 6px
  }
}

@media (max-width:767px) {
  .main-card__personal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 3px
  }
}

@media (max-width:479px) {
  .main-card__personal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 6px
  }
}

.main-card__aside,
.main-card__block {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 246px
}

.main-card__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .main-card__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: auto
  }
}

@media (max-width:479px) {
  .main-card__block {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-bottom: 19px
  }
}

@media (max-width:767px) {
  .main-card__aside {
    width: 100%
  }
}

.main-card__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 15px
}

@media (max-width:1023px) {
  .main-card__bottom {
    padding-top: 19px
  }
}

@media (max-width:767px) {
  .main-card__bottom {
    padding-top: 17px
  }
}

@media (max-width:479px) {
  .main-card__bottom {
    padding-top: 7px
  }
}

.main-card__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 3px;
  font-size: 12px
}

.main-card__date:before {
  content: "";
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-right: 4px;
  background-image: url(/images/calendar-a0c53ada.svg);
  background-repeat: no-repeat
}

.main-card__favorites {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.main-card__city {
  color: #fff
}

.main-card__name {
  margin-top: -1px;
  color: #f90;
  font-size: 18px
}

.main-card__separator {
  width: 1px;
  height: 16px;
  margin: 0 17px;
  background-color: #222
}

@media (max-width:767px) {
  .main-card__separator {
    display: none
  }
}

@media (max-width:479px) {
  .main-card__separator {
    display: inline-block
  }
}

.main-card__classification {
  color: #f90;
  font-weight: 700
}

@media (max-width:767px) {
  .main-card__classification {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-bottom: 21px
  }
}

@media (max-width:479px) {
  .main-card__classification {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-bottom: 0
  }
}

.main-card__elems .main-card__classification {
  display: none
}

.main-card__street {
  color: #4092de;
  text-decoration: underline
}

.main-card__address:hover .main-card__street {
  text-decoration: none
}

.main-card__address {
  margin-left: auto
}

@media (max-width:1023px) {
  .main-card__address {
    margin-left: 0
  }
}

@media (max-width:767px) {
  .main-card__address {
    font-size: 12px
  }
}

.main-card__address:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 16px;
  margin-right: 8px;
  background-image: url(/images/map-215d5821.svg);
  background-repeat: no-repeat
}

.main-card__address:hover {
  text-decoration: none
}

.main-card__labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 0
}

@media (max-width:767px) {
  .main-card__labels {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-top: 26px
  }
}

@media (max-width:479px) {
  .main-card__labels {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
    margin-top: 0
  }
}

.main-card__labels--mobile {
  display: none
}

.main-card__label {
  width: 30px;
  height: 30px;
  margin-right: 8px
}

.main-card__label:last-child {
  margin-right: 0
}

.main-card__rating {
  text-align: right
}

.main-card__rating .rating-static {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.main-card__rating--mobile {
  display: none
}

.main-card__voted {
  margin-top: 5px;
  color: #5c5c5c;
  font-size: 10px
}

.main-card__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 9px
}

.main-card__description {
  margin-top: 18px;
  padding: 8px 16px 4px;
  border-radius: 4px;
  background-color: #222;
  color: #fff
}

@media (max-width:1023px) {
  .main-card__description {
    padding-bottom: 8px
  }
}

@media (max-width:767px) {
  .main-card__description {
    margin-top: 24px
  }
}

@media (max-width:479px) {
  .main-card__description {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (max-width:767px) {
  .main-card__elems {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -25px;
    border-bottom: 1px solid #222
  }
}

@media (max-width:479px) {
  .main-card__elems {
    margin-left: 0;
    border-bottom: none
  }
}

.main-card__elem {
  padding: 14px 0 8px;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .main-card__elem {
    width: -webkit-calc(50% - 25px);
    width: calc(50% - 25px);
    margin-left: 25px;
    border-bottom: none
  }
}

@media (max-width:479px) {
  .main-card__elem {
    width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #222
  }
}

.main-card__elem:first-child {
  padding-top: 0
}

@media (max-width:767px) {
  .main-card__elem:first-child {
    width: 100%;
    border-bottom: 1px solid #222
  }
}

@media (max-width:767px) {
  .main-card__elem:first-child .main-card__items {
    -webkit-columns: auto 2;
    -moz-columns: auto 2;
    columns: 2;
    grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px
  }
}

@media (max-width:479px) {
  .main-card__elem:first-child .main-card__items {
    -webkit-columns: 1;
    -moz-columns: 1;
    column-count: 1;
    grid-column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0
  }
}

.main-card__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 4px
}

.main-card__item:last-child {
  margin-bottom: 0
}

.main-card__title {
  margin-bottom: 7px;
  color: #f90
}

@media (max-width:479px) {
  .main-card__title {
    margin-bottom: 6px
  }
}

.main-card__title .main-card__value {
  display: none
}

.main-card__legend {
  color: #5c5c5c
}

.main-card--new {
  border-color: #222;
  box-shadow: none
}

.main-card--new .main-card__header {
  border: none;
  border-bottom: 1px solid #222
}

@media (max-width:1023px) {
  .main-card--new .main-card__header {
    padding-top: 15px
  }
}

@media (max-width:767px) {
  .main-card--new .main-card__header {
    padding: 16px 16px 12px
  }
}

@media (max-width:1023px) {
  .main-card--new .main-card__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row
  }
}

@media (max-width:767px) {
  .main-card--new .main-card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__info {
    width: 100%
  }
}

@media (max-width:1023px) {
  .main-card--new .main-card__personal {
    margin-bottom: 0
  }
}

@media (max-width:767px) {
  .main-card--new .main-card__personal {
    margin-bottom: 1px
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__personal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    line-height: 1
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__separator {
    display: none
  }
}

.main-card--new .main-card__classification {
  display: none
}

@media (max-width:767px) {
  .main-card--new .main-card__classification {
    display: block
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__classification {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 6px;
    line-height: 1
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__rating--mobile {
    display: block
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__block {
    display: none
  }
}

.main-card--new .main-card__elems .main-card__classification {
  display: block;
  margin-bottom: 12px;
  padding: 3px 0 16px;
  border-bottom: 1px solid #222;
  line-height: 1;
  text-align: right
}

@media (max-width:1260px) {
  .main-card--new .main-card__elems .main-card__classification {
    margin-bottom: 8px;
    padding: 5px 0 18px
  }
}

@media (max-width:1023px) {
  .main-card--new .main-card__elems .main-card__classification {
    padding-top: 3px
  }
}

@media (max-width:767px) {
  .main-card--new .main-card__elems .main-card__classification {
    display: none
  }
}

.main-card--new .main-card__elem:not(:first-child) {
  padding: 16px 0
}

.main-card--new .main-card__elem:not(:first-child) .main-card__items {
  display: none
}

.main-card--new .main-card__address {
  margin-left: 0;
  padding-top: 2px
}

@media (max-width:479px) {
  .main-card--new .main-card__address {
    padding-top: 0
  }
}

@media (max-width:479px) {
  .main-card--new .main-card__labels--mobile {
    display: block
  }
}

.main-card--new .main-card__description,
.main-card--new .main-card__label--vip {
  display: none
}

.main-card--new .main-card__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0
}

.main-card--new .main-card__title .main-card__value {
  display: block;
  color: #fff
}

@media (max-width:1023px) {
  .main-card--new .main-card__bottom {
    padding-top: 17px
  }
}

.main-card--not-working .main-card__header {
  padding-top: 7px;
  padding-bottom: 7px
}

@media (max-width:1023px) {
  .main-card--not-working .main-card__header {
    padding-bottom: 4px
  }
}

@media (max-width:767px) {
  .main-card--not-working .main-card__header {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px 16px
  }
}

.main-card--not-working .main-card__alert {
  display: block
}

@media (max-width:1023px) {
  .main-card--not-working .main-card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    padding-right: 0
  }
}

@media (max-width:479px) {
  .main-card--not-working .main-card__name {
    margin-bottom: 7px
  }
}

@media (max-width:479px) {
  .main-card--not-working .main-card__classification {
    margin-bottom: 9px
  }
}

@media (max-width:1023px) {
  .main-card--not-working .main-card__separator {
    display: none
  }
}

.main-card--not-working .main-card__labels {
  display: none
}

.main-card--not-working .main-card__block {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  width: auto
}

@media (max-width:1023px) {
  .main-card--not-working .main-card__block {
    padding-top: 8px
  }
}

@media (max-width:767px) {
  .main-card--not-working .main-card__block {
    padding-top: 0
  }
}

@media (max-width:767px) {
  .main-card--not-working .main-card__elem:first-child {
    padding-bottom: 5px
  }
}

.main-card--not-working .main-card__slider .swiper-container {
  pointer-events: none
}

.main-card--not-working .main-card__slider .swiper-wrapper:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 9%, .7)), to(hsla(0, 0%, 9%, .7)));
  background-image: linear-gradient(0deg, hsla(0, 0%, 9%, .7), hsla(0, 0%, 9%, .7))
}

.main-card--not-working .main-card__navigation {
  pointer-events: none
}