
.profile-card {
  border: 1px solid #121212;
  border-radius: 4px;
  background: #151515
}

.profile-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 56px;
  padding: 10px 22px;
  border-radius: 4px 4px 0 0;
  background-color: #0c0c0c
}

@media (max-width:767px) {
  .profile-card__header {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 14px 16px
  }
}

.profile-card__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 24px 22px 26px 24px
}

@media (max-width:1023px) {
  .profile-card__body {
    padding-bottom: 14px
  }
}

@media (max-width:767px) {
  .profile-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 16px
  }
}

.profile-card__content,
.profile-card__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-right: 40px
}

@media (max-width:1023px) {

  .profile-card__content,
  .profile-card__info {
    padding-right: 24px
  }
}

@media (max-width:767px) {

  .profile-card__content,
  .profile-card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-right: 0
  }
}

.profile-card__info {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .profile-card__info {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.profile-card__details {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 40px
}

@media (max-width:1023px) {
  .profile-card__details {
    padding-left: 24px
  }
}

@media (max-width:767px) {
  .profile-card__details {
    margin-bottom: 22px;
    padding-left: 0
  }
}

.profile-card__table {
  width: 100%;
  border-collapse: collapse
}

.profile-card__table tbody tr:first-child td {
  padding-top: 0;
  border-top: none
}

.profile-card__table tbody td {
  width: 50%;
  padding: 8px 0;
  border-top: 1px solid #222
}

.profile-card__table tbody td:first-child {
  color: #5c5c5c
}

.profile-card__table tbody td:last-child {
  text-align: right
}

.profile-card__table tbody td>span {
  color: #f90
}

.profile-card__personal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .profile-card__personal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.profile-card__name {
  color: #f90;
  font-weight: 700;
  font-size: 14px
}

.profile-card__separator {
  width: 1px;
  height: 16px;
  margin: 0 17px;
  background-color: #222
}

@media (max-width:767px) {
  .profile-card__separator {
    display: none
  }
}

.profile-card__phone {
  color: #fff;
  font-weight: 700;
  -webkit-transition: color .3s;
  transition: color .3s
}

.profile-card__phone:hover {
  color: #cc8f00;
  text-decoration: none
}

.profile-card__classification {
  color: #f90;
  font-weight: 700
}

@media (max-width:767px) {
  .profile-card__classification {
    margin-top: 2px
  }
}

.profile-card__aside,
.profile-card__block {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 246px
}

@media (max-width:767px) {

  .profile-card__aside,
  .profile-card__block {
    width: auto
  }
}

.profile-card__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

@media (max-width:767px) {
  .profile-card__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    padding-top: 2px
  }
}

.profile-card__control {
  margin-top: -6px
}

.profile-card__label {
  margin-right: 16px;
  padding: 6px 16px;
  border-radius: 12px;
  background-color: #222;
  color: #1aa520;
  font-weight: 700;
  font-size: 12px;
  line-height: 1
}

@media (max-width:767px) {
  .profile-card__label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-top: 8px;
    margin-right: 0
  }
}

.profile-card__rating {
  text-align: right
}

.profile-card__rating .rating-static {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

// Slider

.profile-card__slider {
  width: 246px;
  height: 328px
}

@media (max-width:1023px) {
  .profile-card__slider {
    width: 160px;
    height: 214px
  }
}

@media (max-width:767px) {
  .profile-card__slider {
    width: 100%;
    height: 342px;
    margin-bottom: 26px
  }
}

.profile-card__slider .swiper-container {
  width: 100%;
  height: 100%
}

.profile-card__slider .swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.profile-card__slider .swiper-pagination {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-top: 8px;
  font-size: 0
}

.profile-card__slider .swiper-pagination-bullet {
  width: -webkit-calc(10.165% - 5px);
  width: calc(10.165% - 5px);
  height: 2px;
  margin-right: 5px;
  border-radius: 0;
  background: #5c5c5c;
  opacity: 1;
  -webkit-transition: background .3s;
  transition: background .3s
}

.profile-card__slider .swiper-pagination-bullet:last-child {
  margin-right: 0
}

.profile-card__slider .swiper-pagination-bullet-active {
  background: #f90
}