@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(./ArialMT-a96ae868.woff2) format("woff2"), url(./ArialMT-9bdc7988.woff) format("woff");
}

@font-face {
  font-family: Arial;
  font-display: swap;
  font-weight: 900;
  src: url(./Arial-Black-31b92b9e.woff2) format("woff2"), url(./Arial-Black-5efec927.woff) format("woff");
}

@font-face {
  font-family: Arial;
  font-display: swap;
  font-weight: 700;
  src: url(./Arial-BoldMT-02617a1f.woff2) format("woff2"), url(./Arial-BoldMT-9902f6fc.woff) format("woff");
}