.banners-accept {
  margin-top: 40px;
  padding: 18px 24px 32px;
  border-radius: 4px;
  background-color: #222
}

@media (max-width:1260px) {
  .banners-accept {
    padding-bottom: 24px
  }
}

@media (max-width:767px) {
  .banners-accept {
    padding: 17px
  }
}

.banners-accept__title {
  margin-bottom: 16px;
  color: #f90
}

.banners-accept__item {
  position: relative;
  margin-bottom: 8px;
  padding-left: 13px;
  line-height: 1.5
}

.banners-accept__item:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff
}

.banners-accept__item:last-child {
  margin-bottom: 0
}