.cabinet-balance {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #151515
}

@media (max-width:767px) {
  .cabinet-balance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.cabinet-balance__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 0 12px
}

@media (max-width:767px) {
  .cabinet-balance__info {
    width: 100%;
    padding: 9px 12px 16px
  }
}

.cabinet-balance__icon {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.cabinet-balance__item {
  padding-left: 10px
}

@media (max-width:767px) {
  .cabinet-balance__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.cabinet-balance__title {
  margin-bottom: 4px;
  color: #5c5c5c;
  font-weight: 700;
  line-height: 1
}

@media (max-width:767px) {
  .cabinet-balance__title {
    margin-bottom: 0;
    margin-right: 4px
  }
}

.cabinet-balance__score {
  color: #fff;
  font-weight: 700;
  line-height: 1
}

.cabinet-balance__value {
  color: #f90
}

@media (max-width:767px) {
  .cabinet-balance__button {
    width: 100%
  }
}