@media (max-width:1260px) {
  .banners-new {
    max-width: 890px;
    margin: 0 auto
  }
}

.banners-new__title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1
}

@media (max-width:1023px) {
  .banners-new__title {
    margin-bottom: 24px
  }
}

@media (max-width:479px) {
  .banners-new__title {
    font-size: 18px
  }
}

.banners-new__form {
  border: 1px solid #121212;
  border-radius: 4px;
  background: #151515
}

@media (max-width:767px) {
  .banners-new__form {
    margin: 0 -15px
  }
}

.banners-new__row {
  padding: 20px 24px 40px;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .banners-new__row {
    padding: 20px 16px 32px
  }
}

.banners-new__row:first-child {
  border-top: none
}

.banners-new__row:last-child {
  padding-bottom: 24px
}

.banners-new__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-bottom: -27px
}

@media (max-width:1023px) {
  .banners-new__items {
    margin-left: -16px
  }
}

@media (max-width:767px) {
  .banners-new__items {
    margin-left: 0;
    margin-bottom: 0
  }
}

.banners-new__item {
  width: -webkit-calc(32.5% - 40px);
  width: calc(32.5% - 40px);
  margin-left: 40px;
  margin-bottom: 27px
}

@media (max-width:1023px) {
  .banners-new__item {
    width: -webkit-calc(33.5% - 16px);
    width: calc(33.5% - 16px);
    margin-left: 16px
  }
}

@media (max-width:767px) {
  .banners-new__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 21px
  }
}

@media (max-width:767px) {
  .banners-new__item:last-child {
    margin-bottom: 0
  }
}

.banners-new__item--lg {
  width: -webkit-calc(67.5% - 40px);
  width: calc(67.5% - 40px)
}

@media (max-width:1023px) {
  .banners-new__item--lg {
    width: -webkit-calc(66.5% - 16px);
    width: calc(66.5% - 16px)
  }
}

@media (max-width:767px) {
  .banners-new__item--lg {
    width: 100%
  }
}

.banners-new__input .input__label,
.banners-new__label {
  margin-bottom: 6px
}

.banners-new__input .input__control {
  height: 46px
}

@media (max-width:767px) {
  .banners-new__radio {
    display: none
  }
}

.banners-new__select-type {
  display: none
}

@media (max-width:767px) {
  .banners-new__select-type {
    display: block
  }
}

.banners-new__select-type .select2 .select2-selection,
.banners-new__select .select2 .select2-selection {
  height: 46px
}

.banners-new__subtitle {
  margin-bottom: 35px;
  color: #f90;
  font-weight: 700
}

@media (max-width:767px) {
  .banners-new__subtitle {
    margin-bottom: 31px
  }
}

@media (max-width:479px) {
  .banners-new__subtitle {
    margin-bottom: 26px
  }
}

.banners-new__overlay {
  overflow: auto
}

.banners-new__sections {
  max-width: 396px;
  width: 100%;
  border-collapse: collapse
}

@media (max-width:767px) {
  .banners-new__sections {
    max-width: 100%
  }
}

@media (max-width:360px) {
  .banners-new__sections {
    width: 360px
  }
}

.banners-new__sections .checkbox__label:before {
  margin-right: 15px
}

.banners-new__sections thead th {
  padding-bottom: 9px;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .banners-new__sections thead th {
    font-size: 12px
  }
}

@media (max-width:479px) {
  .banners-new__sections thead th {
    padding-bottom: 12px
  }
}

.banners-new__sections tbody td {
  padding: 16px 0 10px;
  border-bottom: 1px solid #222
}

.banners-new__sections tbody td:first-child {
  width: 77%
}

@media (max-width:767px) {
  .banners-new__sections tbody td:first-child {
    width: 54%
  }
}

.banners-new__sections tbody td:last-child {
  width: 23%;
  padding-top: 12px;
  color: #f90
}

@media (max-width:767px) {
  .banners-new__sections tbody td:last-child {
    width: 46%
  }
}

.banners-new__checkbox {
  margin-top: 5px
}

@media (max-width:767px) {
  .banners-new__checkbox {
    margin-left: 7px
  }
}

.banners-new__total {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 18px 0 24px;
  padding: 24px 0 20px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .banners-new__total {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 30px;
    padding: 22px 0 30px
  }
}

@media (max-width:767px) {
  .banners-new__total-content {
    width: 100%;
    margin-bottom: 23px
  }
}

.banners-new__total-text {
  font-size: 18px;
  line-height: 1.5
}

@media (max-width:767px) {
  .banners-new__total-text {
    margin-bottom: 3px
  }
}

@media (max-width:479px) {
  .banners-new__total-text {
    margin-bottom: 10px;
    line-height: 1
  }
}

.banners-new__total-value span {
  color: #f90;
  font-size: 18px
}

.banners-new__total-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .banners-new__total-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%
  }
}

.banners-new__total-reset {
  margin-right: 15px;
  border: none;
  background-color: transparent;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:767px) {
  .banners-new__total-reset {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-top: 23px;
    margin-right: 0
  }
}

.banners-new__total-reset:hover {
  color: #cc8f00
}

@media (max-width:767px) {
  .banners-new__total-button {
    width: 100%
  }
}

.banners-new__support {
  color: #5c5c5c
}

.banners-new__support>a:hover {
  color: #cc8f00;
  text-decoration: none
}