.blacklist-card {
  border: 1px solid #121212;
  border-radius: 4px;
  background-color: #151515;
  box-shadow: 0 0 16px rgba(173, 58, 54, .45)
}

.blacklist-card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 62px;
  padding: 0 24px;
  background-color: #121212
}

@media (max-width:767px) {
  .blacklist-card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0
  }
}

.blacklist-card__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .blacklist-card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 16px 24px 12px
  }
}

@media (max-width:479px) {
  .blacklist-card__info {
    padding-right: 16px;
    padding-left: 16px
  }
}

.blacklist-card__tel {
  color: #fff;
  font-size: 18px
}

@media (max-width:767px) {
  .blacklist-card__tel {
    margin-bottom: 5px;
    line-height: 1
  }
}

.blacklist-card__separator {
  width: 1px;
  height: 16px;
  margin: 0 16px;
  background-color: #222
}

@media (max-width:767px) {
  .blacklist-card__separator {
    display: none
  }
}

.blacklist-card__status {
  color: #a61a1a;
  font-weight: 700
}

.blacklist-card__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .blacklist-card__block {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 50px;
    padding-left: 24px;
    padding-right: 9px;
    border-bottom: 1px solid #171717
  }
}

@media (max-width:479px) {
  .blacklist-card__block {
    padding-left: 16px;
    padding-right: 0
  }
}

.blacklist-card__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-right: 24px
}

@media (max-width:767px) {
  .blacklist-card__controls {
    margin-right: 0
  }
}

.blacklist-card__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 68px;
  height: 62px;
  border-right: 1px solid #171717;
  cursor: pointer
}

@media (max-width:767px) {
  .blacklist-card__control {
    width: 50px;
    height: 50px
  }
}

.blacklist-card__control:first-child {
  border-left: 1px solid #171717
}

@media (max-width:767px) {
  .blacklist-card__control:last-child {
    border-right: none
  }
}

.blacklist-card__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .blacklist-card__date {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    font-size: 12px
  }
}

.blacklist-card__date:before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(/images/calendar-9716684e.svg);
  background-repeat: no-repeat
}

@media (max-width:767px) {
  .blacklist-card__date:before {
    width: 12px;
    height: 12px;
    margin-right: 4px
  }
}

.blacklist-card__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 24px 24px 14px
}

@media (max-width:1023px) {
  .blacklist-card__body {
    padding-top: 16px;
    padding-bottom: 23px
  }
}

@media (max-width:767px) {
  .blacklist-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:479px) {
  .blacklist-card__body {
    padding: 16px
  }
}

.blacklist-card__table {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 246px;
  border-collapse: collapse
}

@media (max-width:767px) {
  .blacklist-card__table {
    width: 100%;
    margin-bottom: 24px
  }
}

.blacklist-card__table tr:first-child td {
  padding-top: 0;
  border-top: none
}

.blacklist-card__table td {
  padding: 8px 0;
  border-top: 1px solid #222
}

.blacklist-card__table td:first-child {
  color: #5c5c5c
}

.blacklist-card__table td:last-child {
  text-align: right
}

.blacklist-card__content {
  padding-left: 40px
}

@media (max-width:767px) {
  .blacklist-card__content {
    padding-left: 0
  }
}

.blacklist-card__subtitle {
  margin-bottom: 10px;
  color: #5c5c5c;
  font-weight: 700;
  line-height: 1.3
}

@media (max-width:767px) {
  .blacklist-card__subtitle {
    margin-bottom: 18px
  }
}

.blacklist-card__comment {
  padding: 7px 14px;
  border: 1px solid #222
}