.chat-controls {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  border: 1px solid #222;
  border-radius: 4px
}

.chat-controls__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer
}

.chat-controls__item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #222
}

.chat-controls__item:hover svg path {
  fill: #f90
}