.chat-actions {
  position: relative
}

.chat-actions__button {
  width: 50px;
  height: 50px;
  margin: 0;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: transparent;
  background-image: url(/images/more-7d3c5e9a.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer
}

@media (max-width:767px) {
  .chat-actions__button {
    width: 30px;
    height: 40px;
    border-color: transparent
  }
}

.chat-actions__list {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  display: none;
  min-width: 252px;
  margin-top: 8px;
  padding: 4px 0;
  border: 1px solid #222;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(18, 18, 18, .5);
  background-color: #121212
}

@media (max-width:767px) {
  .chat-actions__list {
    margin-top: 26px
  }
}

.chat-actions__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}

.chat-actions__link:hover {
  background-color: #222;
  text-decoration: none
}

.chat-actions__icon {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 12px
}