.cabinet-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.cabinet-control__title {
  margin-right: 16px;
  font-weight: 700
}

.cabinet-control__item,
.cabinet-control__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.cabinet-control__item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #121212;
  border-radius: 4px;
  background-color: #151515;
  cursor: pointer
}

.cabinet-control__item+.cabinet-control__item {
  margin-left: 8px
}