.theme-cabinet-dropdown .select2-selection {
  height: 46px;
  background-color: #121212
}

.theme-cabinet-dropdown .select2-selection .select2-selection__arrow {
  background-image: url(/images/dot-9b678192.svg)
}

.theme-cabinet-dropdown .select2-selection--single .select2-selection__arrow {
  width: 14px
}

.theme-cabinet-dropdown .select2-selection--single .select2-selection__rendered {
  color: #fff
}

.theme-cabinet-dropdown .select2-results__options {
  padding: 2px 0;
  background-color: #121212
}

.theme-cabinet-dropdown .select2-results__option {
  padding-top: 11px;
  padding-bottom: 11px
}

.theme-cabinet-dropdown .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted,
.theme-cabinet-dropdown .select2-results__option[aria-selected=true] {
  background-color: #121212;
  color: #f90
}