.emojionearea.focused {
  border-color: #222;
  box-shadow: none
}

.emojionearea .emojionearea-button {
  position: absolute;
  z-index: 5;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;
  margin: 0 !important;
  background-image: url(/images/smile-badd1663.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  -webkit-transition: initial;
  transition: initial
}

@media (max-width:767px) {
  .emojionearea .emojionearea-button {
    right: 8px
  }
}

.emojionearea .emojionearea-button-close,
.emojionearea .emojionearea-button-open {
  display: none !important
}

.emojionearea .emojionearea-editor {
  display: block;
  overflow: auto;
  min-height: auto;
  max-height: 100%;
  height: auto;
  margin: 0;
  padding: 15px 40px 15px 16px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  cursor: text
}

@media (max-width:767px) {
  .emojionearea .emojionearea-editor {
    padding-right: 30px;
    padding-left: 10px;
    font-size: 13px
  }
}

.emojionearea .emojionearea-editor::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}

.emojionearea .emojionearea-editor::-webkit-scrollbar-thumb {
  display: none
}

.emojionearea .emojionearea-picker {
  width: 288px;
  height: 130px;
  border: 1px solid #222;
  border-radius: 4px;
  background: #151515;
  box-shadow: none
}

.emojionearea .emojionearea-picker .emojionearea-wrapper {
  width: 100% !important;
  height: 100% !important
}

.emojionearea .emojionearea-picker .emojionearea-scroll-area {
  height: 100%;
  padding: 10px 14px
}

.emojionearea .emojionearea-picker .emojionearea-scroll-area .emojionearea-category-block {
  padding: 0
}

.emojionearea .emojionearea-filters {
  display: none
}

@media (max-width:767px) {
  .emojionearea .emojionearea-category {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
}

.emojionearea .emojionearea-category-title {
  display: none !important
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top {
  right: 0 !important;
  margin-top: -150px
}

@media (max-width:767px) {
  .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
    width: 100vw;
    right: auto !important;
    left: auto !important;
    margin-left: -50px
  }
}

.emojionearea .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after {
  z-index: -1;
  bottom: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-color: transparent #222 #222 transparent;
  border-style: solid;
  border-width: 1px;
  background: #151515 !important
}

.emojionearea .emojionearea-button.active+.emojionearea-picker-position-top {
  margin-top: -125px
}