.favorites-parameters--open .favorites-parameters__toggler:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}

.favorites-parameters__toggler {
  position: relative;
  padding: 14px 37px;
  border: 1px solid #222;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer
}

.favorites-parameters__toggler:after,
.favorites-parameters__toggler:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain
}

.favorites-parameters__toggler:before {
  left: 14px;
  width: 15px;
  height: 16px;
  background-image: url(/images/search-e4e4e54f.svg)
}

.favorites-parameters__toggler:after {
  right: 20px;
  width: 14px;
  height: 8px;
  background-image: url(/images/select-arrow-e7ddc6bd.svg)
}

.favorites-parameters__content {
  --width-parameters-list: 256px;
  display: none;
  width: var(--width-parameters-list);
  margin-top: 8px;
  padding: 15px;
  background: #121212;
  border: 1px solid #222;
  border-radius: 4px
}

.favorites-parameters__items,
.favorites-parameters__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.favorites-parameters__list {
  width: 33.33%;
  background-color: #121212
}

@media (max-width:1023px) {
  .favorites-parameters__list {
    width: 50%
  }
}

@media (max-width:479px) {
  .favorites-parameters__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: 8px
  }
}

@media (max-width:1023px) {
  .favorites-parameters__list:last-child {
    display: none
  }
}

@media (max-width:479px) {
  .favorites-parameters__list:last-child {
    margin-top: 0
  }
}

.favorites-parameters__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 8px;
  line-height: 1.5
}

.favorites-parameters__item:last-child {
  margin-bottom: 0
}

.favorites-parameters__label {
  margin-right: 8px;
  color: #5c5c5c
}