.banners-feature__radio {
  margin-bottom: 22px
}

@media (max-width:767px) {
  .banners-feature__radio {
    display: none
  }
}

.banners-feature__select {
  display: none
}

@media (max-width:767px) {
  .banners-feature__select {
    display: block;
    margin-bottom: 32px
  }
}

.banners-feature__select .select2-white-theme .select2-selection {
  height: 46px
}

.banners-feature__label {
  margin-bottom: 6px
}

.banners-feature__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

@media (max-width:1023px) {
  .banners-feature__body {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
  }
}

@media (max-width:767px) {
  .banners-feature__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

.banners-feature__picture {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 270px;
  height: 270px
}

@media (max-width:767px) {
  .banners-feature__picture {
    margin-bottom: 22px
  }
}

.banners-feature__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.banners-feature__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-left: 16px
}

@media (max-width:1023px) {
  .banners-feature__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
}

@media (max-width:767px) {
  .banners-feature__content {
    width: 100%;
    padding-left: 0
  }
}

.banners-feature__block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-right: 40px
}

@media (max-width:1023px) {
  .banners-feature__block {
    max-width: 270px;
    width: 100%;
    padding-right: 0
  }
}

@media (max-width:767px) {
  .banners-feature__block {
    max-width: 100%;
    margin-bottom: 28px
  }
}

.banners-feature__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: -2px;
  margin-bottom: 18px
}

.banners-feature__size {
  font-size: 18px
}

.banners-feature__cost span {
  color: #f90;
  font-size: 18px
}

.banners-feature__file {
  position: relative;
  display: block
}

.banners-feature__file>input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}

.banners-feature__file>span {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 15px 24px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #222;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis
}

@media (max-width:767px) {
  .banners-feature__file>span {
    padding-right: 22px;
    padding-left: 22px
  }
}

.banners-feature__reqs {
  max-width: 246px;
  padding: 16px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #121212
}

@media (max-width:1023px) {
  .banners-feature__reqs {
    max-width: 100%
  }
}

@media (max-width:767px) {
  .banners-feature__reqs {
    width: 100%;
    padding: 14px
  }
}

.banners-feature__reqs-title {
  margin-bottom: 8px;
  color: #f90;
  line-height: 1.5
}

.banners-feature__reqs-item {
  position: relative;
  margin-bottom: 8px;
  padding-left: 13px;
  color: #5c5c5c;
  line-height: 1.5
}

.banners-feature__reqs-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5c5c5c
}

.banners-feature__reqs-item:last-child {
  margin-bottom: 0
}