.cabinet-filter {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex
}

@media (max-width:767px) {
  .cabinet-filter {
    width: 100%
  }
}

.cabinet-filter__toggle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 270px;
  height: 50px;
  padding-right: 40px;
  padding-left: 24px;
  border: 1px solid #121212;
  border-radius: 4px;
  background: #151515;
  cursor: pointer
}

@media (max-width:767px) {
  .cabinet-filter__toggle {
    width: 100%
  }
}

.cabinet-filter__title {
  margin-left: 10px;
  font-weight: 700
}

.cabinet-filter__plus {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer
}

.cabinet-filter__plus:after,
.cabinet-filter__plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

.cabinet-filter__plus:before {
  width: 100%;
  height: 2px
}

.cabinet-filter__plus:after {
  width: 2px;
  height: 100%
}

.cabinet-filter--show .cabinet-filter__plus:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg)
}

.cabinet-filter__body {
  position: absolute;
  z-index: 15;
  top: 100%;
  left: 0;
  display: none;
  width: 890px;
  margin-top: 8px;
  border: 1px solid #121212;
  border-radius: 4px;
  background: #151515
}

@media (max-width:1023px) {
  .cabinet-filter__body {
    width: 736px
  }
}

@media (max-width:767px) {
  .cabinet-filter__body {
    width: -webkit-calc(100vw - 30px);
    width: calc(100vw - 30px)
  }
}

.cabinet-filter__content,
.cabinet-filter__footer {
  padding: 24px
}

.cabinet-filter__content {
  padding-top: 20px;
  padding-bottom: 3px
}

.cabinet-filter__footer {
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .cabinet-filter__footer {
    text-align: center
  }
}

.cabinet-filter__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px
}

@media (max-width:767px) {
  .cabinet-filter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 0
  }
}

.cabinet-filter__item {
  width: -webkit-calc(33.33% - 16px);
  width: calc(33.33% - 16px);
  margin-bottom: 21px;
  margin-left: 16px
}

@media (max-width:767px) {
  .cabinet-filter__item {
    width: 100%;
    margin-left: 0
  }
}

.cabinet-filter__item--type {
  width: -webkit-calc(55% - 16px);
  width: calc(55% - 16px)
}

.cabinet-filter__item--size {
  width: -webkit-calc(45% - 16px);
  width: calc(45% - 16px)
}

@media (max-width:1023px) {

  .cabinet-filter__item--size,
  .cabinet-filter__item--type {
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px)
  }
}

@media (max-width:767px) {

  .cabinet-filter__item--size,
  .cabinet-filter__item--type {
    display: none
  }
}

.cabinet-filter__item--sm-type {
  display: none
}

@media (max-width:767px) {
  .cabinet-filter__item--sm-type {
    display: block
  }
}

.cabinet-filter__label {
  margin-bottom: 6px
}

@media (max-width:767px) {
  .cabinet-filter__button {
    width: 100%;
    margin-bottom: 21px
  }
}

.cabinet-filter__reset {
  margin-left: 14px;
  border: none;
  background-color: transparent;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:767px) {
  .cabinet-filter__reset {
    margin-left: 0
  }
}

.cabinet-filter__reset:hover {
  color: #cc8f00
}