.gifts-card {
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px
}

.gifts-card__header {
  padding: 15px 16px 13px;
  border-bottom: 1px solid #222
}

@media (max-width:1023px) {
  .gifts-card__header {
    padding-right: 14px;
    padding-left: 14px
  }
}

.gifts-card__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.gifts-card__date:before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url(/images/calendar-ac7a5588.svg);
  background-repeat: no-repeat
}

.gifts-card__body {
  padding: 16px
}

@media (max-width:1023px) {
  .gifts-card__body {
    padding: 18px 14px 15px
  }
}

.gifts-card__entry {
  margin-bottom: 4px
}

@media (max-width:1023px) {
  .gifts-card__entry {
    margin-bottom: 2px
  }
}

.gifts-card__by {
  margin-right: 8px;
  color: #5c5c5c
}

.gifts-card__title {
  margin-bottom: 14px;
  color: #f90
}

.gifts-card__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 238px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: #f3d7bd
}

@media (max-width:1023px) {
  .gifts-card__picture {
    height: 202px
  }
}

@media (max-width:767px) {
  .gifts-card__picture {
    height: 188px
  }
}

@media (max-width:479px) {
  .gifts-card__picture {
    height: 256px
  }
}

@media (max-width:1023px) {
  .gifts-card__image {
    max-height: 80%
  }
}

.gifts-card__button {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background-color: #222;
  color: #f90
}

@media (max-width:1023px) {
  .gifts-card__button {
    padding-top: 16px;
    padding-bottom: 16px
  }
}

.gifts-card__button:hover {
  color: #fff
}