.gifts-modal {
  max-width: 399px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #222;
  border-radius: 4px;
  background: #121212
}

@media (max-width:767px) {
  .gifts-modal {
    max-width: 288px
  }
}

.gifts-modal__header {
  padding: 24px;
  border-bottom: 1px solid #222
}

.gifts-modal__title {
  color: #f90;
  font-size: 18px;
  line-height: 1
}

.gifts-modal__body {
  padding: 16px 16px 24px 24px
}

@media (max-width:767px) {
  .gifts-modal__body {
    padding-right: 24px;
    padding-bottom: 18px
  }
}

.gifts-modal__entry {
  line-height: 1.3
}

.gifts-modal__by {
  margin-right: 8px;
  color: #5c5c5c
}

.gifts-modal__name {
  margin-bottom: 20px;
  color: #f90;
  line-height: 1
}

.gifts-modal__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .gifts-modal__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.gifts-modal__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 136px;
  height: 136px;
  background-color: #f3d7bd;
  border-radius: 4px
}

@media (max-width:767px) {
  .gifts-modal__picture {
    width: 100%;
    height: 240px;
    margin-bottom: 21px
  }
}

.gifts-modal__image {
  max-height: 80%
}

.gifts-modal__arrow {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin: 0 24px;
  background-image: url(/images/arrow-36dda765.svg);
  background-repeat: no-repeat
}

@media (max-width:767px) {
  .gifts-modal__arrow {
    display: none
  }
}

.gifts-modal__token {
  font-size: 18px;
  word-break: break-word
}

.gifts-modal__token span {
  color: #f90
}

.gifts-modal__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 24px 16px 24px 24px;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .gifts-modal__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-right: 24px
  }
}

@media (max-width:767px) {
  .gifts-modal__button {
    width: 100%;
    margin-bottom: 22px
  }
}

.gifts-modal__reset {
  border: none;
  background-color: transparent;
  color: #f90;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

.gifts-modal__reset:hover {
  color: #cc8f00
}