.cabinet-header {
  padding: 24px 0 40px
}

@media (max-width:1260px) {
  .cabinet-header {
    padding-bottom: 24px
  }
}

@media (max-width:767px) {
  .cabinet-header {
    padding: 32px 0
  }
}

.cabinet-header__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:1260px) {
  .cabinet-header__body {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

@media (max-width:767px) {
  .cabinet-header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.cabinet-header__title {
  color: #fff;
  font-size: 36px;
  line-height: 1
}

@media (max-width:1260px) {
  .cabinet-header__title {
    font-size: 24px
  }
}

@media (max-width:767px) {
  .cabinet-header__title {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    margin-bottom: 24px
  }
}

.cabinet-header__balance {
  min-width: 405px
}

@media (max-width:767px) {
  .cabinet-header__balance {
    min-width: auto;
    max-width: 320px;
    width: 100%
  }
}

.cabinet-header__navigation {
  margin-top: 32px
}

@media (max-width:767px) {
  .cabinet-header__navigation {
    display: none
  }
}

.cabinet-header__dropdown {
  display: none
}

@media (max-width:767px) {
  .cabinet-header__dropdown {
    display: block;
    max-width: 320px;
    margin: 40px auto 0
  }
}

@media (max-width:479px) {
  .cabinet-header__dropdown {
    margin-top: 32px
  }
}