.media__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 40px
}

@media (max-width:767px) {
  .media__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 32px
  }
}

.media__info:last-child {
  margin-bottom: 0
}

.media__text {
  max-width: 400px;
  width: 100%;
  color: #5c5c5c
}

@media (max-width:767px) {
  .media__text {
    margin-bottom: 16px
  }

  .media__text:last-child {
    margin-bottom: 0
  }
}

.media__text span {
  display: block
}

.media__text ul {
  color: #5c5c5c
}

.media__inputs {
  margin-bottom: 40px
}

.media__desc {
  width: -webkit-calc(50% - 21px);
  width: calc(50% - 21px);
  background: #222;
  border-radius: 4px;
  padding: 24px
}

@media (max-width:1023px) {
  .media__desc {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px)
  }
}

@media (max-width:767px) {
  .media__desc {
    width: 100%;
    margin-bottom: 16px
  }

  .media__desc:last-child {
    margin-bottom: 0
  }
}

@media (max-width:479px) {
  .media__desc {
    padding: 24px 16px
  }
}

.media__desc ul {
  list-style: disc;
  padding-left: 16px
}

.media__desc ul li {
  margin-bottom: 8px
}

.media__desc ul li:last-child {
  margin-bottom: 0
}

.media__desc-title {
  color: #f90;
  margin-bottom: 16px
}

.media__desc--bottom {
  padding-bottom: 0
}

.media__desc--bottom span {
  display: block;
  margin-bottom: 16px
}

.media__desc-bottom {
  color: #5c5c5c;
  border-top: 1px solid #151515;
  margin: 0 -24px;
  padding: 16px 24px 24px
}

.media__place {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 258px;
  border: 2px dashed #5c5c5c;
  border-radius: 4px;
  cursor: pointer
}

@media (max-width:767px) {
  .media__place {
    height: 154px
  }
}

.media__place input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0
}

.media__place--disable {
  pointer-events: none
}

.media__place--video {
  height: 161px
}

.media__place--video input {
  width: 100%;
  height: 100%
}

.media__wrapper {
  margin-bottom: 40px
}

@media (max-width:479px) {
  .media__wrapper {
    margin-bottom: 16px
  }
}

.media__wrapper:last-child {
  margin-bottom: 0
}

.media__previews {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 56%;
  padding-top: 40px
}

@media (max-width:767px) {
  .media__previews {
    width: 100%
  }
}

.media__previews .dz-preview {
  position: relative;
  margin-right: 34px;
  margin-bottom: 19px
}

@media (max-width:767px) {
  .media__previews .dz-preview {
    margin-right: 30px
  }
}

.media__previews .dz-success-mark {
  display: none
}

.media__previews .dz-image {
  width: 60px;
  min-height: 80px
}

.media__previews .dz-details {
  display: none
}

.media__previews .dz-error-mark {
  position: absolute;
  top: -9px;
  right: -16px;
  width: 18px;
  height: 18px;
  background-color: hsla(0, 0%, 100%, .8);
  background-image: url(/images/remove-f9e531ee.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer
}

.media__previews .dz-error-mark svg {
  display: none
}

.media__place-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #5c5c5c;
  font-weight: 700;
  cursor: pointer;
  pointer-events: none
}

.media__place-label img {
  margin-bottom: 24px
}

@media (max-width:479px) {
  .media__place-text {
    display: none
  }
}

@media (max-width:479px) {
  .media__place-text--mobile {
    display: block
  }
}

.media__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 16px
}

@media (max-width:479px) {
  .media__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.media__button {
  width: -webkit-calc(50% - 8px);
  width: calc(50% - 8px);
  color: #5c5c5c;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  padding: 18px;
  cursor: pointer
}

@media (max-width:479px) {
  .media__button {
    width: 100%
  }

  .media__button:first-child {
    margin-bottom: 16px
  }
}

.media__button--dashed {
  border: 2px dashed #5c5c5c
}

.media__button--dashed:disabled {
  color: #222;
  border-color: #222
}

.media__items {
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.media__items--show {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.media__buttons {
  width: 100%
}

.media__loaded {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  color: #5c5c5c;
  font-weight: 700
}

@media (max-width:767px) {
  .media__loaded {
    margin-top: -19px
  }
}

.media__preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:479px) {
  .media__preview {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.media__preview img {
  width: 320px;
  height: 161px
}

@media (max-width:767px) {
  .media__preview img {
    width: 288px;
    height: 145px
  }
}

@media (max-width:479px) {
  .media__preview img {
    margin-bottom: 16px
  }
}

.media__preview span {
  display: block;
  color: #5c5c5c;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
  background-color: transparent;
  background-image: none;
  padding: 13.5px 32px;
  margin-left: 24px;
  cursor: pointer
}

.media__preview span:before {
  content: "Удалить"
}

@media (max-width:479px) {
  .media__preview span {
    width: 100%;
    margin-left: 0;
    text-align: center
  }
}