.message-out {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 7px 13px;
  cursor: pointer
}

@media (max-width:767px) {
  .message-out {
    padding-right: 16px;
    padding-left: 16px
  }
}

.message-out--checked,
.message-out:hover {
  background-color: #151515
}

.message-out--checked .message-out__check svg {
  opacity: 1
}

.message-out__block {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.message-out__img {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 8px;
  border-radius: 50%
}

.message-out__img img {
  display: block;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

@media (max-width:767px) {
  .message-out__img img {
    width: 36px;
    height: 36px
  }
}

.message-out__text {
  display: inline
}

.message-out__info {
  max-width: 377px;
  padding: 10px 16px;
  border: 1px solid #222;
  border-radius: 8px 8px 8px 0;
  background-color: #121212;
  line-height: 1.42
}

@media (max-width:767px) {
  .message-out__info {
    max-width: 220px;
    padding: 8px
  }
}

.message-out__time {
  float: right;
  margin-top: 2px;
  margin-left: 14px;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

@media (max-width:767px) {
  .message-out__time {
    margin-top: 3px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 11px
  }
}

.message-out__check {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  border-radius: 50%;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s
}

@media (max-width:767px) {
  .message-out__check {
    display: none;
    margin-right: 12px
  }
}

.message-out__check svg {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0
}