.message-enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 7px 16px;
  cursor: pointer
}

.message-enter--checked,
.message-enter:hover {
  background-color: #151515
}

.message-enter--checked .message-enter__check svg {
  opacity: 1
}

.message-enter--read .message-enter__wrap svg path {
  fill: #f90
}

.message-enter__block {
  max-width: 408px;
  background-color: #222;
  border-radius: 8px 8px 0 8px;
  padding: 10px 16px;
  line-height: 1.4
}

@media (max-width:767px) {
  .message-enter__block {
    max-width: 220px;
    padding: 8px
  }
}

.message-enter__text {
  display: inline
}

.message-enter__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  float: right;
  margin-top: 2px;
  margin-left: 16px
}

@media (max-width:767px) {
  .message-enter__wrap {
    margin-left: 8px
  }
}

.message-enter__time {
  margin-right: 5px;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

@media (max-width:767px) {
  .message-enter__time {
    margin-top: 3px;
    font-weight: 400;
    font-size: 11px
  }
}

.message-enter__check {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: auto;
  border-radius: 50%;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s
}

@media (max-width:767px) {
  .message-enter__check {
    display: none
  }
}

.message-enter__check svg {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0
}