.cabinet-navigation {
  padding: 0 7px;
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #151515
}

.cabinet-navigation__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow-x: auto;
  padding: 7px 0
}

.cabinet-navigation__items::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}

.cabinet-navigation__items::-webkit-scrollbar-thumb {
  display: none
}

.cabinet-navigation__item {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 5px
}

.cabinet-navigation__item:last-child {
  margin-right: 0
}

.cabinet-navigation__item--active .cabinet-navigation__link {
  background-color: #f90;
  color: #171717
}

.cabinet-navigation__item--active .cabinet-navigation__value {
  color: #171717
}

.cabinet-navigation__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 18px 32px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.cabinet-navigation__link:hover {
  background-color: #f90;
  color: #171717;
  text-decoration: none
}

.cabinet-navigation__link:hover .cabinet-navigation__value {
  color: #171717
}

.cabinet-navigation__value {
  margin: -16px 0 0 8px;
  color: #f90;
  font-size: 12px;
  -webkit-transition: color .3s;
  transition: color .3s
}