.phones-form {
  max-width: 580px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 4px;
  background: #121212
}

.phones-form__body,
.phones-form__footer,
.phones-form__header {
  padding: 24px
}

@media (max-width:767px) {

  .phones-form__body,
  .phones-form__footer,
  .phones-form__header {
    padding-right: 16px;
    padding-left: 16px
  }
}

.phones-form__header {
  border-bottom: 1px solid #222
}

.phones-form__title {
  color: #f90;
  font-size: 18px;
  line-height: 1
}

.phones-form__input {
  max-width: 270px
}

@media (max-width:767px) {
  .phones-form__input {
    max-width: 100%
  }
}

.phones-form__input .input__label {
  margin-bottom: 6px
}

.phones-form__input .input__control {
  height: 46px
}

.phones-form__info {
  display: block;
  margin-bottom: 20px;
  color: #5c5c5c;
  line-height: 1.5
}

.phones-form__tel {
  color: #5c5c5c
}

.phones-form__subtitle {
  display: block;
  margin-bottom: 7px
}

.phones-form__codes {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.phones-form__code {
  width: 46px;
  height: 46px
}

.phones-form__code+.phones-form__code {
  margin-left: 8px
}

.phones-form__code .input__control {
  padding: 0 4px;
  text-align: center
}

.phones-form__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .phones-form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:767px) {
  .phones-form__button {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
  }
}

.phones-form__link {
  margin-left: 24px
}

@media (max-width:767px) {
  .phones-form__link {
    margin-top: 21px;
    margin-left: 0;
    text-align: center
  }
}

.phones-form__reset {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #f90;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:767px) {
  .phones-form__reset {
    margin-top: 18px
  }
}

.phones-form__reset:hover {
  color: #cc8f00
}