.profile-picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer
}

.profile-picture__input {
  display: none
}

.profile-picture__title {
  margin-right: 25px;
  padding-top: 12px
}

.profile-picture__avatar {
  position: relative;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(41, 41, 41, .5)
}

.profile-picture__camera {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url(/images/camera-1a4bfa12.svg);
  background-repeat: no-repeat;
  background-position: 50%
}

.profile-picture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}