.select-country__section {
  border-bottom: 1px solid #222;
  margin-bottom: 28px;
  padding-top: 5px;
  padding-bottom: 32px
}

@media (max-width:767px) {
  .select-country__section {
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 16px
  }
}

.select-country__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 32px
}

@media (max-width:767px) {
  .select-country__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 28px
  }
}

.select-country__row:last-child {
  margin-bottom: 0
}

.select-country__row--middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .select-country__row--middle {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.select-country__head {
  color: #f90;
  font-weight: 700
}

.select-country__head,
.select-country__label {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 286px
}

@media (max-width:1023px) {

  .select-country__head,
  .select-country__label {
    width: 233px
  }
}

@media (max-width:767px) {

  .select-country__head,
  .select-country__label {
    width: 100%;
    margin-bottom: 12px
  }
}

.select-country__description {
  color: #5c5c5c;
  line-height: 1.5
}

.select-country__table {
  width: 100%;
  border-collapse: collapse
}

.select-country__table thead th {
  padding-bottom: 14px;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

@media (max-width:767px) {
  .select-country__table thead th {
    display: none
  }
}

.select-country__table tbody tr:last-child td {
  padding-bottom: 12px
}

@media (max-width:767px) {
  .select-country__table tbody tr:last-child td {
    padding-bottom: 0;
    border-bottom: none
  }
}

.select-country__table tbody td {
  padding: 16px 0;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .select-country__table tbody td {
    display: block;
    width: 100% !important;
    margin-top: 16px;
    padding: 0;
    border-top: none
  }
}

.select-country__table tbody td:first-child {
  width: 33%
}

@media (max-width:1023px) {
  .select-country__table tbody td:first-child {
    width: 34%
  }
}

@media (max-width:767px) {
  .select-country__table tbody td:first-child {
    margin-top: 0;
    padding-top: 15px
  }
}

.select-country__table tbody td:nth-child(2) {
  width: 49%
}

@media (max-width:1023px) {
  .select-country__table tbody td:nth-child(2) {
    width: 44.5%
  }
}

.select-country__table tbody td:last-child {
  width: 18%
}

@media (max-width:1023px) {
  .select-country__table tbody td:last-child {
    width: 21.5%
  }
}

@media (max-width:767px) {
  .select-country__table tbody td:last-child {
    padding-bottom: 15px;
    border-bottom: 1px solid #222
  }
}

.select-country__country {
  max-width: 270px;
  width: 100%
}

@media (max-width:1023px) {
  .select-country__country {
    max-width: 218px
  }
}

@media (max-width:767px) {
  .select-country__country {
    max-width: 100%
  }
}

.select-country__select {
  max-width: 240px;
  width: 100%
}

@media (max-width:1023px) {
  .select-country__select {
    max-width: 218px
  }
}

@media (max-width:767px) {
  .select-country__select {
    max-width: 100%
  }
}

.select-country__country .select2-white-theme .select2-selection,
.select-country__select .select2-white-theme .select2-selection {
  height: 46px
}

.select-country__cost {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .select-country__cost {
    padding-top: 7px
  }
}

.select-country__token {
  color: #f90
}

.select-country__delete {
  cursor: pointer
}

.select-country__choosed {
  font-size: 12px
}

@media (max-width:767px) {
  .select-country__choosed {
    margin-top: 14px
  }
}

.select-country__choosed-title {
  margin-right: 4px;
  color: #5c5c5c
}

.select-country__actions {
  margin-top: 13px;
  padding: 25px 31px 0;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .select-country__actions {
    padding: 24px 0 0;
    text-align: center
  }
}

.select-country__button {
  padding: 12px 23px 14px
}

@media (max-width:767px) {
  .select-country__button {
    width: 100%;
    margin-bottom: 20px
  }
}

.select-country__link {
  margin-left: 24px
}

@media (max-width:767px) {
  .select-country__link {
    margin-left: 0
  }
}