.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:1023px) {
  .services {
    display: block
  }
}

.services__item {
  margin-bottom: 24px
}

@media (max-width:767px) {
  .services__item {
    margin-bottom: 32px
  }

  .services__item:last-child {
    margin-bottom: 0
  }
}

.services__name {
  color: #f90;
  font-weight: 700;
  line-height: 1.5;
  border-bottom: 1px solid #222;
  padding-bottom: 8px;
  margin-bottom: 16px
}

.services__column {
  max-width: 400px;
  width: 100%
}

@media (max-width:1023px) {
  .services__column {
    max-width: 100%
  }
}

@media (max-width:479px) {
  .services__column {
    margin-bottom: 24px
  }

  .services__column:last-child {
    margin-bottom: 0
  }
}

.services__elem {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 8px
}

@media (max-width:1023px) {
  .services__elem {
    max-width: 480px
  }
}

@media (max-width:479px) {
  .services__elem {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px
  }
}

.services__elem:last-child {
  margin-bottom: 0
}

@media (max-width:479px) {
  .services__checkbox {
    margin-bottom: 5px
  }
}

.services__select {
  width: 242px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:479px) {
  .services__select {
    width: 100%
  }
}