.add-blacklist {
  border-radius: 4px;
  border: 1px solid #121212;
  background-color: #151515
}

@media (max-width:1260px) {
  .add-blacklist {
    max-width: 890px;
    margin: 0 auto
  }
}

@media (max-width:767px) {
  .add-blacklist {
    margin: 0 -15px
  }
}

.add-blacklist__fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 21px 24px 40px;
  border: none;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .add-blacklist__fieldset {
    padding: 23px 16px
  }
}

.add-blacklist__fieldset:last-child {
  padding-bottom: 24px;
  border-bottom: none
}

.add-blacklist__title {
  float: left;
  margin: 0 0 25px;
  padding: 0;
  color: #f90;
  font-weight: 700
}

.add-blacklist__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px
}

@media (max-width:767px) {
  .add-blacklist__items {
    margin-left: -24px;
    margin-bottom: -20px
  }
}

@media (max-width:479px) {
  .add-blacklist__items {
    margin-left: 0;
    margin-bottom: 0
  }
}

.add-blacklist__item {
  width: -webkit-calc(33.33% - 16px);
  width: calc(33.33% - 16px);
  margin-left: 16px
}

@media (max-width:767px) {
  .add-blacklist__item {
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
    margin-left: 24px;
    margin-bottom: 20px
  }
}

@media (max-width:479px) {
  .add-blacklist__item {
    width: 100%;
    margin-left: 0
  }
}

@media (max-width:479px) {
  .add-blacklist__item:last-child {
    margin-bottom: 0
  }
}

.add-blacklist__item .input__label {
  margin-bottom: 6px
}

.add-blacklist__item .input__control,
.add-blacklist__item .select2 .select2-selection {
  height: 46px
}

@media (max-width:767px) {

  .add-blacklist__item .input__control,
  .add-blacklist__item .select2 .select2-selection {
    font-size: 14px
  }
}

.add-blacklist__label {
  margin-bottom: 6px
}

.add-blacklist__textarea {
  resize: none;
  width: 100%;
  height: 138px;
  padding: 16px 24px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: transparent;
  color: #fff
}

@media (max-width:767px) {
  .add-blacklist__textarea {
    height: 120px
  }
}

.add-blacklist__length {
  display: block;
  margin-top: 8px;
  color: #5c5c5c;
  font-size: 12px;
  text-align: right
}

@media (max-width:767px) {
  .add-blacklist__length {
    margin-top: 14px
  }
}

.add-blacklist__actions {
  margin-top: 12px
}

@media (max-width:767px) {
  .add-blacklist__actions {
    margin-top: 21px
  }
}

@media (max-width:479px) {
  .add-blacklist__actions {
    text-align: center
  }
}

@media (max-width:767px) {
  .add-blacklist__button {
    width: 212px
  }
}

@media (max-width:479px) {
  .add-blacklist__button {
    width: 100%;
    margin-bottom: 20px
  }
}

.add-blacklist__reset {
  margin-left: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:479px) {
  .add-blacklist__reset {
    margin-left: 0
  }
}

.add-blacklist__reset:hover {
  color: #cc8f00
}