.balance-replenishment {
  margin-bottom: 95px
}

@media (max-width:1260px) {
  .balance-replenishment {
    margin-bottom: 56px;
    padding-left: 24px
  }
}

@media (max-width:767px) {
  .balance-replenishment {
    margin-bottom: 52px;
    padding-left: 0
  }
}

@media (max-width:479px) {
  .balance-replenishment {
    margin-bottom: 49px
  }
}

.balance-replenishment__row {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .balance-replenishment__row {
    margin-bottom: 38px
  }
}

.balance-replenishment__row:last-child {
  margin-bottom: 22px
}

@media (max-width:767px) {
  .balance-replenishment__row:last-child {
    margin-bottom: 7px
  }
}

.balance-replenishment__label {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1
}

.balance-replenishment__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .balance-replenishment__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

.balance-replenishment__select {
  max-width: 270px;
  width: 100%
}

@media (max-width:767px) {
  .balance-replenishment__select {
    max-width: 100%
  }
}

.balance-replenishment__to-pay {
  margin-left: 16px;
  font-size: 14px
}

@media (max-width:767px) {
  .balance-replenishment__to-pay {
    margin-top: 14px;
    margin-left: 0
  }
}

.balance-replenishment__value {
  margin-left: 8px;
  color: #f90
}

@media (max-width:767px) {
  .balance-replenishment__value {
    margin-left: 10px
  }
}

.balance-replenishment__payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 600px
}

@media (max-width:767px) {
  .balance-replenishment__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%
  }
}

.balance-replenishment__system {
  position: relative;
  max-width: 270px;
  width: 100%;
  margin-right: 16px;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .balance-replenishment__system {
    max-width: 100%;
    margin-right: 0
  }
}

.balance-replenishment__system input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer
}

.balance-replenishment__system input:checked+span {
  border-color: #f90;
  color: #f90
}

.balance-replenishment__system input:checked+span:after {
  opacity: 1
}

.balance-replenishment__system span {
  display: block;
  padding: 14px 40px 13px 24px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #151515;
  -webkit-transition: border .3s, color .3s;
  transition: border .3s, color .3s
}

.balance-replenishment__system span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(/images/check-0f2b1b0f.svg);
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

@media (max-width:767px) {
  .balance-replenishment__actions {
    text-align: center
  }
}

.balance-replenishment__button {
  margin-right: 18px
}

@media (max-width:767px) {
  .balance-replenishment__button {
    display: block;
    width: 100%;
    margin-bottom: 13px
  }
}