@media (max-width:1260px) {
  .banners {
    max-width: 890px;
    margin: 0 auto
  }
}

.banners__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 40px
}

@media (max-width:1023px) {
  .banners__header {
    margin-bottom: 24px
  }
}

@media (max-width:767px) {
  .banners__filter {
    width: 100%
  }
}

@media (max-width:1260px) {
  .banners__control {
    display: none
  }
}

@media (max-width:767px) {
  .banners__cards {
    max-width: 100%;
    margin: 0 auto
  }
}

.banners__card {
  margin-bottom: 24px
}

.banners__card:last-child {
  margin-bottom: 0
}