.blacklist {
  padding-bottom: 16px
}

@media (max-width:1260px) {
  .blacklist {
    max-width: 890px;
    margin: 0 auto
  }
}

.blacklist__filter {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .blacklist__filter {
    width: 100%
  }
}

.blacklist__card {
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .blacklist__card {
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .blacklist__card {
    margin-bottom: 24px
  }
}

.blacklist__card:last-child {
  margin-bottom: 0
}