.tippy-box[data-theme=chat] {
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #222;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

.chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  height: 750px;
  margin-bottom: 86px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #121212
}

@media (max-width:767px) {
  .chat {
    margin: 0 -15px 53px
  }
}

.chat .simplebar-track.simplebar-vertical {
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 2px
}

.chat .simplebar-scrollbar:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  background-color: #5c5c5c
}

.chat__aside {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 310px;
  border-right: 1px solid #222
}

@media (max-width:1023px) {
  .chat__aside {
    width: 270px
  }
}

@media (max-width:767px) {
  .chat__aside {
    width: 100%;
    border-right: 0
  }
}

.chat__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0
}

@media (max-width:767px) {
  .chat__main {
    display: none
  }
}

.chat__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  min-height: 80px;
  padding: 16px 16px 13px;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .chat__header {
    min-height: 78px
  }
}

.chat__body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: -webkit-calc(100% - 163px);
  height: calc(100% - 163px)
}

.chat__body .simplebar-content {
  min-height: 100%
}

.chat__body .simplebar-content,
.chat__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.chat__content {
  height: 100%;
  padding: 8px 0 6px
}

.chat__footer {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 15px 16px 16px;
  border-top: 1px solid #222
}

@media (max-width:767px) {
  .chat__footer {
    position: relative
  }
}

.chat__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 80px;
  padding: 16px 16px 14px;
  border-bottom: 1px solid #222
}

.chat__search-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.chat__search-input input {
  padding-left: 39px;
  background-color: #121212;
  background-image: url(/images/search-209799e1.svg);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  font-size: 14px
}

.chat__edit {
  display: none;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  margin-left: 16px;
  cursor: pointer
}

@media (max-width:767px) {
  .chat__edit {
    display: block
  }
}

.chat__simplebar {
  height: -webkit-calc(100% - 81px);
  height: calc(100% - 81px)
}

.chat__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 15px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer
}

.chat__item:before {
  content: "";
  position: absolute;
  right: 15px;
  bottom: -1px;
  left: 15px;
  height: 1px;
  background-color: #222;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

.chat__item:last-child:before {
  display: none
}

.chat__item:hover {
  background-color: #222
}

.chat__item:hover:before {
  opacity: 0
}

.chat__item--unread {
  background-color: #0c0c0c
}

.chat__item--unread:before {
  opacity: 0
}

.chat__item--unread .chat__item-text {
  color: #f90
}

.chat__item-avatar {
  position: relative;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  border: 1px solid #121212;
  border-radius: 50%
}

.chat__item-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%
}

.chat__item-online {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid #121212;
  border-radius: 50%;
  background-color: #1aa520
}

.chat__item-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  width: 100%;
  padding-left: 8px;
  color: #5c5c5c;
  font-size: 14px
}

.chat__item-info {
  margin-bottom: 8px;
  line-height: 1
}

.chat__item-content,
.chat__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.chat__item-name {
  color: #fff;
  font-weight: 700
}

.chat__item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.chat__unread-value {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f90;
  color: #171717;
  font-weight: 700;
  font-size: 12px;
  line-height: 1
}

.chat__blank {
  display: none;
  text-align: center
}

.chat__blank-text {
  margin-top: 11px;
  color: #5c5c5c;
  font-size: 14px
}

.chat__blank-link {
  color: #fff
}

.chat__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.chat__file {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 14px;
  background-image: url(/images/file-2b6d0e97.svg);
  background-repeat: no-repeat;
  cursor: pointer
}

.chat__enter {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0;
  margin-right: 6px;
  font-size: 0
}

.chat__input input {
  padding-right: 40px;
  color: #fff
}

.chat__textarea {
  resize: none;
  width: 100%;
  height: 50px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #151515;
  color: #fff;
  font: 400 14px/1 Arial
}

.chat__textarea::-webkit-input-placeholder {
  color: #fff
}

.chat__textarea:-ms-input-placeholder {
  color: #fff
}

.chat__textarea::-ms-input-placeholder {
  color: #fff
}

.chat__textarea::placeholder {
  color: #fff
}

.chat__textarea::-moz-placeholder {
  color: #fff
}

.chat__button {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding-top: 16px;
  padding-bottom: 15px;
  border: transparent;
  background-color: #222;
  color: #f90
}

@media (max-width:1023px) {
  .chat__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px
  }
}

.chat__button:hover {
  color: #000
}

@media (max-width:1023px) {
  .chat__button:hover svg path {
    fill: #fff
  }
}

@media (max-width:1023px) {
  .chat__button span {
    display: none
  }
}

.chat__button svg {
  display: none;
  margin: 0
}

@media (max-width:1023px) {
  .chat__button svg {
    display: block
  }
}

.chat__emoji {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/images/smile-badd1663.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer
}

.chat__back {
  display: none
}

@media (max-width:767px) {
  .chat__back {
    display: block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-self: center;
    align-self: center;
    margin-right: 12px
  }
}

.chat__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.chat__preview {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 38px;
  height: 50px;
  margin-right: 10px
}

@media (max-width:767px) {
  .chat__preview {
    overflow: hidden;
    width: 46px;
    height: 46px;
    border-radius: 50%
  }
}

.chat__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

.chat__user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.chat__user-avatar {
  margin-right: 8px
}

@media (max-width:767px) {
  .chat__user-avatar {
    display: none
  }
}

.chat__user-avatar img {
  width: 20px;
  height: 20px;
  border: 1px solid #222;
  border-radius: 50%
}

.chat__user-name {
  margin-right: 16px;
  color: #f90;
  font-size: 18px
}

@media (max-width:767px) {
  .chat__user-name {
    margin-right: 0;
    color: #fff;
    font-size: 14px
  }
}

.chat__user-date {
  color: #5c5c5c;
  font-size: 12px
}

@media (max-width:1023px) {
  .chat__user-date {
    display: none
  }
}

.chat__date {
  margin-bottom: 16px;
  color: #5c5c5c;
  text-align: center
}

.chat__messages-selected {
  display: none;
  font-weight: 700;
  font-size: 14px
}

.chat__messages-selected .delete {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background-image: url(/images/delete-10424dae.svg);
  background-repeat: no-repeat;
  cursor: pointer
}

.chat__controls {
  display: none;
  text-align: center
}