@media (max-width:1260px) {
  .favorites-search {
    max-width: 890px;
    margin: 0 auto
  }
}

.favorites-search__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 14px;
  padding: 16px;
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s
}

@media (max-width:767px) {
  .favorites-search__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.favorites-search__item:hover {
  background-color: #0c0c0c
}

.favorites-search__item:last-child {
  margin-bottom: 0
}

@media (max-width:767px) {
  .favorites-search__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%
  }
}

.favorites-search__address {
  margin-top: -2px;
  margin-bottom: 16px;
  line-height: 1.15
}

@media (max-width:767px) {
  .favorites-search__address {
    margin-bottom: 14px;
    font-size: 12px
  }
}

.favorites-search__address:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 16px;
  margin-right: 8px;
  background-image: url(/images/map-bf40a5b6.svg);
  background-repeat: no-repeat;
  background-size: contain
}

.favorites-search__street {
  color: #4092de;
  text-decoration: underline
}

.favorites-search__street:hover {
  text-decoration: none
}

.favorites-search__parameters {
  width: 320px
}

@media (max-width:1023px) {
  .favorites-search__parameters {
    width: 247px
  }
}

@media (max-width:767px) {
  .favorites-search__parameters {
    width: 100%;
    margin-bottom: 16px
  }
}

.favorites-search__notify {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .favorites-search__notify {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin-top: 16px;
    margin-bottom: 0
  }
}

.favorites-search__entry {
  margin-right: 8px;
  line-height: 1
}

.favorites-search__switch {
  position: relative;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 32px;
  height: 16px
}

.favorites-search__switch-input {
  display: none
}

.favorites-search__switch-input:checked+.favorites-search__switch-slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #f90
}

.favorites-search__switch-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #222;
  cursor: pointer
}

.favorites-search__switch-slider:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #5c5c5c;
  -webkit-transition: background-color .4s, -webkit-transform .4s;
  transition: background-color .4s, -webkit-transform .4s;
  transition: transform .4s, background-color .4s;
  transition: transform .4s, background-color .4s, -webkit-transform .4s
}

.favorites-search__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .favorites-search__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.favorites-search__button {
  font-weight: 700
}

@media (max-width:767px) {
  .favorites-search__button {
    width: 100%
  }
}

@media (max-width:479px) {
  .favorites-search__button {
    padding-right: 10px;
    padding-left: 10px
  }
}

.favorites-search__button.button--transparent {
  font-weight: 400
}

.favorites-search__controls {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-left: 16px;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:767px) {
  .favorites-search__controls {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    width: 100%;
    margin-bottom: 8px;
    margin-left: 0
  }
}

.favorites-search__control {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  cursor: pointer
}

@media (max-width:767px) {
  .favorites-search__control {
    width: 50%;
    height: 47px
  }
}

@media (max-width:479px) {
  .favorites-search__control {
    padding: 0 10px
  }
}

.favorites-search__control:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #222
}

@media (max-width:479px) {
  .favorites-search__control:first-child {
    width: 60%
  }
}

@media (max-width:479px) {
  .favorites-search__control:last-child {
    width: 40%
  }
}

.favorites-search__control:last-child:after {
  display: none
}

.favorites-search__control-name {
  display: none;
  margin-left: 8px;
  color: #5c5c5c
}

@media (max-width:767px) {
  .favorites-search__control-name {
    display: block
  }
}