@media (max-width:1260px) {
  .favorites {
    max-width: 890px;
    margin: 0 auto
  }
}

.favorites__filter {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .favorites__filter {
    width: 100%
  }
}

.favorites__card {
  margin-bottom: 24px
}

@media (max-width:1023px) {
  .favorites__card {
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .favorites__card {
    margin-bottom: 24px
  }
}

.favorites__card:last-child {
  margin-bottom: 0
}