@media (max-width:1260px) {
  .gifts {
    max-width: 890px;
    margin: 0 auto;
    padding-top: 16px
  }
}

@media (max-width:767px) {
  .gifts {
    padding-top: 12px
  }
}

@media (max-width:479px) {
  .gifts {
    padding-top: 0
  }
}

.gifts__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -40px
}

@media (max-width:1023px) {
  .gifts__items {
    margin-left: -16px
  }
}

@media (max-width:767px) {
  .gifts__items {
    margin-left: -8px
  }
}

@media (max-width:479px) {
  .gifts__items {
    margin-left: 0
  }
}

.gifts__item {
  width: -webkit-calc(25% - 40px);
  width: calc(25% - 40px);
  margin-left: 40px;
  margin-bottom: 40px
}

@media (max-width:1260px) {
  .gifts__item {
    width: -webkit-calc(33.33% - 40px);
    width: calc(33.33% - 40px)
  }
}

@media (max-width:1023px) {
  .gifts__item {
    width: -webkit-calc(33.33% - 16px);
    width: calc(33.33% - 16px);
    margin-left: 16px;
    margin-bottom: 16px
  }
}

@media (max-width:767px) {
  .gifts__item {
    width: -webkit-calc(50% - 8px);
    width: calc(50% - 8px);
    margin-left: 8px
  }
}

@media (max-width:479px) {
  .gifts__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 23px
  }
}

.gifts__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 40px 0 80px
}

@media (max-width:1023px) {
  .gifts__pagination {
    margin: 22px 0 56px
  }
}

@media (max-width:479px) {
  .gifts__pagination {
    margin: 16px 0 52px
  }
}