@import './add-blacklist';
@import './balance-replenishment';
@import './banners';
@import './blacklist';
@import './chat';
@import './empty';
@import './favorites-search';
@import './favorites';
@import './gifts';
@import './messenger';
@import './new-questionnaire';
@import './payment-history';
@import './questionnaires';
@import './reviews-get';
@import './reviews-send';
@import './settings';

.cabinet {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto
}