// messenger sort

.messenger-sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 13px 16px;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:680px) {
  .messenger-sort {
    background-color: #222
  }
}

.messenger-sort__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.messenger-sort__item:hover .messenger-sort__btn-desc {
  display: block
}

.messenger-sort__item:first-child:after,
.messenger-sort__item:nth-child(2):after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #222;
  margin: 0 15px
}

.messenger-sort__btn {
  width: 18px;
  height: 18px;
  overflow: hidden;
  cursor: pointer
}

.messenger-sort__item--active .messenger-sort__btn svg path {
  fill: #f90
}

.messenger-sort__btn-desc {
  position: absolute;
  bottom: -47px;
  left: 50%;
  display: none;
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1;
  background: #222;
  border-radius: 4px;
  padding: 6px 12px;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

// messenger search

.messenger-search__wrap {
  position: relative
}

.messenger-search__items,
.messenger-search__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.messenger-search__items {
  margin-right: 16px
}

@media (max-width:767px) {
  .messenger-search__items {
    z-index: 10;
    position: absolute;
    right: 58px;
    bottom: 0;
    display: none;
    margin-right: 0;
    background-color: #0c0c0c;
    padding: 5px 8px;
    border-radius: 4px
  }
}

@media (max-width:767px) {
  .messenger-search__items--show {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }
}

.messenger-search__items--show .messenger-sort {
  padding: 9px;
  background-color: transparent
}

.messenger-search__show {
  display: none;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-image: url(/images/more-8d4166f5.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #222;
  margin-left: 8px;
  border-radius: 4px
}

@media (max-width:767px) {
  .messenger-search__show {
    display: block
  }
}

.messenger-search__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.messenger-search__item:first-child {
  margin-right: 16px
}

.messenger-search__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 13px 10px 13px 16px;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:767px) {
  .messenger-search__inner {
    padding: 9px 10px 9px 16px
  }
}

.messenger-search__checkbox label:before {
  border: 1px solid #5c5c5c;
  border-radius: 2px;
  background-color: transparent;
  margin: 0
}

.messenger-search__drop {
  position: relative;
  margin-left: 10px
}

.messenger-search__drop span {
  display: block;
  width: 10px;
  height: 20px;
  background-image: url(/images/arrow-down-80a07a69.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer
}

.messenger-search__drop ul {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 16px;
  -webkit-transform: translate(-20%, 105%);
  transform: translate(-20%, 105%)
}

.messenger-search__drop ul li {
  line-height: 1.5;
  margin-bottom: 10px;
  white-space: nowrap;
  -webkit-transition: color .3s;
  transition: color .3s;
  cursor: pointer
}

.messenger-search__drop ul li:last-child {
  margin-bottom: 0
}

.messenger-search__drop ul li:hover {
  color: #f90
}

.messenger-search__drop--show ul {
  display: block
}

.messenger-search__form {
  width: 100%
}

.messenger-search__input input {
  padding-right: 50px;
  background-image: url(/images/search-wh-31ace4fc.svg);
  background-position: right 25px center;
  background-repeat: no-repeat
}

.messenger-search__form {
  width: 100%
}

// messenger list

.messenger-list__item {
  margin-bottom: 16px
}

// messenger item

.messenger-item {
  background: #151515;
  border: 1px solid #121212;
  border-radius: 4px;
  padding: 16px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s
}

@media (max-width:680px) {
  .messenger-item {
    padding: 10px 16px 16px
  }
}

@media (max-width:479px) {
  .messenger-item {
    padding: 10px 8px 16px
  }
}

.messenger-item--not-read {
  background-color: #0c0c0c
}

.messenger-item--not-read .messenger-item__text {
  color: #f90
}

.messenger-item__checkbox {
  margin-right: 8px
}

@media (max-width:680px) {
  .messenger-item__checkbox {
    display: none
  }
}

.messenger-item__checkbox .checkbox__input:checked+label.checkbox__label:before {
  background-color: #5c5c5c;
  background-image: url(/images/check-b581a278.svg)
}

.messenger-item__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:680px) {
  .messenger-item__wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.messenger-item__head {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 12px
}

@media (max-width:680px) {
  .messenger-item__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%
  }
}

.messenger-item__show {
  position: relative;
  width: 15px;
  height: 15px;
  background-image: url(/images/more-8d4166f5.svg);
  background-position: 50%;
  background-repeat: no-repeat
}

.messenger-item__inner {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.messenger-item__inner,
.messenger-item__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%
}

.messenger-item__link {
  color: inherit
}

.messenger-item__link:hover {
  text-decoration: none
}

.messenger-item__link:hover .messenger-item__name {
  text-decoration: underline
}

.messenger-item__content {
  width: 100%
}

.messenger-item__preview {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 80px;
  height: 106px;
  margin-right: 10px
}

@media (max-width:680px) {
  .messenger-item__preview {
    width: 40px;
    height: 40px
  }
}

.messenger-item__preview img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}

@media (max-width:680px) {
  .messenger-item__preview img {
    border-radius: 50%
  }
}

.messenger-item__cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:680px) {
  .messenger-item__sort {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-80%, 110%);
    transform: translate(-80%, 110%)
  }
}

.messenger-item__show--open .messenger-item__sort {
  display: block
}

.messenger-item__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 5px
}

@media (max-width:680px) {
  .messenger-item__info {
    margin-bottom: 0
  }
}

.messenger-item__info--online .messenger-item__status {
  display: block
}

.messenger-item__info--online .messenger-item__date {
  display: none
}

.messenger-item__info--online .messenger-item__icon-status {
  display: block
}

.messenger-item__icon {
  position: relative;
  margin-right: 8px
}

@media (max-width:1260px) {
  .messenger-item__icon {
    display: none
  }
}

.messenger-item__icon img {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #222;
  border-radius: 50%;
  overflow: hidden
}

.messenger-item__icon-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  border: 1px solid #222;
  background-color: #1aa520
}

.messenger-item__name {
  font-size: 18px;
  margin-right: 16px
}

@media (max-width:680px) {
  .messenger-item__name {
    font-size: 14px;
    margin-right: 10px
  }
}

.messenger-item__status {
  display: none;
  font-size: 12px
}

.messenger-item__date {
  font-size: 12px;
  color: #5c5c5c
}

@media (max-width:1260px) {
  .messenger-item__date {
    display: none
  }
}

.messenger-item__details {
  margin-bottom: 10px
}

@media (max-width:680px) {
  .messenger-item__details {
    display: none
  }
}

.messenger-item__text {
  max-width: 500px;
  color: #5c5c5c;
  margin-right: 8px;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:680px) {
  .messenger-item__text {
    font-size: 12px
  }
}

.messenger-item__time {
  color: #5c5c5c;
  text-align: right
}

@media (max-width:680px) {
  .messenger-item__time {
    font-size: 10px
  }
}

.messenger-item__time svg {
  margin-right: 8px
}