.new-questionnaire__preloader {
  z-index: -1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(34, 34, 34, .5);
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  visibility: hidden
}

.new-questionnaire__preloader--visible {
  opacity: 1;
  visibility: visible;
  z-index: 1000
}