@media (max-width:1023px) {
  .payment-history__overlay {
    overflow-x: auto
  }
}

.payment-history__table {
  width: 100%;
  border-collapse: collapse
}

@media (max-width:1023px) {
  .payment-history__table {
    width: 900px
  }
}

.payment-history__table thead th {
  padding-right: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 12px
}

.payment-history__table tbody td {
  padding: 15px 0;
  border-bottom: 1px solid #222;
  line-height: 1.3
}

.payment-history__table tbody td:first-child {
  width: 168px
}

.payment-history__table tbody td:nth-child(2) {
  width: 194px
}

.payment-history__table tbody td:nth-child(3) {
  width: 136px
}

.payment-history__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.payment-history__head:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(/images/sort-6fa4a281.svg);
  background-repeat: no-repeat
}

.payment-history__date {
  color: #5c5c5c
}

.payment-history__date:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(/images/calendar-bca212b2.svg);
  background-repeat: no-repeat
}

.payment-history__amount {
  color: #f90
}