@media (max-width:1260px) {
  .questionnaires {
    max-width: 890px;
    margin: 0 auto
  }
}

.questionnaires__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 40px
}

@media (max-width:767px) {
  .questionnaires__header {
    margin-bottom: 24px
  }
}

@media (max-width:767px) {
  .questionnaires__filter {
    width: 100%
  }
}

@media (max-width:1260px) {
  .questionnaires__control {
    display: none
  }
}

@media (max-width:767px) {
  .questionnaires__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

.questionnaires__card {
  margin-bottom: 25px
}

@media (max-width:767px) {
  .questionnaires__card {
    max-width: 100%;
    margin-bottom: 22px
  }
}

.questionnaires__card:last-child {
  margin-bottom: 0
}