.settings {
  margin-bottom: 98px
}

@media (max-width:1260px) {
  .settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:767px) {
  .settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 320px;
    margin: 0 auto
  }
}

.settings__select {
  display: none
}

@media (max-width:767px) {
  .settings__select {
    display: block;
    width: 100%
  }
}

.settings__tabs {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 7px;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: #121212
}

@media (max-width:1260px) {
  .settings__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 218px;
    width: 100%;
    padding: 0
  }
}

@media (max-width:1023px) {
  .settings__tabs {
    max-width: 164px
  }
}

@media (max-width:767px) {
  .settings__tabs {
    display: none
  }
}

.settings__tab {
  position: relative;
  padding: 15px 16px 15px 17px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

@media (max-width:1260px) {
  .settings__tab {
    width: 100%;
    padding: 16px 24px;
    border-bottom: 1px solid #222
  }
}

@media (max-width:1023px) {
  .settings__tab {
    padding-right: 10px;
    padding-left: 16px
  }
}

.settings__tab:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #222
}

@media (max-width:1260px) {
  .settings__tab:after {
    display: none
  }
}

@media (max-width:1260px) {
  .settings__tab:last-child {
    border-bottom: none
  }
}

.settings__tab:last-child:after {
  display: none
}

.settings__tab--active,
.settings__tab:hover {
  color: #f90
}

@media (max-width:1260px) {
  .settings__items {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-left: 40px
  }
}

@media (max-width:767px) {
  .settings__items {
    width: 100%;
    padding-left: 0
  }
}

.settings__item {
  display: none;
  padding-top: 40px
}

@media (max-width:1260px) {
  .settings__item {
    padding-top: 0
  }
}

@media (max-width:767px) {
  .settings__item {
    padding-top: 32px
  }
}

.settings__item--active {
  display: block
}

// ############################ Sections settings page

//  settings personal

.settings-personal__cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .settings-personal__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3px
  }
}

.settings-personal__col {
  max-width: 246px;
  width: 100%
}

@media (max-width:767px) {
  .settings-personal__col {
    max-width: 100%
  }
}

.settings-personal__col:last-child {
  margin-top: -3px;
  margin-left: 64px
}

@media (max-width:1260px) {
  .settings-personal__col:last-child {
    margin-left: 40px
  }
}

@media (max-width:767px) {
  .settings-personal__col:last-child {
    margin-top: 0;
    margin-left: 0
  }
}

@media (max-width:767px) {
  .settings-personal__button {
    width: 100%
  }
}

.settings-personal__item {
  margin-bottom: 21px
}

.settings-personal__select .select2 .select2-selection {
  height: 46px
}

.settings-personal__input .input__label {
  margin-bottom: 6px
}

.settings-personal__input .input__control {
  height: 46px
}

.settings-personal__label {
  margin-bottom: 6px
}

.settings-personal__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  max-width: 216px;
  border: 1px solid #222;
  border-radius: 4px;
  background: #151515
}

@media (max-width:767px) {
  .settings-personal__group {
    max-width: 100%
  }
}

.settings-personal__gender {
  position: relative;
  width: 50%
}

.settings-personal__gender:first-child {
  border-right: 1px solid #222
}

.settings-personal__gender input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer
}

.settings-personal__gender input:checked+span {
  background-color: #f90;
  color: #171717;
  font-weight: 700
}

.settings-personal__gender span {
  display: block;
  padding: 12px;
  text-align: center;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s
}

// settings phones

.settings-phones {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

@media (max-width:1023px) {
  .settings-phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.settings-phones__content {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:767px) {
  .settings-phones__content {
    width: 100%
  }
}

.settings-phones__block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 34px
}

@media (max-width:1260px) {
  .settings-phones__block {
    padding-left: 25px
  }
}

@media (max-width:1023px) {
  .settings-phones__block {
    width: 100%;
    margin-top: 40px;
    padding-left: 0
  }
}

@media (max-width:479px) {
  .settings-phones__block {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    margin-left: -15px
  }
}

.settings-phones__item {
  margin-bottom: 21px
}

.settings-phones__item:last-child {
  margin-bottom: 0
}

.settings-phones__input {
  width: 270px
}

@media (max-width:767px) {
  .settings-phones__input {
    width: 100%
  }
}

.settings-phones__input .input__label {
  margin-bottom: 6px
}

.settings-phones__input .input__control {
  height: 46px
}

.settings-phones__button {
  margin-top: 40px
}

@media (max-width:767px) {
  .settings-phones__button {
    width: 100%;
    margin-top: 23px
  }
}

// settings notice

.settings-notice__items {
  margin-bottom: 35px
}

@media (max-width:767px) {
  .settings-notice__items {
    margin-bottom: 24px
  }
}

.settings-notice__item {
  margin-bottom: 19px
}

@media (max-width:767px) {
  .settings-notice__item {
    margin-bottom: 25px
  }
}

@media (max-width:767px) {
  .settings-notice__button {
    width: 100%
  }
}

// settings security

.settings-security__group {
  max-width: 246px
}

@media (max-width:767px) {
  .settings-security__group {
    max-width: 100%
  }
}

.settings-security__input {
  margin-bottom: 21px
}

.settings-security__input .input__label {
  margin-bottom: 6px
}

.settings-security__input .input__control {
  height: 46px
}

.settings-security__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 40px
}

@media (max-width:767px) {
  .settings-security__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 23px
  }
}

.settings-security__button {
  margin-right: 23px
}

@media (max-width:767px) {
  .settings-security__button {
    width: 100%;
    margin-right: 0
  }
}

@media (max-width:767px) {
  .settings-security__link {
    margin-top: 22px
  }
}