// VARIABLE

// FONT FAMILY
$font-family-base: 'Arial', sans-serif;

// FONT WEIGHT
$font-weight-thin: 100;           // Thin (Hairline)
$font-weight-extra-light: 200;    // Extra Light (Ultra Light)
$font-weight-light: 300;          // Light
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)

$font-weight-base: $font-weight-normal;

// COLOR
$color-static: #ff9900;
$color-hover: #cc8f00;
$color-focus: #cc8f00;

$color-black: #000000;
$color-dark: #0c0c0c;
$color-midnight: #121212;
$color-jade: #151515;
$color-ink: #171717;
$color-nero: #222222;
$color-white: #ffffff;
$color-grey: #5c5c5c;
$color-blue: #4092de;
$color-green: #1aa520;
$color-red: #a61a1a;

// FONT SIZE
$font-size-base: 14px;
$line-height-base: 1.5;

// MEDIA POINTS
$desktop: 1600;
$laptop-md: 1260;
$laptop: 1023;
$tablet: 767;
$mobile: 479;
$mobile-xs: 360;
