.article__breadcrumbs {
  padding: 24px 0;
  margin-bottom: 16px
}

@media (max-width:1260px) {
  .article__breadcrumbs {
    padding: 32px 0 24px
  }
}

.article__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1260px) {
  .article__wrap {
    display: block
  }
}

.article__content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%
}

@media (max-width:1260px) {
  .article__content {
    margin-bottom: 64px
  }
}

.article__aside {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 310px;
  width: 100%;
  padding-left: 40px
}

@media (max-width:1260px) {
  .article__aside {
    max-width: 100%;
    padding-left: 0
  }
}

.article__preview {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 500px;
  background-image: url(/images/article-img-95a01289.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 40px
}

@media (max-width:1260px) {
  .article__preview {
    height: 576px;
    margin: 0 -15px 40px
  }
}

@media (max-width:1023px) {
  .article__preview {
    height: 432px
  }
}

@media (max-width:767px) {
  .article__preview {
    height: 270px
  }
}

@media (max-width:479px) {
  .article__preview {
    height: 180px;
    margin-bottom: 24px
  }
}

.article__preview:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .9)));
  background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9))
}

.article__preview-info {
  position: relative;
  padding-bottom: 25px
}

@media (max-width:1023px) {
  .article__preview-info {
    width: 100%;
    padding: 0 16px 25px
  }
}

@media (max-width:767px) {
  .article__preview-info {
    padding-bottom: 17px
  }
}

@media (max-width:479px) {
  .article__preview-info {
    padding-bottom: 8px
  }
}

.article__preview-title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  margin-bottom: 24px
}

@media (max-width:767px) {
  .article__preview-title {
    font-size: 18px
  }
}

@media (max-width:479px) {
  .article__preview-title {
    margin-bottom: 16px
  }
}

.article__preview-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1023px) {
  .article__preview-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
  }
}

@media (max-width:479px) {
  .article__preview-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

.article__preview-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:479px) {
  .article__preview-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.article__preview-text {
  color: #f90;
  margin-right: 16px
}

@media (max-width:767px) {
  .article__preview-text {
    font-size: 12px
  }
}

.article__preview-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px
}

@media (max-width:767px) {
  .article__preview-item {
    font-size: 12px
  }
}

@media (max-width:479px) {
  .article__preview-item {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-right: 0
  }
}

.article__preview-item:last-child {
  margin-right: 0
}

.article__preview-item:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/images/calendar-6ce3715b.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 8px
}

@media (max-width:479px) {
  .article__preview-item--eye {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-bottom: 4px
  }
}

.article__preview-item--eye:before {
  height: 12px;
  background-image: url(/images/eye-505b30cf.svg)
}

@media (max-width:767px) {
  .article__preview-item--user {
    display: none
  }
}

.article__preview-item--user:before {
  background-image: url(/images/user-7d8ed5d8.svg)
}

.article__info {
  padding-bottom: 64px;
  border-bottom: 1px solid #222;
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .article__info {
    padding-bottom: 40px
  }
}

.article__info p {
  margin-bottom: 8px
}

.article__info h2 {
  font-size: 24px;
  line-height: 1;
  margin: 40px 0 16px
}

.article__info ul {
  list-style: disc;
  padding: 0 0 0 16px;
  margin-bottom: 24px
}

.article__info ul li {
  margin-bottom: 8px
}

.article__info ul li span {
  display: block;
  opacity: .3
}

.article__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #222
}

@media (max-width:767px) {
  .article__links {
    display: block
  }
}

.article__link-wrap {
  max-width: 48%
}

@media (max-width:767px) {
  .article__link-wrap {
    max-width: 100%
  }
}

.article__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 700;
  line-height: 1;
  padding: 17px 27px 17px 24px;
  border: 1px solid #222;
  border-radius: 4px
}

@media (max-width:767px) {
  .article__link {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex
  }
}

.article__link:after {
  content: "";
  display: block;
  width: 7px;
  height: 14px;
  background-image: url(/images/arrow-ad964f15.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-left: 11px
}

.article__link--prev {
  padding: 17px 24px 17px 27px
}

@media (max-width:767px) {
  .article__link--prev {
    margin-bottom: 16px
  }
}

.article__link--prev:after {
  content: none
}

.article__link--prev:before {
  content: "";
  display: block;
  width: 7px;
  height: 14px;
  background-image: url(/images/arrow-ad964f15.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 11px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.article__tabs {
  padding-top: 10vw
}

@media (max-width:1260px) {
  .article__tabs {
    padding-top: 120px
  }
}