.articles__wrapper {
  padding: 20px 0 160px
}

@media (max-width:1260px) {
  .articles__wrapper {
    padding: 28px 0 118px
  }
}

@media (max-width:767px) {
  .articles__wrapper {
    padding: 21px 0 112px
  }
}

.articles__breadcrumbs {
  margin-bottom: 37px
}

@media (max-width:767px) {
  .articles__breadcrumbs {
    margin-bottom: 29px
  }
}

.articles__tabs {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 8px;
  border: 1px solid #222;
  border-radius: 4px;
  background: #121212
}

@media (max-width:767px) {
  .articles__tabs {
    max-width: 100%;
    margin-bottom: 40px
  }
}

@media (max-width:479px) {
  .articles__tabs {
    overflow-x: auto
  }
}

.articles__tabs::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent
}

.articles__tabs::-webkit-scrollbar-thumb {
  display: none
}

.articles__tab {
  position: relative;
  padding: 12px 16px 10px;
  cursor: pointer
}

@media (max-width:479px) {
  .articles__tab {
    white-space: nowrap
  }
}

.articles__tab:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #222
}

.articles__tab:last-child:after {
  display: none
}

.articles__tab--active {
  color: #f90
}

.articles__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 80px
}

@media (max-width:1260px) {
  .articles__items {
    margin-bottom: 64px
  }
}

@media (max-width:1023px) {
  .articles__items {
    margin-bottom: 40px
  }
}

.articles__item {
  border-bottom: 1px solid #222
}

.articles__item:first-child {
  border-top: 1px solid #222
}

.articles__item:hover {
  text-decoration: none
}

.articles__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}