.check__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding-top: 14.6vh;
  padding-bottom: 40px
}

@media (max-width:1260px) {
  .check__container {
    max-width: 840px;
    padding-top: 8vh
  }
}

@media (max-width:1023px) {
  .check__container {
    padding-right: 16px;
    padding-left: 16px
  }
}

@media (max-width:767px) {
  .check__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 40px
  }
}

.check__logo {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 177px;
  padding-top: 4px
}

@media (max-width:767px) {
  .check__logo {
    margin-bottom: 20px
  }
}

.check__body {
  padding-left: 134px
}

@media (max-width:1260px) {
  .check__body {
    padding-left: 40px
  }
}

@media (max-width:1023px) {
  .check__body {
    padding-left: 30px
  }
}

@media (max-width:767px) {
  .check__body {
    padding-left: 0
  }
}

.check__content {
  margin-bottom: 78px
}

@media (max-width:767px) {
  .check__content {
    margin-bottom: 36px
  }
}

.check__text+.check__text {
  margin-top: 24px
}

.check__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .check__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.check__select {
  width: 33.33%
}

@media (max-width:767px) {
  .check__select {
    width: 100%
  }
}

.check__select+.check__select {
  margin-left: 40px
}

@media (max-width:1260px) {
  .check__select+.check__select {
    margin-left: 24px
  }
}

@media (max-width:767px) {
  .check__select+.check__select {
    margin-top: 21px;
    margin-left: 0
  }
}

@media (max-width:767px) {
  .check__select .select__label {
    margin-bottom: 6px
  }
}

@media (max-width:767px) {
  .check__select .select2 .select2-selection {
    height: 50px
  }
}

.check__actions {
  margin-top: 40px
}

@media (max-width:767px) {
  .check__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 24px
  }
}

@media (max-width:767px) {
  .check__button {
    width: 100%;
    margin-bottom: 22px
  }
}

.check__link {
  margin-left: 25px
}

@media (max-width:767px) {
  .check__link {
    margin-left: 0
  }
}