.error-404__container {
  max-width: 640px;
  width: 100%;
  margin: 80px auto 96px;
  text-align: center
}

@media (max-width:1260px) {
  .error-404__container {
    margin-top: 78px;
    margin-bottom: 56px
  }
}

@media (max-width:767px) {
  .error-404__container {
    margin-top: 40px
  }
}

@media (max-width:479px) {
  .error-404__container {
    margin-top: 47px;
    margin-bottom: 54px
  }
}

.error-404__content {
  position: relative
}

.error-404__code {
  color: #121212;
  font-weight: 900;
  font-size: 300px;
  line-height: 1;
  pointer-events: none
}

@media (max-width:767px) {
  .error-404__code {
    font-size: 140px
  }
}

.error-404__description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 36px;
  line-height: 1
}

@media (max-width:767px) {
  .error-404__description {
    font-size: 18px
  }
}

.error-404__button {
  margin-top: 24px
}