.feedback__title {
  font-size: 36px;
  margin-bottom: 48px
}

@media (max-width:1260px) {
  .feedback__title {
    margin-bottom: 40px
  }
}

@media (max-width:767px) {
  .feedback__title {
    font-size: 24px
  }
}

.feedback__info {
  margin-bottom: 80px
}

@media (max-width:767px) {
  .feedback__info {
    margin-bottom: 64px
  }
}

.feedback__info p {
  margin-bottom: 25px
}

.feedback__info p:last-child {
  margin-bottom: 0
}

.feedback__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .feedback__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.feedback__column {
  max-width: 310px;
  width: 100%;
  padding-right: 16px
}

@media (max-width:767px) {
  .feedback__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 100%;
    padding-right: 0
  }
}

.feedback__column--textarea {
  max-width: 100%;
  width: 100%;
  padding-right: 0
}

@media (max-width:767px) {
  .feedback__column--textarea {
    display: block
  }
}

.feedback__place {
  margin-bottom: 12px
}

.feedback__place label {
  display: block;
  font-size: 12px;
  margin-bottom: 10px
}

@media (max-width:767px) {
  .feedback__place {
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px)
  }
}

@media (max-width:479px) {
  .feedback__place {
    width: 100%
  }
}

@media (max-width:767px) {
  .feedback__place--width {
    width: 100%
  }
}

.feedback__textarea-label {
  display: inline-block;
  margin-bottom: 10px
}

.feedback__textarea {
  width: 100%;
  height: 226px;
  color: #f90;
  font: 400 16px Arial, sans-serif;
  padding: 16px;
  background: #151515;
  border: 1px solid #222;
  border-radius: 4px;
  resize: none
}

@media (max-width:767px) {
  .feedback__textarea {
    height: 180px
  }
}

.feedback__textarea:focus {
  border-color: #f90;
  color: #fff
}

.feedback__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:767px) {
  .feedback__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.feedback__inner span {
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1
}

.feedback__button {
  margin-right: 24px
}

@media (max-width:479px) {
  .feedback__button {
    margin-bottom: 16px
  }
}

.feedback__agree-text {
  font-size: 12px;
  line-height: 1
}

@media (max-width:767px) {
  .feedback__grecaptcha {
    margin-bottom: 24px
  }
}

.feedback__grecaptcha-content {
  position: absolute;
  left: 55px;
  bottom: -5%;
  width: 240px;
  height: 60px
}

@media (max-width:767px) {
  .feedback__grecaptcha-content {
    position: static
  }
}

.feedback__submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:479px) {
  .feedback__submit {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }
}