
.page__headline {
  margin-top: 40px;
  margin-bottom: 25px
}

.page__headline:first-child {
  margin-top: 0
}

@media (max-width:1260px) {
  .page__container {
    max-width: 922px;
    padding: 0 16px
  }
}

.page__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 40px 0 80px
}

@media (max-width:1260px) {
  .page__body {
    padding: 37px 0
  }
}

@media (max-width:767px) {
  .page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 24px
  }
}

.page__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 1px;
  padding-right: 40px
}

@media (max-width:1260px) {
  .page__content {
    padding-right: 0
  }
}

@media (max-width:767px) {
  .page__content {
    width: 100%;
    margin-bottom: 60px
  }
}

.page__sidebar {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 270px
}

@media (max-width:1260px) {
  .page__sidebar {
    display: none
  }
}

@media (max-width:767px) {
  .page__sidebar {
    display: block;
    margin: 60px auto 0
  }
}

.page__item {
  display: none
}

.page__item--active {
  display: block
}

.page__filter {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .page__filter {
    margin-bottom: 23px
  }
}

.page__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 16px
}

@media (max-width:1260px) {
  .page__tabs {
    margin-bottom: 24px
  }
}

.page__tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: -webkit-calc(50% - 8px);
  width: calc(50% - 8px);
  height: 50px;
  margin-right: 16px;
  border: 1px solid #f90;
  border-radius: 4px;
  background-color: #121212;
  color: #fff;
  font-size: 18px;
  cursor: pointer
}

@media (max-width:1260px) {
  .page__tab {
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px);
    margin-right: 8px;
    background-color: #171717
  }
}

@media (max-width:479px) {
  .page__tab {
    font-size: 16px
  }
}

.page__tab:last-child {
  margin-right: 0
}

.page__tab--active {
  background-color: #f90;
  color: #171717;
  font-weight: 700
}

.page__main-card {
  margin-bottom: 40px
}

@media (max-width:767px) {
  .page__main-card {
    margin-bottom: 24px
  }
}

.page__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -38px
}

@media (max-width:1023px) {
  .page__cards {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    padding-right: 39px
  }
}

@media (max-width:767px) {
  .page__cards {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding-right: 0
  }
}

.page__card {
  width: -webkit-calc(50% - 38px);
  width: calc(50% - 38px);
  margin: 0 0 40px 38px
}

@media (max-width:1023px) {
  .page__card {
    width: 100%;
    margin: 0 0 39px
  }
}

@media (max-width:767px) {
  .page__card {
    max-width: 450px;
    margin-bottom: 23px
  }
}

.page__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 38px
}

@media (max-width:1260px) {
  .page__pagination {
    margin-top: 24px
  }
}

@media (max-width:1023px) {
  .page__pagination {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 0
  }
}

@media (max-width:767px) {
  .page__pagination {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 16px
  }
}

@media (max-width:1023px) {
  .page__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
}

.page__banners {
  display: none
}

@media (max-width:1023px) {
  .page__banners {
    display: block;
    width: 270px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
  }
}

@media (max-width:767px) {
  .page__banners {
    display: none
  }
}

.page__banner-lg,
.page__banner-md,
.page__banner-sm,
.page__banner-xs {
  margin: 24px 0;
  font-size: 0
}

.page__banner-sm {
  margin-top: 0
}

.page__addition {
  margin-top: 80px
}

@media (max-width:767px) {
  .page__addition {
    margin-top: 50px
  }
}
