.price__template {
  margin-bottom: 160px
}

@media (max-width:1260px) {
  .price__template {
    margin-bottom: 120px
  }
}

@media (max-width:767px) {
  .price__template {
    margin-bottom: 110px
  }
}