.questionnaire {
  position: relative
}

.questionnaire--disabled .questionnaire__personal-disabled {
  display: block
}

.questionnaire--disabled .questionnaire__personal-phone,
.questionnaire--disabled .questionnaire__personal-socials,
.questionnaire--disabled .questionnaire__personal-time {
  display: none
}

.questionnaire--disabled .questionnaire__sliders {
  position: relative
}

.questionnaire--disabled .questionnaire__sliders:before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.7%;
  background-color: rgba(0, 0, 0, .6)
}

@media (max-width:1260px) {
  .questionnaire--disabled .questionnaire__sliders:before {
    width: -webkit-calc(100% - 54px);
    width: calc(100% - 54px);
    left: 27px
  }
}

@media (max-width:767px) {
  .questionnaire--disabled .questionnaire__sliders:before {
    width: 100%;
    height: 100%;
    left: 0
  }
}

.questionnaire--disabled .questionnaire__personal-inner {
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit
}

.questionnaire--disabled .questionnaire__personal-inner .questionnaire__personal-id {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  margin-top: auto
}

.questionnaire__breadcrumbs {
  padding: 24px 0
}

@media (max-width:1260px) {
  .questionnaire__breadcrumbs {
    display: none
  }
}

.questionnaire__breadcrumbs--hidden {
  display: none
}

@media (max-width:1260px) {
  .questionnaire__breadcrumbs--hidden {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }
}

.questionnaire__tiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 -20px 40px
}

@media (max-width:1260px) {
  .questionnaire__tiles {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    padding-bottom: 40px;
    margin: 0 0 24px
  }
}

@media (max-width:767px) {
  .questionnaire__tiles {
    display: block;
    padding: 0 15px 32px;
    margin: 0 -15px
  }
}

.questionnaire__tiles-hidden {
  display: none
}

@media (max-width:1260px) {
  .questionnaire__tiles-hidden {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }

  .questionnaire__tiles-hidden .questionnaire__tile {
    display: block
  }
}

@media (max-width:767px) {
  .questionnaire__tiles-hidden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.questionnaire__tile {
  min-height: 100px;
  font-size: 12px;
  line-height: 17px;
  background-color: #222;
  border-radius: 4px;
  border: 1px solid #0c0c0c;
  padding: 8px 16px;
  margin-bottom: 40px
}

@media (max-width:1260px) {
  .questionnaire__tile {
    display: none;
    width: -webkit-calc(50% - 8px);
    width: calc(50% - 8px);
    margin: 0 16px 0 0
  }

  .questionnaire__tile:last-child {
    margin: 0
  }
}

@media (max-width:767px) {
  .questionnaire__tile {
    width: 100%;
    margin: 0 0 8px
  }

  .questionnaire__tile:last-child {
    margin-bottom: 0
  }
}

.questionnaire__tile-title {
  color: #1aa520;
  margin-bottom: 8px
}

.questionnaire__tile-title--red {
  color: #d22c27
}

.questionnaire__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 -20px 10vw
}

@media (max-width:1260px) {
  .questionnaire__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -20px 15.7vw
  }
}

@media (max-width:767px) {
  .questionnaire__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 0 15.7vw
  }
}

.questionnaire__column {
  width: 50%;
  padding: 66px 20px 0
}

@media (max-width:1260px) {
  .questionnaire__column {
    max-width: 735px;
    width: 100%;
    padding: 0
  }
}

@media (max-width:767px) {
  .questionnaire__column--mobile {
    padding: 0 65px
  }
}

@media (max-width:479px) {
  .questionnaire__column--mobile {
    padding: 0
  }
}

.questionnaire__column--padding {
  padding-bottom: 66px;
  padding-top: 0
}

@media (max-width:1260px) {
  .questionnaire__column--padding {
    padding-bottom: 24px
  }
}

.questionnaire__wrap {
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid #222;
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .questionnaire__wrap--hidden {
    display: none
  }
}

@media (max-width:1260px) {
  .questionnaire__wrap--mobile {
    border: none;
    padding: 0;
    margin-bottom: 40px
  }
}

@media (max-width:767px) {
  .questionnaire__wrap--mobile {
    margin-bottom: 24px
  }
}

@media (max-width:1260px) {
  .questionnaire__wrap--border {
    padding-bottom: 24px;
    margin-bottom: 24px
  }

  .questionnaire__wrap--border:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 97vw;
    height: 1px;
    background-color: #222;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

@media (max-width:767px) {
  .questionnaire__wrap--border {
    border-bottom: 1px solid #222
  }

  .questionnaire__wrap--border:before {
    content: none
  }
}

@media (max-width:1260px) {
  .questionnaire__sliders {
    padding: 0 27px
  }
}

@media (max-width:767px) {
  .questionnaire__sliders {
    padding: 0;
    margin: 0 -15px
  }
}

.questionnaire__gift-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

@media (max-width:1260px) {
  .questionnaire__gift-slider {
    padding: 0 27px
  }
}

@media (max-width:767px) {
  .questionnaire__gift-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0
  }
}

.questionnaire__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #222;
  margin-bottom: 16px
}

@media (max-width:1260px) {
  .questionnaire__header {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0 0 0 24px
  }
}

.questionnaire__header-inform {
  display: none
}

@media (max-width:767px) {
  .questionnaire__header-inform {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

@media (max-width:375px) {
  .questionnaire__header-inform {
    margin-top: 16px
  }
}

.questionnaire__header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.questionnaire__header-icon {
  max-width: 54px;
  margin-right: 8px
}

@media (max-width:1260px) {
  .questionnaire__header-icon {
    max-width: 30px
  }
}

.questionnaire__header-icon:last-child {
  margin-right: 0
}

.questionnaire__header-icon img {
  display: block
}

.questionnaire__header-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 8px
}

@media (max-width:1260px) {
  .questionnaire__header-info {
    margin-bottom: 0
  }
}

.questionnaire__header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px
}

@media (max-width:767px) {
  .questionnaire__header-text {
    font-size: 10px
  }
}

.questionnaire__header-text:last-child {
  margin-right: 0
}

.questionnaire__header-text:before {
  content: "";
  width: 16px;
  height: 12px;
  background-image: url(/images/eye-48c350ef.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 8px
}

@media (max-width:767px) {
  .questionnaire__header-text:before {
    width: 10px;
    height: 7px;
    background-size: 100%
  }
}

.questionnaire__header-text--date:before {
  width: 16px;
  height: 16px;
  background-image: url(/images/calendar-aace9be3.svg)
}

@media (max-width:767px) {
  .questionnaire__header-text--date:before {
    width: 10px;
    height: 10px;
    background-size: 100%
  }
}

.questionnaire__header-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 8px
}

@media (max-width:1260px) {
  .questionnaire__header-rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin-bottom: 0
  }
}

.questionnaire__header-count {
  color: #5c5c5c;
  font-size: 10px;
  text-align: right
}

.questionnaire__personal-disabled {
  display: none
}

.questionnaire__personal-massage {
  font-size: 24px;
  cursor: auto
}

@media (max-width:479px) {
  .questionnaire__personal-massage {
    padding: 20px 25px;
    line-height: 1
  }
}

.questionnaire__personal-massage:hover {
  background-color: #f90
}

.questionnaire__personal-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 24px
}

@media (max-width:767px) {
  .questionnaire__personal-heading {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px
  }

  .questionnaire__personal-heading .questionnaire__header-right {
    display: none
  }

  .questionnaire__personal-heading .questionnaire__personal-name {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    padding: 24px 0 0;
    margin: 0
  }
}

.questionnaire__personal-name {
  font-size: 24px;
  line-height: 1;
  margin-right: 24px
}

.questionnaire__personal-status {
  color: #f90;
  font-weight: 700;
  background-color: #151515;
  border: 1px solid #222;
  border-radius: 3px;
  line-height: 2.45;
  padding: 0 12px
}

.questionnaire__personal-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.questionnaire__personal-block .questionnaire__personal-id {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0
}

.questionnaire__personal-complain {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  margin-right: 16px;
  color: #5c5c5c;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.1;
  -webkit-transition: border-color .3s, color .3s;
  transition: border-color .3s, color .3s
}

.questionnaire__personal-complain:hover {
  border-color: #a61a1a;
  color: #a61a1a;
  text-decoration: none
}

.questionnaire__personal-complain:hover svg path {
  fill: #a61a1a
}

.questionnaire__personal-complain svg {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 4px
}

.questionnaire__personal-complain svg path {
  -webkit-transition: fill .3s;
  transition: fill .3s
}

.questionnaire__personal-id {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  color: #5c5c5c;
  text-align: right
}

.questionnaire__personal-phone {
  font-size: 24px;
  margin-bottom: 16px
}

@media (max-width:1260px) {
  .questionnaire__personal-phone {
    margin-bottom: 0
  }
}

.questionnaire__personal-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 24px
}

@media (max-width:479px) {
  .questionnaire__personal-socials {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px
  }
}

.questionnaire__personal-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #222;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer
}

@media (max-width:479px) {
  .questionnaire__personal-social {
    margin-bottom: 8px
  }
}

.questionnaire__personal-social:last-child {
  margin-right: 0
}

.questionnaire__personal-social:before {
  content: "";
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-image: url(/images/viber-icon-d0866745.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 8px
}

.questionnaire__personal-social--whatsapp:before {
  background-image: url(/images/whatsapp-icon-d3eb40c9.svg)
}

.questionnaire__personal-social--telegram:before {
  background-image: url(/images/telegram-icon-7c7d5b7c.svg)
}

@media (max-width:991px) {
  .questionnaire__personal-social--viber {
    display: none
  }
}

.questionnaire__personal-social--mobile {
  display: none
}

@media (max-width:991px) {
  .questionnaire__personal-social--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }
}

.questionnaire__personal-time {
  color: #5c5c5c
}

@media (max-width:1260px) {
  .questionnaire__personal-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

.questionnaire__personal-time span {
  color: #fff
}

.questionnaire__personal-inform {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto
}

@media (max-width:767px) {
  .questionnaire__personal-inform {
    display: none
  }
}

.questionnaire__buttons {
  margin-bottom: 8px
}

@media (max-width:1260px) {
  .questionnaire__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 27px;
    margin-bottom: 0
  }
}

@media (max-width:767px) {
  .questionnaire__buttons {
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    align-items: inherit
  }
}

@media (max-width:479px) {
  .questionnaire__buttons {
    padding: 0
  }
}

.questionnaire__buttons-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:767px) {
  .questionnaire__buttons-wrap {
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

@media (max-width:1260px) {
  .questionnaire__button {
    margin-right: 16px
  }
}

@media (max-width:767px) {
  .questionnaire__button {
    margin-right: 0
  }

  .questionnaire__button:first-child {
    width: 100%
  }

  .questionnaire__button:last-child {
    width: 180px;
    padding: 15px 25px 14px;
    margin-bottom: 16px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1
  }
}

.questionnaire__button svg g path {
  -webkit-transition: fill .3s;
  transition: fill .3s
}

.questionnaire__button:hover svg path,
.questionnaire__button:not([href]):focus svg path {
  stroke: none
}

.questionnaire__button:hover svg g path,
.questionnaire__button:hover svg path,
.questionnaire__button:not([href]):focus svg g path,
.questionnaire__button:not([href]):focus svg path {
  fill: #000
}

@media (max-width:1260px) {
  .questionnaire__button--message {
    margin-right: 0
  }
}

@media (max-width:1260px) {
  .questionnaire__button--favorites {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-right: 16px
  }
}

@media (max-width:767px) {
  .questionnaire__button--favorites {
    margin-right: 0
  }
}

.questionnaire__fans {
  color: #5c5c5c;
  text-align: right;
  margin-top: 16px
}

@media (max-width:1260px) {
  .questionnaire__fans {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    order: -1;
    margin-top: 0;
    margin-right: 16px
  }
}

@media (max-width:767px) {
  .questionnaire__fans {
    position: absolute;
    top: 3px;
    right: 216px
  }
}

@media (max-width:479px) {
  .questionnaire__fans {
    right: 183px
  }
}

.questionnaire__fans span {
  color: #fff
}

@media (max-width:767px) {
  .questionnaire__fans span {
    display: block
  }
}

.questionnaire__btn-present {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

@media (max-width:1260px) {
  .questionnaire__btn-present {
    padding: 13px 8px
  }
}

@media (max-width:767px) {
  .questionnaire__btn-present {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row
  }
}

.questionnaire__btn-present svg {
  margin-right: 0;
  margin-bottom: 8px
}

@media (max-width:767px) {
  .questionnaire__btn-present svg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    margin: -6px 0 0 10px
  }
}

.questionnaire__btn {
  text-align: right
}

@media (max-width:1260px) {
  .questionnaire__btn {
    text-align: left
  }
}

@media (max-width:1260px) {
  .questionnaire__btn-report {
    font-size: 12px;
    font-weight: 400;
    padding: 12px 23px 10px
  }
}

@media (max-width:1260px) {
  .questionnaire__reviews {
    max-width: 735px;
    width: 100%;
    margin: 0 auto
  }
}

@media (max-width:767px) {
  .questionnaire__reviews {
    padding: 0 65px
  }
}

@media (max-width:479px) {
  .questionnaire__reviews {
    padding: 0
  }
}

.questionnaire__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 6.6vh 0 0
}

.questionnaire__tabs {
  padding-top: 10vw
}

@media (max-width:1260px) {
  .questionnaire__tabs {
    padding-top: 15.6vw
  }
}

.questionnaire__personal-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px
}

@media (max-width:767px) {
  .questionnaire__personal-inner .questionnaire__header-rating {
    display: none
  }
}

.questionnaire__personal-inner .questionnaire__personal-id {
  display: none
}

.questionnaire__column-wrap {
  display: none;
  margin-bottom: 24px
}

@media (max-width:1260px) {
  .questionnaire__column-wrap {
    display: block
  }

  .questionnaire__column-wrap .questionnaire__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

@media (max-width:1260px) and (max-width:375px) {
  .questionnaire__column-wrap .questionnaire__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding: 0
  }
}

@media (max-width:1260px) {
  .questionnaire__column-wrap .questionnaire__personal {
    display: block
  }
}

.questionnaire__personal-top {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid #222;
  margin: 0 -15px 16px
}

.questionnaire__personal-top .questionnaire__header-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column
}

@media (max-width:767px) {
  .questionnaire__personal-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
  }
}

.questionnaire__bars {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s
}

.questionnaire__bars--show {
  opacity: 1;
  visibility: visible
}

.questionnaire__bars--show .questionnaire__bar,
.questionnaire__bars--show .questionnaire__bar--bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.questionnaire__bars--top .questionnaire__bar--bottom {
  -webkit-transform: translateY(150%);
  transform: translateY(150%)
}

.questionnaire__bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #171717;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

.questionnaire__bar--bottom {
  top: auto;
  bottom: 0;
  padding: 8px;
  -webkit-transform: translateY(150%);
  transform: translateY(150%)
}

.questionnaire__bar--bottom,
.questionnaire__bar-name {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.questionnaire__bar-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  padding: 15px 16px
}

.questionnaire__bar-back {
  width: 42px;
  height: 55px;
  background-image: url(/images/arrow-left-34b34338.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-right: 1px solid #222
}

.questionnaire__bar-btn {
  width: -webkit-calc(50% - 4px);
  width: calc(50% - 4px);
  padding: 10px 32px 9px
}

.questionnaire__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 24px 0 14px
}

@media (max-width:1260px) {
  .questionnaire__navigation {
    display: none
  }
}

.questionnaire__navigation--mobile {
  display: none
}

@media (max-width:1260px) {
  .questionnaire__navigation--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 0
  }
}

.questionnaire__navigation-next,
.questionnaire__navigation-prev {
  cursor: pointer;
  font-size: 0
}

.questionnaire__navigation-next:hover svg circle,
.questionnaire__navigation-prev:hover svg circle {
  stroke: #f90
}

.questionnaire__navigation-next:hover svg path,
.questionnaire__navigation-prev:hover svg path {
  fill: #f90
}

.questionnaire__navigation-next:active svg circle,
.questionnaire__navigation-prev:active svg circle {
  stroke: #e58a00
}

.questionnaire__navigation-next:active svg path,
.questionnaire__navigation-prev:active svg path {
  fill: #e58a00
}

.questionnaire__navigation-next svg circle,
.questionnaire__navigation-next svg path,
.questionnaire__navigation-prev svg circle,
.questionnaire__navigation-prev svg path {
  -webkit-transition: stroke .3s, fill .3s;
  transition: stroke .3s, fill .3s
}

.questionnaire__navigation-prev {
  margin-right: 8px
}