.reconstruction {
  position: relative;
  z-index: 2;
  height: 100vh;
  padding-top: 44px;
  padding-bottom: 50px;
  background-image: url(/images/reconstruction-bg-0f1d00a7.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: center
}

@media (max-width:1260px) {
  .reconstruction {
    padding-top: 50px
  }
}

.reconstruction:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4)
}

@media (max-width:767px) {
  .reconstruction__container {
    max-width: 318px
  }
}

@media (max-width:479px) {
  .reconstruction__container {
    max-width: 100%
  }
}

.reconstruction__content {
  margin-top: 15vh
}

@media (max-width:1260px) {
  .reconstruction__content {
    margin-top: 11vh
  }
}

@media (max-width:767px) {
  .reconstruction__content {
    margin-top: 13.1vh
  }
}

.reconstruction__title {
  margin-bottom: 10px;
  font-size: 36px
}

@media (max-width:767px) {
  .reconstruction__title {
    margin-bottom: 28px;
    font-size: 18px
  }
}

.reconstruction__description {
  margin-bottom: 71px;
  font-size: 18px
}

@media (max-width:767px) {
  .reconstruction__description {
    margin-bottom: 76px;
    font-size: 14px
  }
}

.reconstruction__subtitle {
  margin-bottom: 20px;
  font-size: 18px
}

@media (max-width:767px) {
  .reconstruction__subtitle {
    margin-bottom: 12px;
    font-size: 14px
  }
}

.reconstruction__timer {
  max-width: 518px;
  width: 100%;
  margin: 0 auto
}