.warning {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 50px
}

@media (max-width:767px) {
  .warning {
    padding-top: 50px
  }
}

.warning__container {
  max-width: 610px;
  width: 100%;
  padding: 0 15px
}

.warning__logo {
  margin-bottom: 112px
}

@media (max-width:1260px) {
  .warning__logo {
    margin-bottom: 80px
  }
}

@media (max-width:1023px) {
  .warning__logo {
    margin-bottom: 50px
  }
}

.warning__title {
  margin-bottom: 39px;
  font-size: 36px
}

@media (max-width:767px) {
  .warning__title {
    margin-bottom: 30px;
    font-size: 26px
  }
}

.warning__text {
  margin-bottom: 65px
}

@media (max-width:767px) {
  .warning__text {
    margin-bottom: 40px
  }
}

.warning__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.warning__button {
  margin-top: 15px;
  margin-right: 22px
}

.warning__button:last-child {
  margin-right: 0
}