
*,
:after,
:before {
  box-sizing: border-box
}

html {
  table-layout: fixed;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body,
html {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%
}

body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0;
  font-family: $font-family-base, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #171717;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

@-ms-viewport {
  width: device-width
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 14px
}

h4,
h5 {
  color: #f90;
  font-weight: 700
}

h5 {
  font-size: 12px
}

p {
  color: #fff;
  font-size: 14px
}

a {
  display: inline-block;
  color: #f90;
  text-decoration: none
}

a:hover {
  color: #f90;
  text-decoration: none
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

ol,
ul {
  list-style: none
}

img {
  max-width: 100%;
  height: auto
}

button,
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

.no-scroll {
  overflow: hidden
}

.placeholder {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #151515), color-stop(18%, #222), color-stop(33%, #151515));
  background-image: linear-gradient(90deg, #151515 2%, #222 18%, #151515 33%);
  background-size: 1300px;
  -webkit-animation-name: placeholderAnimate;
  animation-name: placeholderAnimate;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}

@-webkit-keyframes placeholderAnimate {
  0% {
    background-position: -650px 0
  }

  to {
    background-position: 650px 0
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0
  }

  to {
    background-position: 650px 0
  }
}


.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto
}

@media (max-width:1260px) {
  .container {
    max-width: 992px
  }
}

@media (max-width:1023px) {
  .container {
    max-width: 736px
  }
}

@media (max-width:767px) {
  .container {
    max-width: 100%;
    padding: 0 15px
  }
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column
}

