// Link

.link {
  border: none;
  background-color: transparent;
  color: #5c5c5c;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s
}

.link:hover {
  color: #f90;
  text-decoration: none
}

.link--disabled {
  color: #222;
  pointer-events: none
}

// Headline

.headline {
  padding: 12px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #f90;
  font-weight: 700;
  font-size: 14px;
  text-align: center
}

// Button

.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 15px 32px 14px;
  border: 1px solid #f90;
  border-radius: 4px;
  background-color: #f90;
  color: #171717;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  -webkit-transition-property: border, background-color, color;
  transition-property: border, background-color, color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.button:hover,
.button:not([href]):focus {
  border-color: #cc8f00;
  background-color: #cc8f00;
  text-decoration: none
}

.button svg,
.button svg path {
  -webkit-transition: fill .3s, stroke .3s;
  transition: fill .3s, stroke .3s
}

.button img,
.button svg {
  margin-right: 10px
}

.button--icon-right img,
.button--icon-right svg {
  margin-right: 0;
  margin-left: 10px
}

.button--disabled {
  border-color: #222;
  background-color: #222;
  color: #5c5c5c;
  pointer-events: none
}

.button--disabled-transparent {
  border-color: inherit;
  background-color: #171717;
  color: #222;
  pointer-events: none
}

.button--transparent {
  background-color: transparent;
  color: #f90
}

.button--transparent:hover,
.button--transparent:not([href]):focus {
  background-color: #f90;
  color: #171717
}

.button--transparent:hover svg path[fill],
.button--transparent:not([href]):focus svg path[fill] {
  fill: #171717
}

.button--transparent:hover svg path[stroke],
.button--transparent:not([href]):focus svg path[stroke] {
  stroke: #171717
}

.button--confirm {
  border-color: #1aa520;
  background-color: #1aa520;
  color: #fff
}

.button--confirm:hover {
  border-color: #21b527;
  background-color: #21b527
}

.button--reject {
  border-color: #a61a1a;
  background-color: #a61a1a;
  color: #fff
}

.button--reject:hover {
  border-color: #bf1e1e;
  background-color: #bf1e1e
}

.button--white {
  background-color: transparent
}

.button--grey,
.button--white {
  border-color: #171717;
  color: #fff
}

.button--grey {
  background-color: #171717
}

.button--transparent-report {
  color: #a61a1a;
  background-color: transparent;
  border-color: #a61a1a
}

.button--transparent-report:active,
.button--transparent-report:hover,
.button--transparent-report:not([href]):focus {
  color: #171717;
  background-color: #a61a1a;
  border-color: #a61a1a
}