.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #222;
  background-color: #121212
}

.footer__top {
  padding: 25px 0;
  border-bottom: 1px solid #222
}

@media (max-width:1260px) {
  .footer__top {
    padding: 21px 0 15px
  }
}

@media (max-width:1023px) {
  .footer__top {
    padding-top: 19px
  }
}

@media (max-width:767px) {
  .footer__top {
    padding-top: 20px
  }
}

@media (max-width:479px) {
  .footer__top {
    padding: 18px 0
  }
}

.footer__holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

@media (max-width:479px) {
  .footer__holder {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

.footer__app-store {
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

@media (max-width:1260px) {
  .footer__app-store {
    display: none
  }
}

@media (max-width:767px) {
  .footer__app-store {
    display: block;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    padding-top: 8px
  }
}

@media (max-width:479px) {
  .footer__app-store {
    padding-top: 0;
    padding-bottom: 10px
  }
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .footer__menu {
    display: inline-block;
    -webkit-columns: 2 auto;
    -moz-columns: 2 auto;
    column-count: 2;
    grid-column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0
  }
}

@media (max-width:479px) {
  .footer__menu {
    -webkit-columns: 1;
    -moz-columns: 1;
    column-count: 1
  }
}

.footer__menu-item {
  margin-right: 32px
}

@media (max-width:1260px) {
  .footer__menu-item {
    margin-right: 40px
  }
}

@media (max-width:1023px) {
  .footer__menu-item {
    margin-right: 24px
  }
}

@media (max-width:767px) {
  .footer__menu-item {
    margin-right: 0;
    margin-bottom: 7px
  }
}

.footer__menu-item:last-child {
  margin-right: 14px
}

@media (max-width:1260px) {
  .footer__menu-item:last-child {
    margin-right: 0
  }
}

@media (max-width:1023px) {
  .footer__menu-link {
    font-size: 12px
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px 0 40px
}

@media (max-width:1260px) {
  .footer__bottom {
    padding: 17px 0 20px
  }
}

@media (max-width:479px) {
  .footer__bottom {
    padding-top: 14px
  }
}

@media (max-width:1260px) {
  .footer__copyright {
    display: none
  }
}

.footer__copyright-text {
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1.2
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-right: 8px
}

@media (max-width:1260px) {
  .footer__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-right: 0
  }
}

@media (max-width:1023px) {
  .footer__content {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
  }
}

@media (max-width:767px) {
  .footer__content {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
  }
}

@media (max-width:1260px) {
  .footer__descr {
    line-height: 1
  }
}

.footer__text {
  font-size: 12px;
  line-height: 1.2
}

@media (max-width:1260px) {
  .footer__text {
    display: inline;
    line-height: 1
  }
}

.footer__age-limit {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 28px;
  height: 28px;
  margin-left: 65px;
  border-radius: 50%;
  opacity: .3
}

@media (max-width:767px) {
  .footer__age-limit {
    margin-bottom: 2px;
    margin-left: 44px
  }
}

@media (max-width:479px) {
  .footer__age-limit {
    margin-bottom: 0;
    margin-left: 15px
  }
}

.footer__laptop {
  display: none
}

@media (max-width:1260px) {
  .footer__laptop {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px
  }
}

@media (max-width:1023px) {
  .footer__laptop {
    padding-right: 5px
  }
}

@media (max-width:767px) {
  .footer__laptop {
    padding-right: 0
  }
}

@media (max-width:479px) {
  .footer__laptop {
    margin-top: 12px
  }
}

@media (max-width:1260px) {

  .footer__laptop .footer__app-store,
  .footer__laptop .footer__copyright {
    display: block
  }
}

@media (max-width:767px) {
  .footer__laptop .footer__app-store {
    display: none
  }
}

.footer__laptop .footer__copyright {
  padding-top: 8px
}

@media (max-width:767px) {
  .footer__laptop .footer__copyright {
    padding-top: 0
  }
}

