.header {
  background-color: #0c0c0c
}

.header--basic .header__inner {
  padding: 12px 0
}

@media (max-width:1260px) {
  .header--basic .header__inner {
    padding-right: 15px;
    padding-left: 15px
  }
}

.header--basic .header__body {
  display: none
}

.header__wrapper {
  position: relative
}

@media (max-width:1260px) {
  .header__container {
    max-width: 100%;
    padding: 0
  }
}

@media (max-width:767px) {
  .header__body .header__container {
    max-width: 320px;
    margin: 0 auto
  }
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 18px 0
}

@media (max-width:1260px) {
  .header__inner {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (max-width:767px) {
  .header__inner {
    padding-top: 19px;
    padding-bottom: 19px
  }
}

.header__body {
  padding-top: 22px;
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717
}

@media (max-width:1260px) {
  .header__body {
    padding-top: 24px
  }
}

@media (max-width:767px) {
  .header__body {
    display: none;
    position: absolute;
    z-index: 15;
    top: 100%;
    right: 0;
    left: 0;
    padding: 24px 16px;
    background-color: #0c0c0c
  }
}

.header__section {
  display: none
}

@media (max-width:767px) {
  .header__section {
    display: block;
    padding: 8px 16px;
    border-top: 1px solid #171717
  }
}

.header__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

@media (max-width:767px) {
  .header__info {
    display: none
  }
}

.header__cabinet,
.header__favorites,
.header__language {
  margin-left: 15px
}

@media (max-width:1260px) {

  .header__cabinet,
  .header__favorites,
  .header__language {
    margin-left: 8px
  }
}

.header__language-placeholder {
  width: 152px
}

.header__language-select {
  display: none
}

.header__favorites {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #171717;
  border-radius: 4px;
  cursor: pointer
}

.header__favorites,
.header__favorites-amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.header__favorites-amount {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  border: 1px solid #0c0c0c;
  border-radius: 50%;
  background-color: #222;
  color: #f90;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -1px
}

@media (max-width:1023px) {
  .header__cabinet {
    width: 50px;
    height: 50px;
    padding: 0
  }
}

.header__cabinet:hover {
  color: #171717
}

.header__cabinet:hover svg path {
  stroke: #171717
}

@media (max-width:1023px) {

  .header__cabinet img,
  .header__cabinet svg {
    margin-right: 0
  }
}

@media (max-width:1023px) {
  .header__cabinet span {
    display: none
  }
}

.header__account {
  display: none;
  min-width: 203px;
  margin-left: 16px
}

@media (max-width:1260px) {
  .header__account {
    margin-left: 8px
  }
}

@media (max-width:1023px) {
  .header__account {
    min-width: auto
  }
}

@media (max-width:1260px) {
  .header__search {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (max-width:767px) {
  .header__search {
    padding-right: 0;
    padding-left: 0
  }
}

.header__menu {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 38px
}

@media (max-width:1260px) {
  .header__menu {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (max-width:767px) {
  .header__menu {
    display: none
  }
}

.header__menu::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0
}

.header__menu::-webkit-scrollbar-thumb {
  display: none;
  background-color: transparent
}

.header__actions {
  display: none
}

@media (max-width:767px) {
  .header__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
  }
}

.header__action {
  margin-right: 25px;
  cursor: pointer
}

.header__action:last-child {
  margin-right: 0
}

.header__menu-mobile {
  display: none
}

@media (max-width:767px) {
  .header__menu-mobile {
    display: block;
    margin-top: 24px
  }
}

.header__pannel {
  position: absolute;
  z-index: 15;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  padding: 16px;
  border-top: 1px solid #222;
  background-color: #0c0c0c
}

.header__pannel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto
}

.header__pannel-account,
.header__pannel-button {
  margin-bottom: 16px
}

.header__pannel-button:hover {
  color: #171717
}

.header__pannel-button:hover svg path {
  stroke: #171717
}

.header__pannel-select {
  margin-top: 16px
}